
#rolesDetailsBtn{
    position: absolute;
    bottom: 50px;
    left: 10px;
    z-index: 10;
}
.form-group {
    margin-bottom: 1rem;
    direction: rtl;
    text-align: right;
}
.mat-list-item {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    float: right;
    margin-right: 15px;
}
