<button type="button" class="close" matTooltip="סגירה" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
</button>
<div class="row" id="page-toshow">
    <div class="col-12" dir="rtl">
        <div class="col-12" *ngIf="!patientFound">
            <div dir="rtl" class="card w-85-p">
                <div dir="rtl" class="card-body">
                    <form class="form" [formGroup]="searchPatient">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <mat-form-field>
                                        <label><b>חיפוש</b> - הקלד תעודת
                                            זהות</label>
                                        <input matInput autocomplete="off" formControlName="Passport"
                                            name="fliterVal" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h4 class="searchingPatient" *ngIf="!searchPatientProgressBar" style="font-size: 18px;">
                                    מחפש מטופל
                                    ... </h4>
                            </div>
                            <div class="col-3">
                                <button type="submit" mat-raised-button color="yello" (click)="getPatients()"
                                    style="margin-left: 100px;">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </div>
                            <div class="col-3">
                                <button mat-raised-button color="yello" type="button" (click)="clearSearch()">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <mat-progress-bar mode="buffer" *ngIf="!searchPatientProgressBar"></mat-progress-bar>
            </div>
        </div>

        <mat-vertical-stepper *ngIf="patientFound" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="detailsFormGroup">
                <form [formGroup]="detailsFormGroup">
                    <ng-template matStepLabel>פרטים דמוגרפיים</ng-template>
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>שם פרטי</mat-label>
                                <input matInput formControlName="FirstName">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>שם משפחה</mat-label>
                                <input matInput formControlName="LastName">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>מספר תעודת זהות</mat-label>
                                <input matInput formControlName="PersonID">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>תאריך לידה</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="DOB" (focus)="picker.open()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            </mat-form-field>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <mat-label>מגדר : </mat-label>
                            <mat-radio-group class="example-radio-group" formControlName="Gender">
                                <mat-radio-button value="1" style="margin-left: 20px;margin-right: 20px;">זכר
                                </mat-radio-button>
                                <mat-radio-button value="2" style="margin-left: 20px;">נקבה</mat-radio-button>
                                <mat-radio-button value="3">אחר</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>מספר טלפון</mat-label>
                                <input matInput formControlName="PhoneNumber">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>אימייל</mat-label>
                                <input matInput formControlName="Email">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>כתובת</mat-label>
                                <input matInput formControlName="Address">
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- <div>
                        <button mat-raised-button matStepperNext>הבא</button>
                    </div> -->
                    <div class="button-row">
                        <button class="full-width mb-5" style="font-weight: bold;font-size: 20px;color: white;"
                            color="primary" type="submit" (click)="onNoClick()" mat-raised-button>
                            <span>שמירת פרטים</span>
                        </button>
                    </div>
                </form>
            </mat-step>
            <!-- <mat-step [stepControl]="actionForm">
                <form [formGroup]="actionForm">
                    <ng-template matStepLabel>סוג שירות</ng-template>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>פעולה</mat-label>
                                <input type="text" aria-label="Number" matInput [formControl]="actionControl"
                                    [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async"
                                        [value]="option.ActionValue">
                                        {{option.ActionValue}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-6 text-right">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>הוראות לתרופות</mat-label>
                                <input type="text" aria-label="MidsOrders" matInput [formControl]="midsControl"
                                    [matAutocomplete]="auto1">
                                <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                                    <mat-option *ngFor="let mid of filteredOptions2 | async" [value]="mid.MidsValue">
                                        {{mid.MidsValue}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="button-row">
                        <button class="full-width mb-5" style="font-weight: bold;font-size: 20px;color: white;"
                            color="primary" type="submit" (click)="onNoClick()" mat-raised-button>
                            <span>שמירה ושליחה לפקידה</span>
                        </button>
                    </div>
                    <div>
                        <button mat-raised-button matStepperPrevious>חזרה</button>
                        <button mat-stroked-button (click)="stepper.reset()">איפוס</button>
                    </div>
                </form>
            </mat-step> -->
        </mat-vertical-stepper>
    </div>
</div>