#rolesDetailsBtn{
    position: fixed;
    bottom: 50px;
    left: 125px;
    z-index: 10;
  }
  table{
    width: 95%;
    margin: 10px 23px 1px 0px;
  }
  .mat-row:nth-child(even){
    background-color: floralwhite;
  }
   
  .mat-row:nth-child(odd){
    background-color: aliceblue;
  }
  .mat-row:hover {
    background-color: darkgray;
    cursor: pointer;
  }
  .container{
    min-width: 100%;
  }