<div *ngIf="managerType == 'unknown'">
    <mat-card class="card" style="box-shadow: 2px 2px 4px 1px;" (click)="chooseManagerTypeForMultiple('stager')">
        <mat-card-content>ניהול סטאזרים</mat-card-content>
    </mat-card>
    <mat-card class="card" style="box-shadow: 2px 2px 4px 1px;" (click)="chooseManagerTypeForMultiple('hr')">
        <mat-card-content>ניהול כח אדם</mat-card-content>
    </mat-card>
</div>
<div class="container" *ngIf="managerType != 'unknown'">
    <h1 class="page-title text-center" *ngIf="managerType == 'research'">ניהול עובדי קרן מחקרים</h1>
    <h1 class="page-title text-center" *ngIf="managerType == 'hr' || managerType == 'admin'">ניהול עובדים</h1>
    <h1 class="page-title text-center" *ngIf="managerType == 'stager'">ניהול סטאג'רים</h1>
    <div class="container-fluid trans-80 mb-2">
        <div class="row search-cont">
            <div class="col">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form" [formGroup]="searchEmployeesGroup">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput type="text" autocomplete="off" placeholder="תעודת זהות"
                                                formControlName="EmpID" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput type="text" autocomplete="off" placeholder="שם פרטי"
                                                formControlName="EmpFirstName" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput type="text" autocomplete="off" placeholder="שם משפחה"
                                                formControlName="EmpLastName" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-4">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>אלקטיב</mat-label>
                                            <mat-select formControlName="Elective">
                                                <mat-option value="0">הכל</mat-option>
                                                <mat-option value="1">
                                                    כן
                                                </mat-option>
                                                <mat-option value="2">
                                                    לא
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div> -->
                                <div class="col-3">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>מספר טלפון</mat-label>
                                            <input type="tel" matInput autocomplete="off" placeholder="מספר טלפון"
                                                formControlName="PhoneNumber" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>פעיל</mat-label>
                                            <mat-select formControlName="On">
                                                <mat-option value="0">הכל</mat-option>
                                                <mat-option value="1">
                                                    כן
                                                </mat-option>
                                                <mat-option value="2">
                                                    לא
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>בוגר לימודי רפואה</mat-label>
                                            <mat-select formControlName="MedGrad">
                                                <mat-option value="0">הכל</mat-option>
                                                <mat-option value="1">
                                                    כן
                                                </mat-option>
                                                <mat-option value="2">
                                                    לא
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>מאושר ממשאבי אנוש</mat-label>
                                            <mat-select formControlName="StatusRow">
                                                <mat-option value="2">הכל</mat-option>
                                                <mat-option value="1">
                                                    כן
                                                </mat-option>
                                                <mat-option value="0">
                                                    לא
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>מחלקה</mat-label>
                                            <mat-select formControlName="Department" aria-placeholder="מחלקה">
                                                <mat-option [value]="''">
                                                    הכל </mat-option>
                                                <mat-option *ngFor="let dept of DepartmentsList"
                                                    [value]="dept.DepartnentDescripton">
                                                    {{dept.DepartnentDescripton}} </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>תפקיד</mat-label>
                                            <mat-select formControlName="Role" aria-placeholder="תיאור תפקיד">
                                                <mat-option [value]="''">
                                                    הכל </mat-option>
                                                <mat-option *ngFor="let func of FunctionsList"
                                                    [value]="func.FunctionID">
                                                    {{func.FunctionDescription}} </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>סקטור</mat-label>
                                            <mat-select formControlName="Sektor" aria-placeholder="סקטור">
                                                <mat-option value="">
                                                    הכל </mat-option>
                                                <mat-option *ngFor="let sek of SektorsList"
                                                    [value]="sek.EmployeeSektorID">
                                                    {{sek.EmployeeSektorDescription}} </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>מיקום עבודה</mat-label>
                                            <mat-select formControlName="WorkPlace" aria-placeholder="מיקום עבודה">
                                                <mat-option value="">
                                                    הכל </mat-option>
                                                <mat-option *ngFor="let work of WorkPlacesList"
                                                    [value]="work.WorkPlaceID">
                                                    {{work.WorkPlaceDescription}} </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <button matTooltip="חיפוש" mat-raised-button type="submit"
                                class="btn btn-primary btn-raised" (click)="GetEmployeesToUpdate(managerType,false)">
                                <span class="material-icons">
                                    search
                                </span>
                            </button>
                            &nbsp;&nbsp;
                            <!-- <button matTooltip="הדפסה" mat-raised-button type="button"
                                class="btn btn-primary btn-raised">
                                <span class="material-icons">
                                    local_printshop
                                </span>
                            </button> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- <mat-progress-bar mode="buffer" id="buffer" *ngIf="Patientsloading"></mat-progress-bar> -->
    </div>
    <div dir="rtl" style="padding-bottom: 10%;">
        <div class="row" style="margin-right: 10px;width: 95%;margin-bottom: -8px;">
            <div class="col-11">
                <mat-form-field appearance="standard" style="padding-right: 10px;">
                    <mat-label class="filterClass">מסנן</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="הקלד מסנן" #input>
                </mat-form-field>
            </div>
            <div class="col-1">
                <div class="example-button-container">
                    <button mat-fab color="accent" aria-label="Excel" (click)="GetEmployeesToUpdate(managerType, true)"
                        matTooltip="יצוא לאקסל">
                        <mat-icon>get_app</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="EmployeeID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> תעודת זהות
                </th>
                <td mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.EmployeeID}} </td>
            </ng-container>

            <ng-container matColumnDef="FirstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> שם פרטי
                </th>
                <td mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.FirstName}} </td>
            </ng-container>

            <ng-container matColumnDef="LastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> שם משפחה
                </th>
                <td mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.LastName}}
                </td>
            </ng-container>

            <ng-container matColumnDef="DepartnentDescripton">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> מחלקה
                </th>
                <td mat-cell *matCellDef="let element" style="justify-content: center;">
                    {{element.DepartnentDescripton}}
                </td>
            </ng-container>

            <ng-container matColumnDef="FunctionDescription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> תפקיד
                </th>
                <td mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.FunctionDescription}}
                </td>
            </ng-container>

            <ng-container matColumnDef="CellNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> טלפון נייד
                </th>
                <td mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.CellNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="Gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> מגדר </th>
                <td mat-cell *matCellDef="let element" style="justify-content: center;"><span
                        *ngIf="element.Gender == 'Male'">זכר</span><span *ngIf="element.Gender == 'Female'">נקבה</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="DateOfBirth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> תאריך לידה
                </th>
                <td mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.DateOfBirth}}</td>
            </ng-container>

            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> מייל
                </th>
                <td mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.Email}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let even=even; columns: displayedColumns;"
                (click)="addUpdateEmployee(row)">
            </tr>
        </table>
        <button type="button" id="rolesDetailsBtn" mat-fab color="primary" matTooltip="הוספת עובד חדש"
            (click)="addUpdateEmployee('')"><i class="material-icons">add</i></button>
        <div class="text-right" style="padding-bottom: 8%;">
            <mat-paginator style="float: right;" [pageSizeOptions]="[15,25,50,100]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
    <table id="excel-table" dir="rtl" style="display: none;">
        <tr>
            <th>תעודת זהות</th>
            <th>שם פרטי</th>
            <th>שם משפחה</th>
            <th>טלפון נייד</th>
            <th>מייל</th>
            <th>מגדר</th>
            <th>תאריך תחילת עבודה</th>
            <th>תאריך סיום עבודה</th>
            <th>תאריך לידה</th>
            <th>סוג עובד</th>
            <th>מקום עבודה</th>
            <th>תאריך עדכון</th>
            <th>רישיון רופא</th>
            <th>תחילת ניסיון רופא</th>
            <th>מיקום לימודים</th>
            <th>מדינת לימודים</th>
            <th>אונבירסיטת לימודים</th>
            <th>דירוג</th>
            <th>מחלקה</th>
            <th>סקטור</th>
            <th>הערות</th>

        </tr>
        <tr *ngFor="let emp of dataSourceExcel.filteredData">
            <td> {{emp.EmployeeID}} </td>
            <td> {{emp.FirstName}} </td>
            <td> {{emp.LastName}} </td>
            <td> {{emp.CellNumber}} </td>
            <td> {{emp.Email}} </td>
            <td> {{emp.Gender}} </td>
            <td> {{emp.StartWorkDate}} </td>
            <td> {{emp.EndWorkDate}} </td>
            <td> {{emp.DateOfBirth}} </td>
            <td> {{emp.FunctionDescription}} </td>
            <td> {{emp.WorkPlace.WorkPlaceDescription}} </td>
            <td> {{emp.UpdateDate}} </td>
            <td> {{emp.DocLicence}} </td>
            <td> {{emp.DocStartExperience}} </td>
            <td> {{emp.InternLearnCountry}} </td>
            <td> {{emp.InternLearnCountryDesc}} </td>
            <td> {{emp.InternUniversity}} </td>
            <td> {{emp.RankID}} </td>
            <td> {{emp.DepartnentDescripton}} </td>
            <td> {{emp.EmployeeBlossomSektor.EmployeeSektorBlossomDescription}} </td>
            <td> {{emp.Remarks}} </td>
        </tr>
    </table>
</div>