<div class="container-fluid pb-5" dir="rtl">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    הקודם
                </div>
                <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                    היום
                </div>
                <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    הבא
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                    [class.active]="view === CalendarView.Month">
                    חודש
                </div>
                <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                    [class.active]="view === CalendarView.Week">
                    שבוע
                </div>
                <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                    [class.active]="view === CalendarView.Day">
                    יום
                </div>
            </div>
        </div>
    </div>
    <br />
    <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day, $event);"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
    </div>

    <br /><br /><br />

    <ng-template #modalContent let-close="close">
        <div class="modal-header">
            <h5 class="modal-title float-right">לבצע שינויים</h5>
            <button type="button" class="close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <!-- שינוי:
                <pre>{{ modalData?.event | json }}</pre> -->
                <pre>
            <h4 class="float-right mb-2"> הוסף תור</h4>
            <button class="btn btn-primary float-left mb-2" (click)="addEvent(modalData?.event.day.date)"><span>הוספה</span>
            </button>
            <div class="clearfix"></div>

    <div class="table-responsive" dir="rtl">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>שם מטופל</th>
                    <th>צבע ראשי</th>
                    <th>מתחיל בתאריך</th>
                    <th>פעולה</th>
                    <th>הוראות לתרופות</th>
                    <th>מחיקה</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let event of modalData?.event.day.events">
                    <td matTooltipPosition="above" matTooltip="שם מלא: {{event.patientDetails.FirstName}} {{event.patientDetails.LastName}}&#13;תעודת זהות: {{event.patientDetails.PersonID}}&#13;תאריך לידה: {{event.patientDetails.DOB}}&#13;מגדר: {{event.patientDetails.Gender}}&#13;מספר טלפון: {{event.patientDetails.PhoneNumber}}&#13;מייל: {{event.patientDetails.Email}}&#13;כתובת: {{event.patientDetails.Address}}">
                        <input type="text" class="form-control" [(ngModel)]="event.title" placeholder="שם המטופל" (keyup)="refresh.next()" />
                    </td>
                    <td>
                        <input type="color" [(ngModel)]="event.color" (change)="refresh.next()" />
                    </td>
                    <td>
                        <input class="form-control" type="date" mwlFlatpickr [(ngModel)]="event.start"
                            (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true"
                            [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
                    </td>
                    <td>
                        <textarea type="text" class="form-control" [(ngModel)]="event.patientAction.PatientAction" placeholder="פעולה" (keyup)="refresh.next()"></textarea>
                    </td>
                    <td>
                        <textarea type="text" class="form-control" [(ngModel)]="event.patientAction.MidsOrder" placeholder="הוראות לתרופות" (keyup)="refresh.next()"></textarea>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteEvent(event)">
                            מחיקה
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
                </pre>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="saveDayEvents(modalData?.event.day.date)">
                אישור
            </button>
        </div>
    </ng-template>
</div>

<!-- <h2 class="page-title text-center">רשימת שאלונים</h2>

<div id="page-toshow">
    <div class="container-fluid">
        <div class="row">
            <div dir="rtl" class="card w-85-p">
                <div class="card-body">
                    <h5 class="text-center">תיבת חיפוש</h5>
                    <form class="form" [formGroup]="patientSearch">
                        <div class="row">
                            <div class="form-group mt-3 col-lg-6 col-sm-12 col-xs-12">
                                <mat-form-field>
                                    <input matInput formControlName="searchWord" autocomplete="off"
                                        placeholder="שם מטופל" name="fliterVal" />
                                </mat-form-field>
                            </div>
                            <div class="form-group mt-3 col-lg-6 col-sm-12 col-xs-12">
                                <mat-form-field>
                                    <input matInput formControlName="passportSearch" autocomplete="off"
                                        placeholder="תעודת זהות" name="fliterVal" />
                                </mat-form-field>
                            </div>
                            <div class="form-group mt-3 col-lg-6 col-sm-12 col-xs-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>מ-תאריך</mat-label>
                                    <input matInput [matDatepicker]="picker2" formControlName="fromDate"
                                        (focus)="picker2.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                </mat-form-field>
                                <mat-datepicker #picker2></mat-datepicker>
                            </div>
                            <div class="form-group mt-3 col-lg-6 col-sm-12 col-xs-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>עד-תאריך</mat-label>
                                    <input matInput [matDatepicker]="picker3" formControlName="untilDate"
                                        (focus)="picker3.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                </mat-form-field>
                                <mat-datepicker #picker3></mat-datepicker>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-primary btn-raised" (click)="getPatientsQueues()">
                            <span class="material-icons">
                                search
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div><br><br>

    <div dir="rtl">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="passport">
                <mat-header-cell *matHeaderCellDef
                    style="font-size: 20px; background-color: rgb(235, 231, 231);justify-content: center;"> תעודת זהות
                </mat-header-cell>
                <mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.PersonID}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="patientname">
                <mat-header-cell *matHeaderCellDef
                    style="font-size: 20px; background-color: rgb(235, 231, 231);justify-content: center;"> שם מטופל
                </mat-header-cell>
                <mat-cell *matCellDef="let element" style="justify-content: center;text-align: center;">
                    {{element.PersonFullName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="datetime">
                <mat-header-cell *matHeaderCellDef
                    style="font-size: 20px; background-color: rgb(235, 231, 231);justify-content: center;"> תאריך ושעת
                    זימון
                </mat-header-cell>
                <mat-cell *matCellDef="let element" style="justify-content: center;">{{element.ArrivalDate}}
                    {{element.ArrivalTime}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef
                    style="font-size: 20px; background-color: rgb(235, 231, 231);justify-content: center;"> פעולה
                </mat-header-cell>
                <mat-cell *matCellDef="let element" style="justify-content: center;">{{element.PatientAction}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="update">
                <mat-header-cell *matHeaderCellDef
                    style="font-size: 20px; background-color: rgb(235, 231, 231);justify-content: center;"> עדכון פרטים
                </mat-header-cell>
                <mat-cell *matCellDef="let element" style="justify-content: center;"> <button mat-raised-button
                        matTooltip="עריכת זימון" color="accent" (click)="openToAddUpdateAction('1',element)"><span
                            class="material-icons">
                            edit
                        </span></button></mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <button type="button" id="rolesDetailsBtn" mat-fab color="primary" (click)="openToAddUpdateAction('0','')"><i
                class="material-icons" matTooltip="הוספת מטופל">add</i></button>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
</div> -->