<div id="page-toshow">
    <h1 class="page-title text-center">מחלקות</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                autocomplete="off"
                                                placeholder="חפש"
                                                [(ngModel)]="fliterVal"
                                                name="fliterVal"
                                            />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <button
                                mat-raised-button
                                type="submit"
                                class="btn btn-primary btn-raised"
                                (click)="getReport($event)"
                            >
                                חפש
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container-fluid pb-60">
        <div class="row">
            <div dir="rtl" class="col">
                <div class="table-responsive">
                    <div class="table-spinner-container">
                        <!-- <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חפש">
                            </mat-form-field> -->
                        <table
                            class="table"
                            mat-table
                            [dataSource]="dataSource"
                            id="formTable"
                        >
                            <ng-container matColumnDef="D_ID">
                                <th mat-header-cell *matHeaderCellDef>
                                    מזהה מחלקה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.D_ID }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="D_NAME">
                                <th mat-header-cell *matHeaderCellDef>
                                    שם מחלקה
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                    class="text-center"
                                >
                                    {{ element.D_NAME }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="D_PERIOD_TO_REPLACE">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    width="160"
                                >
                                    תקופה בימים להחלפה
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                    class="text-center"
                                >
                                    {{ element.D_PERIOD_TO_REPLACE }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="D_ROOMS_NUMBER">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    width="110"
                                >
                                    מס' חדרים
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                    class="text-center"
                                >
                                    {{ element.D_ROOMS_NUMBER }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="D_STATUS">
                                <th mat-header-cell *matHeaderCellDef>מצב</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.D_STATUS }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="D_CLICK">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    width="50"
                                >
                                    עריכה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="example-button-container">
                                        <button
                                            (click)="
                                                editRow(
                                                    departsDetailsModal,
                                                    'departsDetails',
                                                    element
                                                )
                                            "
                                            class="row-data"
                                            mat-mini-fab
                                            color="primary"
                                        >
                                            <mat-icon>create</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="D_CLICK_ROOMS">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    width="50"
                                >
                                    חדרים
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="example-button-container">
                                        <button
                                            (click)="
                                                showRooms(
                                                    roomsModal,
                                                    'roomsDetails',
                                                    element
                                                )
                                            "
                                            class="row-data"
                                            mat-mini-fab
                                            color="primary"
                                        >
                                            <mat-icon>view_comfy</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="D_CLICK_BEDS">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    width="50"
                                >
                                    מיטות
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="example-button-container">
                                        <button
                                            (click)="
                                                showBeds(
                                                    bedsModal,
                                                    'bedsDetails',
                                                    element
                                                )
                                            "
                                            class="row-data"
                                            mat-mini-fab
                                            color="primary"
                                        >
                                            <mat-icon>night_shelter</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                    </div>
                    <!-- PAGINATION -->
                    <mat-paginator
                        [length]="resultsLength"
                        [pageSizeOptions]="[5, 10, 20, 50, 100]"
                        [pageSize]="10"
                        showFirstLastButtons
                        (page)="getPaginatorData($event)"
                    ></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<button
    type="button"
    id="departsDetailsBtn"
    (click)="open(departsDetailsModal, 'departsDetails', '')"
    mat-fab
    color="primary"
>
    <i class="material-icons">add</i>
</button>
<ng-template #departsDetailsModal let-modal>
    <form
        dir="rtl"
        id="departsFormID"
        class="form col"
        [formGroup]="departsForm"
        (ngSubmit)="onSubmit()"
    >
        <div class="modal-header text-right">
            <h4 class="modal-title text-center">
                מחלקה <span class="d-none">{{ D_ID }}</span> -
                <span>{{ D_NAME }}</span>
            </h4>
            <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <input
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="שם מחלקה"
                                formControlName="D_NAME"
                                required
                                type="text"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <input
                                id="D_PERIOD_TO_REPLACE"
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="מס' ימים עד ההחלפה"
                                formControlName="D_PERIOD_TO_REPLACE"
                                required
                                type="text"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <input
                                id="D_ROOMS_NUMBER"
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="מס' חדרים במחלקה"
                                formControlName="D_ROOMS_NUMBER"
                                required
                                type="text"
                            />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <input id="D_ID" type="hidden" formControlName="D_ID" />
            <input id="D_STATUS" type="hidden" formControlName="D_STATUS" />
            <button type="submit" class="btn btn-outline-dark">שמור</button>
        </div>
    </form>
</ng-template>

<ng-template #roomsModal let-modal>
    <form
        dir="rtl"
        id="departsRoomsFormID"
        class="form col"
        [formGroup]="roomsForm"
        (ngSubmit)="onSubmitRooms()"
    >
        <div class="modal-header text-right">
            <h4 class="modal-title text-center">
                חדרי מחלקה <span class="d-none">{{ D_ID }}</span> -
                <span>{{ D_NAME }}</span>
            </h4>
            <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div formArrayName="roomsDetails">
                <div *ngFor="let room of rooms; let $index = index">
                    <div class="row" [formGroupName]="$index">
                        <div class="col">
                            <div class="form-group">
                                <mat-form-field>
                                    <input
                                        id="R_NUMBER"
                                        matInput
                                        autocomplete="off"
                                        class="form-control"
                                        placeholder="מס' חדר"
                                        formControlName="R_NUMBER"
                                        required
                                        type="text"
                                    />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <mat-form-field>
                                    <input
                                        id="R_NUMBER_OF_BEDS"
                                        matInput
                                        autocomplete="off"
                                        class="form-control"
                                        placeholder="מס' מיטות"
                                        formControlName="R_NUMBER_OF_BEDS"
                                        required
                                        step="1"
                                        type="number"
                                    />
                                </mat-form-field>
                            </div>
                        </div>

                        <input type="hidden" formControlName="R_ID" />
                        <input type="hidden" formControlName="R_D_ID" />
                        <input type="hidden" formControlName="R_STATUS" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <button type="submit" class="btn btn-outline-dark">שמור</button>
        </div>
    </form>
</ng-template>

<ng-template #bedsModal let-modal>
    <form
        dir="rtl"
        id="departsRoomsBedsFormID"
        class="form col"
        [formGroup]="roomsBedsForm"
        (ngSubmit)="onSubmitBeds()"
    >
        <div class="modal-header text-right">
            <h4 class="modal-title text-center">
                מיטות מחלקה <span class="d-none">{{ D_ID }}</span> -
                <span>{{ D_NAME }}</span>
            </h4>
            <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div formArrayName="roomsBedsDetails">
                <div
                    class="all-me {{ bed.GROUP_CLASS }}"
                    *ngFor="let bed of beds; let $index = index"
                >
                    <div class="row" [formGroupName]="$index">
                        <div class="col">
                            <div class="form-group">
                                <mat-form-field>
                                    <input
                                        id="B_ROOM_NUMBER_{{ $index }}"
                                        matInput
                                        autocomplete="off"
                                        class="form-control"
                                        placeholder="מס' חדר"
                                        formControlName="B_ROOM_NUMBER"
                                        readonly
                                        type="text"
                                    />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <mat-form-field>
                                    <input
                                        id="B_NUMBER_{{ $index }}"
                                        matInput
                                        autocomplete="off"
                                        class="form-control"
                                        placeholder="מס' מיטה"
                                        formControlName="B_NUMBER"
                                        required
                                        type="text"
                                    />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <mat-form-field floatLabel="always">
                                    <input
                                        matInput
                                        autocomplete="off"
                                        class="form-control"
                                        placeholder="תאריך החלפה אחרון"
                                        (focus)="lastdateIN.open()"
                                        [matDatepicker]="lastdateIN"
                                        formControlName="B_LAST_REPLACE_DATE"
                                    />
                                    <mat-datepicker-toggle
                                        matSuffix
                                        [for]="lastdateIN"
                                    ></mat-datepicker-toggle>
                                    <mat-datepicker
                                        #lastdateIN
                                    ></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <input
                            type="hidden"
                            formControlName="B_NEXT_REPLACE_DATE"
                        />
                        <input type="hidden" formControlName="B_ID" />
                        <input type="hidden" formControlName="B_D_ID" />
                        <input type="hidden" formControlName="B_R_ID" />
                        <input type="hidden" formControlName="B_STATUS" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <button type="submit" class="btn btn-outline-dark">שמור</button>
        </div>
    </form>
</ng-template>
