<div class="row" id="page-toshow">
    <div class="col"></div>
    <div class="col-4">
        <div dir="rtl" class="card w-85-p">
            <div dir="rtl" class="card-body">
                <form class="form" [formGroup]="searchPatient">
                    <div class="row">
                        <div class="row">
                            <div class="col">
                                <!-- <mat-radio-group aria-label="Select an option" formControlName="chooseID">
                                    <mat-radio-button value="1" style="margin-left: 20px;">תעודת זהות</mat-radio-button>
                                    <mat-radio-button value="2">מספר מקרה</mat-radio-button>
                                </mat-radio-group> -->
                                <div class="form-group" *ngIf="searchPatient.get('chooseID').value == '1'">
                                    <mat-form-field>
                                        <label><b>חיפוש</b> - הקלד תעודת
                                            זהות</label>
                                        <input matInput autocomplete="off" formControlName="Passport"
                                            name="fliterVal" />
                                    </mat-form-field>
                                </div>
                                <!-- <div class="form-group" *ngIf="searchPatient.get('chooseID').value == '2'">
                                    <mat-form-field>
                                        <label><b>חיפוש</b> - הקלד מספר מקרה</label>
                                        <input matInput autocomplete="off" formControlName="CaseNumber"
                                            name="fliterVal" />
                                    </mat-form-field>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <h4 class="searchingPatient" *ngIf="!searchPatientProgressBar"> מחפש נבדק ... </h4>
                    <button type="submit" mat-raised-button color="yello" (click)="getPatients()">
                        <mat-icon>search</mat-icon>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button mat-raised-button color="yello" type="button" (click)="clearSearch()">
                        <mat-icon>clear</mat-icon>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                </form>
            </div>
            <mat-progress-bar mode="buffer" *ngIf="!searchPatientProgressBar"></mat-progress-bar>
        </div>
    </div>
    
    <div class="col"></div>
    <div dir="rtl" class="container-fluid pb-60" *ngIf="newPatient">
        <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> תאריך ושעת ההצעה </th>
                <td mat-cell *matCellDef="let element"> {{element.RecordDate}} - {{element.RecordTime}} </td>
            </ng-container>

            <ng-container matColumnDef="passport">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> תעודת זהות </th>
                <td mat-cell *matCellDef="let element"> {{element.PersonID}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> שם מלא </th>
                <td mat-cell *matCellDef="let element"> {{element.FirstName}} {{element.LastName}} </td>
            </ng-container>

            <ng-container matColumnDef="totalP">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> מחיר כולל </th>
                <td mat-cell *matCellDef="let element"> {{element.TotalPrice}} &#8362;</td>
            </ng-container>

            <ng-container matColumnDef="versions">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> גרסאות </th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="selectV">
                            <mat-option *ngFor="let ver of element.RecordVersion" value="{{ver}}">
                                {{ver}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="print">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> הדפסה </th>
                <td mat-cell *matCellDef="let element"> <button type="submit" mat-raised-button color="primary"
                        (click)="printClinicPrice(element)">
                        <mat-icon>print</mat-icon>
                    </button> </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> עריכה </th>
                <td mat-cell *matCellDef="let element"> <button type="submit" mat-raised-button color="primary"
                        (click)="openClinicManagementModel(element,1)">
                        <mat-icon>edit</mat-icon>
                    </button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns3;"> </tr>
        </table>
        <button (click)="openClinicManagementModel(patientRecords[0],0)" type="button" id="rolesDetailsBtn" mat-fab color="primary"><i
            class="material-icons">add</i></button>
    </div>
    <br>
</div>


<div id="form-html-templet" class="d-none-desktop" *ngIf="patientFound && print">
    <div dir="rtl" class="card min-h-100 text-right">
        <div class="card-header border-bottomIn rel">
            <img class="full-width" src="assets/images/covid_2_header.png" />
            <h2 class="text-center pos-abs-center">
                הצעת מחיר לטיפול פה ולסת
            </h2>
        </div>
        <br>
        <div class="row">
            <div class="col-6 text-center"><u style="float: right;margin-right: 10px;">תאריך הצעה : {{date2}}</u>
            </div>
            <div class="col-6 text-center">
                <u style="float: left;margin-left: 120px;">שעת הצעה : {{time2}}</u>
            </div>
        </div>
        <br>
        <div class="card-body pd-10">
            <div class="row-1">
                <div class="colr-12">
                    <h4>פרטים אישיים</h4>
                </div>
            </div>
            <br />
            <div class="row-1 text-up box text-right pad-30 justify-content-md-center">
                <div class="colr-3">
                    <label><b>ת.ז</b></label><span class="b-bottom">{{ detailsFormGroup2.PersonID }}</span>
                </div>
                <div class="colr-3">
                    <label><b>שם משפחה</b></label><span class="b-bottom">{{
                        detailsFormGroup2.LastName
                        }}</span>
                </div>
                <div class="colr-3">
                    <label><b>שם פרטי</b></label><span class="b-bottom">{{
                        detailsFormGroup2.FirstName
                        }}</span>
                </div>
                <div class="colr-3">
                    <label><b>מגדר</b></label><span class="b-bottom">{{
                        genderText
                        }}</span>
                </div>
                <div class="colr-3">
                    <label><b>תאריך לידה</b></label><span class="b-bottom">{{ detailsFormGroup2.DOB
                        }}</span>
                </div>
                <div class="colr-3">
                    <label><b>כתובת</b></label><span class="b-bottom">{{
                        detailsFormGroup2.PatientAddress
                        }}</span>
                </div>
                <div class="colr-3">
                    <label><b>מייל</b></label><span class="b-bottom">{{
                        detailsFormGroup2.Email
                        }}</span>
                </div>
                <div class="colr-3">
                    <label><b>נייד</b></label><span class="b-bottom">{{
                        detailsFormGroup2.PhoneNumber
                        }}</span>
                </div>
            </div>
            <div class="row-1 mt-4">
                <div class="colr-12">
                    <h4>רשימת שירותים</h4>
                </div>
            </div>
            <form class="sars-form-in">
                <div class="full-width">
                    <div class="amin">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="code">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">מס'</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="b-bottom">{{
                                        element.value.ServiceNumber
                                        }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> תאור שירות
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="b-bottom">{{
                                        element.value.ServiceName
                                        }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> כמות </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="b-bottom">{{
                                        element.value.ServiceQuantity
                                        }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> מחיר יחידה </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="b-bottom">{{
                                        element.value.ServicePrice
                                        }}</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> מחיר כולל </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="b-bottom">{{
                                        element.value.Total
                                        }}</span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
                            </tr>
                        </table>
                    </div><br>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h3>מחיר כולל :</h3>
                        </div>
                        <div class="col">
                            <h2><b>{{
                                    detailsFormGroup2.TotalPrice
                                    }} &#8362;</b></h2>
                        </div>
                    </div>
                    <hr><br>
                    <div class="row">
                        <div class="col">
                            <h3>• הצעת המחיר תקפה למשך 30 יום מתאריך הנפקת הצעה זו.</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>• לאחר 30 יום ייתכן ומחיר הטיפולים ישתנה ובמקרה כזה תועבר אליך הצעת מחיר מעודכנת.</h3>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h3>שם היחידה המטפלת: </h3>
                        </div>
                        <div class="col">
                            <h2><b>{{
                                    detailsFormGroup2.DepartName
                                    }}</b></h2>
                        </div>
                    </div>
                    <hr>
                </div>
            </form>
        </div>


        <div class="card-footer"></div>
        <div class="pos-botom-fixed">
            <img class="full-width" src="assets/images/covid_footer.png" />
        </div>
    </div>
</div>