<nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="btn bmd-btn-icon" type="button" id="menu-btn">
        <i class="material-icons closeMe"> close </i>
        <i class="material-icons open" *ngIf="!personReadInquiry"> menu </i>
        <i class="material-icons open" matBadgeColor="warn" [matBadge]="numberOfUnread" *ngIf="personReadInquiry"> menu
        </i>
    </button>
    <div dir="rtl" class="text-right" id="app-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="!_shoSofiMenu">
                <a class="nav-link" routerLink="dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> מנהל מערכת </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>
                                <a class="nav-link" routerLink="devmanage">ניהול כללי</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item" *ngIf="!_shoSofiMenu">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> מדדים </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>
                                <a class="nav-link" routerLink="chads">Chads</a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="colonoscopy">Colonoscopy</a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="hearing">סקר שמיעה</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item" *ngIf="cardiologyPermission">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> אלקטרופיזיולוגיה </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>
                                <a class="nav-link" routerLink="cardiologycalendar">יומן ניהול מטופלים</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item" *ngIf="!_shoSofiMenu">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> תוכנית עבודה </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>
                                <a class="nav-link" routerLink="surgery">חדר ניתוח</a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="mrbaot">ביקורים במרפאות</a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="eshboz">תפוקת אשפוז</a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="consultations">יעוצים</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item" *ngIf="_shoDimot && !_shoSofiMenu">
                <a class="nav-link" routerLink="dimot">נתוני דימות</a>
            </li>

            <li class="nav-item" *ngIf="_shoMersham && !_shoSofiMenu">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> ניהול מרשמים </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li class="nav-item" *ngIf="_shoMersham">
                                <a class="nav-link" routerLink="mersham">מרשמים</a>
                            </li>
                            <li class="nav-item" *ngIf="_shoDrugs">
                                <a class="nav-link" routerLink="drugs">תרופות</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>ארון חכם </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>

                            <li class="nav-item">
                                <a class="nav-link" routerLink="checkpatientinsmartcloset">חפש מטופל</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>ילוד ואם</mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>

                            <li class="nav-item">
                                <a class="nav-link" routerLink="motherchildelink">קשר ילוד לאם</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item" *ngIf="_shoNIC">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>תרופות </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="drugsnic">שיוך תרופות לא בקטלוג</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item" *ngIf="_shoScanners">
                <a class="nav-link" routerLink="scanners">סריקות</a>
            </li>
            <li class="nav-item" *ngIf="_shoEventsschedule">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>שעת חירום </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>

                            <li class="nav-item" *ngIf="_shoEmergincyCall">
                                <a class="nav-link" routerLink="eventsschedule">יומן אירועים</a>
                            </li>
                            <li class="nav-item" *ngIf="_shoToWesam">
                                <a class="nav-link" routerLink="emergencycallgroups">אזעקת עובדים בחירום</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>מערכת דיווח סיעודית</mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="nursesmanagedashboard">מערכת דיווח סיעודית</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="systemmanage">ניהול מערכת דיווח</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> מועדון יולדות </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>

                            <li class="nav-item" *ngIf="_shomaternity">
                                <a class="nav-link" routerLink="maternity">פרויקטים</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item" *ngIf="_shoCaseinvoises">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>חשבוניות</mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>

                            <li class="nav-item">
                                <a class="nav-link" routerLink="caseinvoises">חשבוניות הוצאה לפועל</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> ניהול מחקרים </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>

                            <li class="nav-item" *ngIf="_shoResearches || _permResearch">
                                <a class="nav-link" routerLink="researches">מחקרים</a>
                            </li>
                            <li class="nav-item" *ngIf="_shoResearches">
                                <a class="nav-link" routerLink="researchesusers">חוקרים</a>
                            </li>
                            <li class="nav-item" *ngIf="false">
                                <a class="nav-link" routerLink="researchespatients">משתתפים</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>

            <li class="nav-item" *ngIf="_shoCortinas || _shoSofiMenu">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                ניהול החלפת פרגודים
                            </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li class="nav-item" *ngIf="_shoCortinas || _shoSofiMenu">
                                <a class="nav-link" routerLink="cortinasnotification">התראות</a>
                            </li>
                            <li class="nav-item" *ngIf="_shoCortinasSettings || _shoSofiMenu">
                                <a class="nav-link" routerLink="cortinasdeparts">מחלקות</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item" *ngIf="!_shoSofiMenu">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> קורונה </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li class="nav-item" *ngIf="_shoCoronavaccine">
                                <a class="nav-link" routerLink="sarscov2">נוגדנים לקורונה</a>
                            </li>
                            <li *ngIf="fastCovidTestPermission">
                                <a class="nav-link" routerLink="fastcovidtestdashboard">בדיקת קורונה מהירה</a>
                            </li>

                            <li class="nav-item" *ngIf="_shoCoronavaccine">
                                <a class="nav-link" routerLink="coronavaccine">חיסון לקורונה</a>
                            </li>

                            <li class="nav-item" *ngIf="_shocovid19report">
                                <a class="nav-link" routerLink="covid19report">דיווח מלאי בלאי חיסוני קורונה</a>
                            </li>
                            <li class="nav-item" *ngIf="_shoCorona">
                                <a class="nav-link" routerLink="labor">דאשבורד קורונה</a>
                            </li>

                            <li class="nav-item" *ngIf="_shoCoronaform">
                                <a class="nav-link" routerLink="coronaform">הצהרת קורונה</a>
                            </li>

                            <li class="nav-item" *ngIf="_shoCoronaform">
                                <a class="nav-link" routerLink="coronaresultform">תוצאת קורונה באנגלית</a>
                            </li>

                            <li class="nav-item" *ngIf="_shoCoronaform">
                                <a class="nav-link" routerLink="sarsresults">תוצאת בדיקת נוגדנים</a>
                            </li>

                            <li class="nav-item" *ngIf="_SHowToAdmins">
                                <a class="nav-link" routerLink="addpatientcoronaform">הוספת מטופל לא עבר בממשק - בדיקות
                                    קורונה</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item" *ngIf="_EmSurgiries">
                <a class="nav-link" routerLink="urgentsurgeries">ניתוחים דחופים</a>
            </li>
            <li class="nav-item" *ngIf="_OnlineAppointments">
                <a class="nav-link" routerLink="onlineappointments">זימון תורים און-לין</a>
            </li>
            <li class="nav-item">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> טפסים מקוונים </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="formdashboard">דאשבורד טפסים</a>
                            </li>

                            <li class="nav-item" *ngIf="_formsArea">
                                <a class="nav-link" routerLink="digitalforms">בניית וניהול טפסים</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header *ngIf="!personReadInquiry">
                            <mat-panel-title> פניות ציבור </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-expansion-panel-header *ngIf="personReadInquiry">
                            <mat-panel-title> פניות ציבור</mat-panel-title>
                            <mat-panel-description style="align-items: center;"><i matBadgeColor="warn"
                                    [matBadge]="numberOfUnread"></i> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="emailsdashboard">דאשבורד פניות</a>
                            </li>
                            <li class="nav-item" *ngIf="loginUserName == 'matias'">
                                <a class="nav-link" routerLink="publicinquiriescharts">גרפים</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item" *ngIf="clinicsUserPermission">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> הצעת מחיר פה ולסת </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="clinicspricing">כניסה</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>

            <li class="nav-item" *ngIf="_shoGlucose && !_shoSofiMenu">
                <a class="nav-link" routerLink="glucose">נתוני לסוכרת</a>
            </li>

            <li class="nav-item" *ngIf="_sendSMS && !_shoSofiMenu">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> הודעות </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li class="nav-item" *ngIf="_sendSMS && !_shoSofiMenu">
                                <a class="nav-link" routerLink="sendsms">שליחת הודעות דלית</a>
                            </li>
                            <li class="nav-item" *ngIf="_sendSMSADMIN && !_shoSofiMenu">
                                <a class="nav-link" routerLink="sendsmsadmin">שליחת הודעות הנהלה</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>

            <li class="nav-item" *ngIf="_shoSettings && !_shoSofiMenu">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> הגדרות </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>
                                <a class="nav-link" routerLink="roles">תפקידים</a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="poriadeparts">מחלקות</a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="staff">צוות</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item" *ngIf="visitorsUserPermission">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> רישום מבקרים </mat-panel-title>
                            <mat-panel-description> </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>
                                <a class="nav-link" routerLink="visitorsmonitoring">דאשבורד מחלקות</a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </li>
            <li class="nav-item">
                <button class="full-width clearCach" mat-raised-button (click)="logout($event)">
                    Logout
                </button>
            </li>
        </ul>
    </div>
    <div id="logo">
        <img alt="Poriya" src="assets/images/logo.png" title="Poriya" />
    </div>
</nav>