#menu-btn .open{
    position: absolute;
    opacity: 1;
    top:0px;
    left: 0;
    transition: 0.5s opacity;
    color: #fff;
}
#menu-btn .closeMe{
    position: absolute;
    opacity: 0;
    top:0px;
    left: 0;
    transition: 0.5s opacity;
    color: #fff;
}
#menu-btn.show .open{
    position: absolute;
    opacity: 0;
    transition: 0.5s opacity;
}
#menu-btn.show .closeMe{
    position: absolute;
    opacity: 1;
    transition: 0.5s opacity;
}
#menu-btn{
    position: relative;
    padding: 0;
    width: 27px;
    height: 27px;
}
#app-menu li{
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;;
}
#app-menu ul{
    padding: 0;
    margin: 0;
    display: block;
}
#app-menu a{
    color: #fff;
}

#app-menu.show{
    right: 0;
    transition: 0.5s right;
    padding-bottom: 90px;
}
#app-menu{
    padding: 10px 15px;
    transition: 0.5s right;
    display: block;
    width: 300px;
    height: calc(100% - 43px);
    position: fixed;
    overflow-y: auto;
    background: #095daf;
    right: -310px;
    top: 43px;
    box-shadow: -1px 2px 4px 0px #000;

}
nav{
    box-shadow: 0px 0px 6px 0px #000;
}
.clearCach{
    width: 100%;
    background: none;
    border: 0;
    box-shadow: unset;
    text-align: right;
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    padding: 0 7px;
}
.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}