<div id="page-toshow">
    <h1 class="page-title text-center">הצהרת קורונה</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                autocomplete="off"
                                                placeholder="חפש"
                                                [(ngModel)]="fliterVal"
                                                name="fliterVal"
                                            />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                autocomplete="off"
                                                placeholder="מ תאריך"
                                                required
                                                (focus)="startdate.open()"
                                                [(ngModel)]="startdateVal"
                                                name="startdate"
                                                [matDatepicker]="startdate"
                                            />
                                            <mat-datepicker-toggle
                                                matSuffix
                                                [for]="startdate"
                                            ></mat-datepicker-toggle>
                                            <mat-datepicker
                                                #startdate
                                            ></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                autocomplete="off"
                                                placeholder="עד תאריך "
                                                (focus)="enddate.open()"
                                                required
                                                [(ngModel)]="enddateVal"
                                                name="enddate"
                                                [matDatepicker]="enddate"
                                            />
                                            <mat-datepicker-toggle
                                                matSuffix
                                                [for]="enddate"
                                            ></mat-datepicker-toggle>
                                            <mat-datepicker
                                                #enddate
                                            ></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <button
                                mat-raised-button
                                type="submit"
                                class="btn btn-primary btn-raised"
                                (click)="getReport($event)"
                            >
                                הצג
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container-fluid pb-60">
        <div class="row">
            <div dir="rtl" class="col">
                <div class="table-responsive">
                    <div class="table-spinner-container">
                        <!-- <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חפש">
                            </mat-form-field> -->
                        <table
                            class="table"
                            mat-table
                            [dataSource]="dataSource"
                            id="formTable"
                        >
                            <ng-container matColumnDef="CS_DATETIME">
                                <th mat-header-cell *matHeaderCellDef>
                                    תאריך ושעת שליחה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.CS_DATETIME }}
                                    {{ element.CS_DATE }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="CS_PATIENT_ID">
                                <th mat-header-cell *matHeaderCellDef>ת.ז</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.CS_PATIENT_ID }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="CS_PATIENT_NAME">
                                <th mat-header-cell *matHeaderCellDef>
                                    שם מטופל
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.CS_PATIENT_NAME }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="CS_ROW_STATUS">
                                <th mat-header-cell *matHeaderCellDef>מצב</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.CS_ROW_STATUS }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="CS_CLICK">
                                <th mat-header-cell *matHeaderCellDef>הדפס</th>
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                    class="text-center {{
                                        element.CS_ROW_COLOR
                                    }}"
                                >
                                    <div class="example-button-container">
                                        <button
                                            (click)="printRowForm(element)"
                                            class="row-data"
                                            mat-mini-fab
                                            color="primary"
                                        >
                                            <mat-icon>print</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                                class="{{ row.CS_ROW_COLOR }}"
                            ></tr>
                        </table>
                    </div>
                    <!-- PAGINATION -->
                    <mat-paginator
                        [length]="resultsLength"
                        [pageSizeOptions]="[5, 10, 20, 50, 100]"
                        [pageSize]="10"
                        showFirstLastButtons
                        (page)="getPaginatorData($event)"
                    ></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="form-html-templet" class="d-none-desktop">
    <div dir="rtl" class="card text-right">
        <div class="card-header">
            <img class="full-width" src="assets/images/covid_header.png" />
            <h2 class="text-center">טופס הצהרת מטופל/מטופלת</h2>
            <h2 class="text-center">חשיפה לנגיף הקורונה COVID-19</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h4>פרטים אישיים/מדבקה:</h4>
                </div>
            </div>
            <br />
            <div class="row box">
                <div class="col-6">
                    <label><b>שם מלא: </b></label
                    ><span class="b-bottom">{{
                        rowFormData.CS_PATIENT_NAME
                    }}</span>
                </div>
                <div class="col-6">
                    <label><b>ת.ז. </b></label
                    ><span class="b-bottom">{{
                        rowFormData.CS_PATIENT_ID
                    }}</span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    <h4>
                        מבקשים למלא את כל הפרטים האלה במידה והיו בשבועיים
                        האחרונים:
                    </h4>
                </div>
            </div>
            <div class="row box">
                <div class="col-2 bl-1">
                    <h4>תלונות</h4>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-4">
                            <mat-checkbox
                                [disabled]="true"
                                checked="{{ rowFormData.CS_SURVEY_Q1_1 }}"
                                >חום מעל 38</mat-checkbox
                            >
                        </div>
                        <div class="col-4">
                            <mat-checkbox
                                [disabled]="true"
                                checked="{{ rowFormData.CS_SURVEY_Q1_2 }}"
                                >צמרמורות</mat-checkbox
                            >
                        </div>
                        <div class="col-4">
                            <mat-checkbox
                                [disabled]="true"
                                checked="{{ rowFormData.CS_SURVEY_Q1_3 }}"
                                >הקאות</mat-checkbox
                            >
                        </div>
                        <div class="col-4">
                            <mat-checkbox
                                [disabled]="true"
                                checked="{{ rowFormData.CS_SURVEY_Q1_4 }}"
                                >שיעול</mat-checkbox
                            >
                        </div>
                        <div class="col-4">
                            <mat-checkbox
                                [disabled]="true"
                                checked="{{ rowFormData.CS_SURVEY_Q1_5 }}"
                                >כאבי ראש</mat-checkbox
                            >
                        </div>
                        <div class="col-4">
                            <mat-checkbox
                                [disabled]="true"
                                checked="{{ rowFormData.CS_SURVEY_Q1_6 }}"
                                >שלשולים</mat-checkbox
                            >
                        </div>
                        <div class="col-4">
                            <mat-checkbox
                                [disabled]="true"
                                checked="{{ rowFormData.CS_SURVEY_Q1_7 }}"
                                >כאבי גרון</mat-checkbox
                            >
                        </div>
                        <div class="col-4">
                            <mat-checkbox
                                [disabled]="true"
                                checked="{{ rowFormData.CS_SURVEY_Q1_8 }}"
                                >כאבי שרירים</mat-checkbox
                            >
                        </div>
                        <div class="col-4">
                            <mat-checkbox
                                [disabled]="true"
                                checked="{{ rowFormData.CS_SURVEY_Q1_9 }}"
                                >איבוד חוש ריח /טעם</mat-checkbox
                            >
                        </div>
                        <div class="col-4">
                            <mat-checkbox
                                [disabled]="true"
                                checked="{{ rowFormData.CS_SURVEY_Q1_10 }}"
                                >קוצר נשימה</mat-checkbox
                            >
                        </div>
                        <div class="col-4">
                            <mat-checkbox
                                [disabled]="true"
                                checked="{{ rowFormData.CS_SURVEY_Q1_11 }}"
                                >כאבי בטן</mat-checkbox
                            >
                        </div>
                        <div class="col-4">
                            <label><b>אחר:</b></label
                            ><span class="b-bottom">{{
                                rowFormData.CS_SURVEY_Q1_12
                            }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row box">
                <div class="col-2 bl-1">
                    <h4>מחלה פעילה</h4>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <label
                                ><b
                                    >האם הובחנת כנשאית לנגיף קורונה COVID19?
                                </b></label
                            >&nbsp;&nbsp;&nbsp;

                            <mat-radio-button
                                name="labelChecked_Yes_CS_SURVEY_Q2_1"
                                [disabled]="true"
                                checked="{{ Checked_Yes_CS_SURVEY_Q2_1 }}"
                            >
                                כן</mat-radio-button
                            >
                            &nbsp;&nbsp;
                            <mat-radio-button
                                name="labelChecked_Yes_CS_SURVEY_Q2_1"
                                [disabled]="true"
                                checked="{{ Checked_No_CS_SURVEY_Q2_1 }}"
                                >לא</mat-radio-button
                            >
                        </div>

                        <div class="col-12">
                            <label><b>אם כן - תאריך הבדיקה:</b></label
                            ><span class="b-bottom">{{
                                rowFormData.CS_SURVEY_Q2_2
                            }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row box">
                <div class="col-2 bl-1">
                    <h4>שהיה בחו"ל בחודש האחרון</h4>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <mat-radio-button
                                name="labelChecked_Yes_CS_SURVEY_Q3"
                                [disabled]="true"
                                checked="{{ Checked_Yes_CS_SURVEY_Q3 }}"
                            >
                                כן</mat-radio-button
                            >
                            &nbsp;&nbsp;
                            <mat-radio-button
                                name="labelChecked_Yes_CS_SURVEY_Q3"
                                [disabled]="true"
                                checked="{{ Checked_No_CS_SURVEY_Q3 }}"
                                >לא</mat-radio-button
                            >
                        </div>
                    </div>
                </div>
            </div>

            <div class="row box">
                <div class="col-2 bl-1">
                    <h4>
                        חשיפה ידועה לחולה או חשוד ל- COVID-19 או כל מחלה זיהומית
                        אחרת
                    </h4>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <label
                                ><b
                                    >האם אחד מקרובי המשפחה היה עם מחלת חום/
                                    נזלת/ שיעול / כאבי גרון או זיהום כלשהו?
                                </b></label
                            >&nbsp;&nbsp;&nbsp;

                            <mat-radio-button
                                name="labelChecked_Yes_CS_SURVEY_Q4_1"
                                [disabled]="true"
                                checked="{{ Checked_Yes_CS_SURVEY_Q4_1 }}"
                            >
                                כן</mat-radio-button
                            >
                            &nbsp;&nbsp;
                            <mat-radio-button
                                name="labelChecked_Yes_CS_SURVEY_Q4_1"
                                [disabled]="true"
                                checked="{{ Checked_No_CS_SURVEY_Q4_1 }}"
                                >לא</mat-radio-button
                            >
                        </div>
                        <div class="col-12">
                            <label
                                ><b
                                    >האם אחד מהאנשים שהיית איתם במגע היה בבידוד
                                    בשבועיים האחרונים?
                                </b></label
                            >&nbsp;&nbsp;&nbsp;

                            <mat-radio-button
                                name="labelChecked_Yes_CS_SURVEY_Q4_2"
                                [disabled]="true"
                                checked="{{ Checked_Yes_CS_SURVEY_Q4_2 }}"
                            >
                                כן</mat-radio-button
                            >
                            &nbsp;&nbsp;
                            <mat-radio-button
                                name="labelChecked_Yes_CS_SURVEY_Q4_2"
                                [disabled]="true"
                                checked="{{ Checked_No_CS_SURVEY_Q4_2 }}"
                                >לא</mat-radio-button
                            >
                        </div>
                        <div class="col-12">
                            <label
                                ><b
                                    >האם הייתה חשיפה ידועה לחולה מאומת או חשוד
                                    למחלת קורונה?
                                </b></label
                            >&nbsp;&nbsp;&nbsp;

                            <mat-radio-button
                                name="labelChecked_Yes_CS_SURVEY_Q4_3"
                                [disabled]="true"
                                checked="{{ Checked_Yes_CS_SURVEY_Q4_3 }}"
                            >
                                כן</mat-radio-button
                            >
                            &nbsp;&nbsp;
                            <mat-radio-button
                                name="labelChecked_Yes_CS_SURVEY_Q4_3"
                                [disabled]="true"
                                checked="{{ Checked_No_CS_SURVEY_Q4_3 }}"
                                >לא</mat-radio-button
                            >
                        </div>

                        <div class="col-12">
                            <label><b>אם כן, מהו תאריך החשיפה?</b></label
                            ><span class="b-bottom">{{
                                rowFormData.CS_SURVEY_Q4_4
                            }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <p>
                        <b
                            >מסירת הפרטים הנ''ל במלואם לא ימנעו טיפול רפואי
                            הולם.</b
                        >
                    </p>
                    <p>
                        <b
                            >הנני מצהיר/ה שכל הפרטים הרשומים למעלה נכונים וידוע
                            לי כי הסתרת מידע עלולה להוות סכנה לבריאות הציבור
                            ולסכן את הצוות הרפואי.</b
                        >
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <span class="b-bottom">{{
                        rowFormData.CS_PATIENT_NAME
                    }}</span>
                    <p class="text-center"><b>שם מלא</b></p>
                </div>
                <div class="col text-center">
                    <span class="b-bottom">{{
                        rowFormData.CS_SURVEY_DATE
                    }}</span>
                    <p class="text-center"><b>תאריך</b></p>
                </div>
                <div class="col text-center">
                    <span class="b-bottom">{{ rowFormData.CS_TIME }}</span>
                    <p class="text-center"><b>שעה</b></p>
                </div>
            </div>
            <img class="full-width" src="assets/images/covid_footer.png" />
        </div>
    </div>
</div>
<button type="button" id="sendSmsBtn" (click)="open(sendSmsToPatientModal, 'SendSms', '')"  mat-fab color="primary"><i class="material-icons">insert_comment</i></button>
<ng-template #sendSmsToPatientModal let-modal>
    <form dir="rtl" id="sendForm" class="form col" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="modal-header text-right">
            <h4 class="modal-title text-center" id="modal-basic-title">
                שליחת SMS למטופל לטופס הצהרת קורונה<span id="row_id"></span>
            </h4>
            <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <mat-form-field>
                                <input
                                    matInput
                                    autocomplete="off"
                                    class="form-control"
                                    placeholder="שם מלא"
                                    [(ngModel)]="fullnameVal"
                                    formControlName="fullnameVal"
                                    required
                                    type="text"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <mat-form-field>
                                <input
                                    matInput
                                    autocomplete="off"
                                    class="form-control"
                                    placeholder="ת.ז"
                                    mask="00000000-0"                                    
                                    [(ngModel)]="idPatient"
                                    type="text"
                                    formControlName="idPatient"
                                    required
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <mat-form-field>
                                <input
                                    matInput
                                    autocomplete="off"
                                    class="form-control"
                                    placeholder="נייד"
                                    mask="000-0000000"   
                                    [(ngModel)]="phoneNumber"
                                    type="tel"
                                    formControlName="phoneNumber"
                                    required
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer text-left">
            <button
                type="submit"
                class="btn btn-outline-dark"
            >
                שלח
            </button>
        </div>
    </form>
</ng-template>
