.full-width{
    width: 100%;
}
.box{
    padding:  0 15px;
    border: 1px solid #000;
}
.card{
    padding: 20px;
}
.card-header:first-child, .card-footer:last-child {
    
    background: #fff;
}
.bl-1{
    border-left: 1px solid #000;
}
.b-bottom{
    min-width: 200px;
    border-bottom: 2px solid #000;
    display: inline-block;
    margin-right: 10px;
}
#sendSmsBtn{
    position: fixed;
    bottom: 100px;
    left: 100px;
    z-index: 10;
}
.row.box>div{
    padding-top: 15px;    
    padding-bottom: 15px;
}

.red td {
    color: #fff !important; 

}
.red { 
    background: #ff5757 !important;
}
.green{
    background: #6cfb6c !important;
}