<div id="page-toshow" dir="rtl" class="text-center">
    <h1 class="page-title text-center">התראות</h1>
    <div class="row">
        <div class="col-md-4 col-sm-12  col-xm-12 mt-20">
            <button mat-raised-button color="warn">
                <h3>החלפה מיידית</h3>
            </button>
            <mat-selection-list #AlertWarnIn>
                <mat-list-option dir="rtl"
                    *ngFor="let alert of AlertWarn"
                  
                >
                    <p class="pd-r-20"  (click)="ChangeCortinasDate(alert)" matBadge="{{alert.DateDiff}}"
                    matBadgeOverlap="false">
                        <span><b>מחלקה</b>: {{ alert.D_NAME }}</span
                        >&nbsp;&nbsp;-&nbsp;&nbsp;
                        <span><b>מחדר</b>: {{ alert.B_ROOM_NUMBER }}</span
                        >&nbsp;&nbsp;-&nbsp;&nbsp;
                        <span><b>מטה</b>: {{ alert.B_NUMBER }}</span
                        ><br> 
                        <span
                            ><b>תאריך החלפה הבא</b>:
                            {{ alert.B_NEXT_REPLACE_DATE }}</span
                        >
                    </p>
                    <mat-divider></mat-divider>
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="col-md-4 col-sm-12  col-xm-12  mt-20">
            <button mat-raised-button color="yellow">
                <h3>החלפה בעוד יום</h3>
            </button>
            <mat-selection-list #AlertYellowIn>
                <mat-list-option dir="rtl"
                    *ngFor="let alertY of AlertYellow"
                   
                >
                    <p  class="pd-r-20"  (click)="ChangeCortinasDate(alertY)" matBadge="{{alertY.DateDiff}}"
                    matBadgeOverlap="false">
                        <span><b>מחלקה</b>: {{ alertY.D_NAME }}</span
                        >&nbsp;&nbsp;-&nbsp;&nbsp;
                        <span><b>מחדר</b>: {{ alertY.B_ROOM_NUMBER }}</span
                        >&nbsp;&nbsp;-&nbsp;&nbsp;
                        <span><b>מטה</b>: {{ alertY.B_NUMBER }}</span
                        ><br>
                        <span
                            ><b>תאריך החלפה הבא</b>:
                            {{ alertY.B_NEXT_REPLACE_DATE }}</span
                        >
                    </p>
                    <mat-divider></mat-divider>
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="col-md-4 col-sm-12  col-xm-12  mt-20">
            <button mat-raised-button color="green">
                <h3>החלפה בעוד יומים</h3>
            </button>
            <mat-selection-list #AlertGreenIn>
                <mat-list-option dir="rtl"
                    *ngFor="let alertG of AlertGreen"
                    
                >
                    <p class="pd-r-20"  (click)="ChangeCortinasDate(alertG)" matBadge="{{alertG.DateDiff}}"
                    matBadgeOverlap="false">
                        <span><b>מחלקה</b>: {{ alertG.D_NAME }}</span
                        >&nbsp;&nbsp;-&nbsp;&nbsp;
                        <span><b>מחדר</b>: {{ alertG.B_ROOM_NUMBER }}</span
                        >&nbsp;&nbsp;-&nbsp;&nbsp;
                        <span><b>מטה</b>: {{ alertG.B_NUMBER }}</span
                        ><br>
                        <span
                            ><b>תאריך החלפה  הבא</b>:
                            {{ alertG.B_NEXT_REPLACE_DATE }}</span
                        >
                    </p>
                    <mat-divider></mat-divider>
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>
</div>
