table {
    width: 100%;
  }

  #EventBtn{
    float: left;
  }
  #EventBtn2{
    float: right;
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 20px;
}
[dir=rtl] th.mat-header-cell {
    text-align: center;
    padding: 10px 5px 10px 30px;
}

.close {
  float: right;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  padding-left: 15px;
}
#list_of_types{
  display: inline-flex;
}

/* #table-overflow{
  overflow: auto;
} */

#EventBtnnew{
  border-radius: 0px 20px 20px 0px;
}

#EventBtndisplay{
  border-radius: 20px 0px 0px 20px;
}