<div id="page-toshow">
    <h1 class="page-title text-center">בקשה לזימון תורים</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput autocomplete="off" placeholder="מ תאריך" required
                                                (focus)="startdate.open()" [(ngModel)]="startdateVal" name="startdate"
                                                [matDatepicker]="startdate" />
                                            <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                                            <mat-datepicker #startdate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput autocomplete="off" placeholder="עד תאריך "
                                                (focus)="enddate.open()" required [(ngModel)]="enddateVal"
                                                name="enddate" [matDatepicker]="enddate" />
                                            <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                                            <mat-datepicker #enddate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>סטטוס</mat-label>
                                            <mat-select (selectionChange)="
                                                    changeStatus($event)
                                                " [value]="statusOrder">
                                                <mat-option value="0">
                                                    חדש
                                                </mat-option>
                                                <mat-option value="1">
                                                    טופל
                                                </mat-option>
                                                <mat-option value="2">
                                                    לא נקבע תור
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>מספר יומן</mat-label>
                                        <input matInput [(ngModel)]="calendarNumber"  [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field>
                                        <mat-label>מבקש</mat-label>
                                        <input matInput [(ngModel)]="requestingName" [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" class="btn btn-primary btn-raised"
                                (click)="getOrdersToAppointments()">
                                חפש
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container-fluid pb-60">
        <div class="row">
            <div dir="rtl" class="col">
                <div class="table-responsive">
                    <div class="table-spinner-container">
                        <!-- <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חפש">
                            </mat-form-field> -->
                        <table class="table" mat-table [dataSource]="dataSource" id="formTable-0">
                            <ng-container matColumnDef="RowId">
                                <th mat-header-cell *matHeaderCellDef>
                                    מזהה שורה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.RowId }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="OrderdUser">
                                <th mat-header-cell *matHeaderCellDef>
                                    משתמש מזמין
                                </th>
                                <td mat-cell *matCellDef="let element" class="text-right">
                                    {{ element.OrderdUser }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="OrderdUserPhone">
                                <th mat-header-cell *matHeaderCellDef>
                                    טל מזמין
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.OrderdUserPhone }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="OrderDateTime">
                                <th mat-header-cell *matHeaderCellDef>
                                    תאריך ושעת הבקשה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.OrderDateTime }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="AcceptedUser">
                                <th mat-header-cell *matHeaderCellDef>
                                    משתמש מאשר
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.AcceptedUser }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="AcceptedDateTime">
                                <th mat-header-cell *matHeaderCellDef>
                                    תאריך ושעת מענה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.AcceptedDateTime }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="OrderStatus">
                                <th mat-header-cell *matHeaderCellDef>סטטוס</th>
                                <td mat-cell *matCellDef="let element">
                                    {{
                                    element.OrderStatus === "0"
                                    ? "חדש"
                                    : element.OrderStatus === "1"
                                    ? "נקבע"
                                    : "לא קיים שירות"
                                    }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="OrderedFromDepart">
                                <th mat-header-cell *matHeaderCellDef>
                                    מחלקה מזמינה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.OrderedFromDepart }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="OrderToDate">
                                <th mat-header-cell *matHeaderCellDef>
                                    תאריך מבוקש
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{
                                    element.OrderToDate == "1900-01-01"
                                    ? ""
                                    : element.OrderToDate
                                    }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="OrderRangeQuantity">
                                <th mat-header-cell *matHeaderCellDef>ערך</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.OrderRangeQuantity }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="OrderRangeType">
                                <th mat-header-cell *matHeaderCellDef>
                                    יחידת טווח
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.OrderRangeType }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="OrderedToDepart">
                                <th mat-header-cell *matHeaderCellDef>
                                    מחלקה מבוקשת
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.ClinicName }} -
                                    {{ element.OrderedToDepart }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientId">
                                <th mat-header-cell *matHeaderCellDef>
                                    ת.ז מטופל
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientId }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="PatientName">
                                <th mat-header-cell *matHeaderCellDef>
                                    שם מטופל
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientName }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="OrderRealDateTime">
                                <th mat-header-cell *matHeaderCellDef>
                                    תאריך תור
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.OrderRealDateTime }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Notes">
                                <th mat-header-cell *matHeaderCellDef>הערות</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.Notes }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="D_CLICK">
                                <th mat-header-cell *matHeaderCellDef width="50">
                                    עריכה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="example-button-container">
                                        <button (click)="
                                                editRow(
                                                    OrdersToAppointmentsDetailsModal,
                                                    'OrdersToAppointmentsDetails',
                                                    element
                                                )
                                            " class="row-data" mat-mini-fab color="primary">
                                            <mat-icon>create</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                    </div>
                    <!-- PAGINATION -->
                    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50, 100]"
                        [pageSize]="pageSize" showFirstLastButtons (page)="getPaginatorData($event)"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<button *ngIf="Permission == '1' || Permission == '2'" type="button" id="addBtn"
    (click)="open(OrdersToAppointmentsDetailsModal, 'rowDetails', '')" mat-fab color="primary">
    <i class="material-icons">add</i>
</button>
<ng-template #OrdersToAppointmentsDetailsModal let-modal>
    <form dir="rtl" #OrdersToAppointmentsFormID id="OrdersToAppointmentsFormID" class="form col"
        [formGroup]="OrdersToAppointmentsForm" (ngSubmit)="onSubmit()">
        <div class="modal-header text-right">
            <h4 class="modal-title text-center" id="modal-basic-title">
                <span>הזמנת תור</span>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <button *ngIf="!saveBtn" type="button" (click)="printModal()" mat-fab color="primary">
                <i class="material-icons">print</i>
            </button>
        </div>
        <div class="modal-body text-right" dir="rtl">
            <div class="row r-1">
                <div class="col">
                    <div class="form-group br-1">
                        <label>מחלקה מבקשת</label>
                        <p>{{ OrderedFromDepart }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group br-1">
                        <label> מבקש</label>
                        <p>{{ OrderdUserName }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group br-1">
                        <label>טל מבקש / ת</label>

                        <p>
                            {{ OrderdUserPhone }}
                        </p>
                    </div>
                </div>
            </div>
            <div *ngIf="AcceptedUser != '' && RowId != '0'" class="row r-1">
                <div class="col">
                    <div class="form-group br-1">
                        <label> עובד מאשר</label>
                        <p>{{ AcceptedUser }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group br-1">
                        <label>טל מאשר / ת</label>

                        <p>
                            {{ AcceptedUserCellNumber }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row r-1" *ngIf="Permission == '3'">
                <div class="col">
                    <div class="form-group br-1">
                        <label>ת.ז מטופל</label>
                        <p>{{ PatientId }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group br-1">
                        <label>שם מטופל </label>
                        <p>{{ PatientName }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group br-1">
                        <label>זימון למרפאה </label>
                        <p>{{ OrderedToDepart }} - {{ ClinicName }}</p>
                    </div>
                </div>
                <div *ngIf="AlertPatient == 'true'" class="col">
                    <div class="form-group bg-red">
                        <label><b> ליידע את המטופל</b></label>
                    </div>
                </div>
            </div>
            <div class="row r-1" *ngIf="Permission == '3'">
                <div class="col">
                    <div class="form-group br-1">
                        <label>תאריך מבוקש</label>
                        <p>{{ OrderToDate }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group br-1">
                        <label>ערך</label>
                        <p>{{ OrderRangeQuantity }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group br-1">
                        <label>ימים / שבועות</label>
                        <p>{{ OrderRangeType }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="Permission == '1' || Permission == '2'" class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <label>ת.ז מטופל</label>
                            <input matInput autocomplete="off" class="form-control" (change)="findPatient($event)"
                                type="text" formControlName="PatientId" [readonly]="OrderStatus != '0'" />
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="Permission == '1' || Permission == '2'" class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>שם מטופל</mat-label>
                            <input matInput autocomplete="off" class="form-control" type="text"
                                formControlName="PatientName" readonly />
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="Permission == '1' || Permission == '2'" class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>זימון למרפאה</mat-label>
                            <mat-select [disabled]="OrderStatus != '0'" formControlName="OrderedToDepart">
                                <input class="form-control" type="text" placeholder="חפש"
                                    (keyup)="onKey($event.target.value)" />
                                <mat-option *ngFor="
                                        let OutpatientClinic of selectedClinics
                                    " [value]="OutpatientClinic.RoomNumber">
                                    {{ OutpatientClinic.ClinicName }} -
                                    {{ OutpatientClinic.RoomNumber }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="Permission == '1' || Permission == '2'" class="col">
                    <div class="form-group">
                        <mat-checkbox formControlName="AlertPatient">ליידע את המטופל</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="Permission == '1' || Permission == '2'" class="col">
                    <div class="form-group">
                        <mat-form-field *ngIf="OrderStatus == '0'">
                            <mat-label>תאריך מבוקש</mat-label>
                            <input matInput [readonly]="OrderStatus != '0'" autocomplete="off" [min]="todayDate"
                                class="form-control" (focus)="OrderToDate.open()" [matDatepicker]="OrderToDate"
                                formControlName="OrderToDate" (change)="changeReq($event)" />
                            <mat-datepicker-toggle matSuffix [for]="OrderToDate"></mat-datepicker-toggle>
                            <mat-datepicker #OrderToDate format="yyyy-MM-dd"></mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="OrderStatus != '0'" class="br-1">
                            <mat-label>תאריך מבוקש</mat-label>
                            <p>{{ OrderToDate }}</p>
                        </div>
                        <div *ngIf="OrderStatus != '0'" class="br-1">
                            <mat-label> נקבע לתאריך </mat-label>
                            <p>{{ OrderRealDateTime }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="Permission == '1' || Permission == '2'" class="col text-center">
                    <div style="
                            width: 100%;
                            height: 33px;
                            border-bottom: 1px solid #d1caca;
                            text-align: center;
                            margin-bottom: 26px;
                        ">
                        <span style="
                                font-size: 40px;
                                background-color: #f3f5f6;
                                padding: 0 10px;
                            ">
                            או
                            <!--Padding is optional-->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="Permission == '1' || Permission == '2'" class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>ימים / שבועות</mat-label>
                            <mat-select [disabled]="OrderStatus != '0'" formControlName="OrderRangeType">
                                <mat-option value="ימים"> ימים </mat-option>
                                <mat-option value="שבועות"> שבועות </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="Permission == '1' || Permission == '2'" class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>ערך</mat-label>
                            <input matInput [readonly]="OrderStatus != '0'" (change)="checkValue($event)"
                                autocomplete="off" class="form-control" type="number"
                                formControlName="OrderRangeQuantity" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div *ngIf="Permission == '3'" class="row" style="
                    box-shadow: 1px 1px 1px 1px #000;
                    padding: 23px;
                    background: rgb(136 121 181 / 72%);
                ">
                <div class="col">
                    <div class="form-group">
                        <div class="full-width fix-lable-pos">
                            <mat-form-field>
                                <p><b>תאריך ושעת תור בפועל</b></p>

                                <input matInput [ngxMatDatetimePicker]="picker" (focus)="picker.open()"
                                    formControlName="OrderRealDateTime" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                    [stepHour]="true" [stepMinute]="true" [stepSecond]="false" [touchUi]="ifMobile"
                                    [enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
                                </ngx-mat-datetime-picker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <mat-radio-group (change)="applayRequerd($event)" formControlName="OrderStatus">
                        <mat-radio-button value="1">קיים שירות</mat-radio-button>&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="2">לא נקבע תור</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>הערות מבקש</mat-label>
                            <textarea [readonly]="OrderStatus != '0'" rows="3" dir="rtl" id="Notes" matInput
                                autocomplete="off" class="form-control" formControlName="Notes"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>הערות קובע תור</mat-label>
                            <textarea [readonly]="Permission != '3'" rows="3" dir="rtl" id="AcceptedUserNotes" matInput
                                autocomplete="off" class="form-control" formControlName="AcceptedUserNotes"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <input type="hidden" id="OrderdUser" formControlName="OrderdUser" />
            <input type="hidden" id="RowId" formControlName="RowId" />
            <input type="hidden" id="OrderedFromDepart" formControlName="OrderedFromDepart" />
            <button *ngIf="saveBtn" type="submit" class="btn btn-outline-dark">
                שמור
            </button>
        </div>
    </form>
</ng-template>
<div class="d-none-desktop text-right" dir="rtl" id="print-res">
    <div class="row">
        <div class="col">
            <img width="90%" class="d-block" src="assets/images/zimontorem_header.jpg" />
        </div>
    </div>
    <div class="row text-rig">
        <div class="col-12 text-center">
            <br />
            <br />
            <br />
            <h1>זימון תור למרפאות חוץ</h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <p>
                <b>שם מטופל:&nbsp;&nbsp;&nbsp;</b><span>{{ PatientName }}</span>
            </p>
        </div>
        <div class="col-4">
            <p>
                <b>ת.ז מטופל:&nbsp;&nbsp;&nbsp;</b><span>{{ PatientId }}</span>
            </p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <p>
                <b>זימון למרפאה:&nbsp;&nbsp;&nbsp;</b><span>{{ ClinicName }}</span>
            </p>
        </div>
        <div class="col-4">
            <p>
                <b>הזימון נקבע לתאריך:&nbsp;&nbsp;&nbsp;</b><span>{{ OrderRealDateTime }}</span>
            </p>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <p>
                <b>מחלקה מבקשת:&nbsp;&nbsp;&nbsp;</b><span>{{ OrderedFromDepart }}</span>
            </p>
        </div>
        <div class="col-4"></div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <p><b>הערות:</b><span></span></p>
            <p>{{ AcceptedUserNotes }}</p>
        </div>
    </div>
    <div class="pos-botom-fixed-2">
        <div class="col-12">

            <ol class="d-block">
                <li class="d-block"><b>מייל:&nbsp;&nbsp;&nbsp;</b> MS@PMC.GOV.IL</li>
                <li class="d-block"><b>פקס:&nbsp;&nbsp;&nbsp;</b> 04-6652754</li>
                <li class="d-block"><b>טלפון:&nbsp;&nbsp;&nbsp;</b> *8891</li>
            </ol>
        </div>
        <div class="col-12 text-left">
            <p><b>תאריך הדפסה:&nbsp;&nbsp;&nbsp;</b>{{ DateNow }}</p>
        </div>
    </div>
    <div class="pos-botom-fixed">
        <img width="90%" class="d-block" src="assets/images/zimontorem_footer.jpg" />
    </div>
</div>