<div dir="rtl" class="row">
    <div class="col">
        <google-chart #chart
        [title]="Linetitle"
        [type]="Linetype"
        [data]="Linedata"
        [options]="Lineoptions"
        [width]="Linewidth"
        [height]="Lineheight">
     </google-chart>        
    </div>
    <div class="col">
        <google-chart #chart
        [title]="Pietitle"
        [type]="Pietype"
        [data]="Piedata"
        [options]="Pieoptions"
        [width]="Piewidth"
        [height]="Pieheight">
     </google-chart>        
    </div>
</div>

