<div id="page-toshow">
    <h1 *ngIf="toShow=='true'" class="page-title text-center">שליחת הודעות הנהלה</h1>
    <div class="container-fluid">
        <div *ngIf="emergencyCall" class="row" dir="rtl">
            <div class="col-2"></div>
            <div  class="col-8">
                <div class="row text-center"> 
                    <div *ngFor="let messageTemp of MessagesTemp" class="col-3">
                        <button  (click)="SetMessageVal(messageTemp.MessageVal)" mat-raised-button color="primary">{{messageTemp.Title}}</button>         
                    </div>
                </div>
                
            </div>
            <div class="col-2"></div>
            
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form" [formGroup]="sendSmsForm" >
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <textarea
                                                matInput
                                                autocomplete="off"
                                                placeholder="תוכן הודעה"
                                                name="smsText"
                                                rows="17"
                                                formControlName="smsText" [value]="smsText"
                                                ></textarea
                                            >
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <textarea
                                                matInput
                                                autocomplete="off"
                                                placeholder="מס' טלפון"
                                                name="smsNumbers"
                                                rows="17"
                                                formControlName="smsNumbers" [value]="smsNumbers"
                                                ></textarea
                                            >
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <button
                                mat-raised-button
                                type="submit"
                                class="btn btn-primary btn-raised"
                                (click)="sendSms()"
                            >
                                שלח
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
