<div id="page-toshow">
    <h1 class="page-title text-center">זימון תורים און-לין</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <ng-template
                    #customCellTemplate
                    let-day="day"
                    let-locale="locale"
                >
                    <div class="cal-cell-top">
                        <span
                            class="cal-day-badge"
                            *ngIf="day.badgeTotal > 0"
                            >{{ day.badgeTotal }}</span
                        >
                        <span class="cal-day-number">{{
                            day.date | calendarDate: "monthViewDayNumber":locale
                        }}</span>
                    </div>
                    <small style="margin: 5px">
                        <span
                            style="
                                display: block;
                                border: 1px solid #000;
                                margin: 5px;
                                padding: 3px;
                                border-radius: 4px;
                            "
                            *ngFor="let ev of day.events | slice:0:1;"
                        >
                            {{ ev.title }}
                        </span>
                    </small>
                </ng-template>
                <div class="row text-center" dir="rtl">
                    <div class="col-md-4">
                        <div class="btn-group">
                            <div
                                class="btn btn-primary"
                                mwlCalendarPreviousView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                (viewDateChange)="activeDayIsOpen = false"
                            >
                                הקודם
                            </div>
                            <div
                                #toDayCall
                                class="btn btn-outline-secondary"
                                mwlCalendarToday
                                [(viewDate)]="viewDate"
                            >
                                היום
                            </div>
                            <div
                                class="btn btn-primary"
                                mwlCalendarNextView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                (viewDateChange)="activeDayIsOpen = false"
                            >
                                הבא
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>
                            {{
                                viewDate | calendarDate: view + "ViewTitle":"he"
                            }}
                        </h3>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br />
                <div [ngSwitch]="view">
                    <mwl-calendar-month-view
                        dir="rtl"
                        *ngSwitchCase="'month'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [locale]="locale"
                        [cellTemplate]="customCellTemplate"
                        (dayClicked)="dayClicked($event.day)"
                        [activeDayIsOpen]="activeDayIsOpen"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                    >
                    </mwl-calendar-month-view>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #modalContent let-close="close">
    <div class="modal-header text-right">
        <h5 class="modal-title">{{ modalData?.action }}</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">        
        <div class="row">
            <div dir="rtl" class="col">
                <div class="table-responsive">
                    <div class="table-spinner-container">
                        <!-- <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חפש">
                            </mat-form-field> -->
                        <table
                            class="table"
                            mat-table
                            [dataSource]="dataSource"
                        >                            
                            <ng-container matColumnDef="ServiceDescription">
                                <th mat-header-cell *matHeaderCellDef>
                                    שירות
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.ServiceDescription }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="AppointmentDate">
                                <th mat-header-cell *matHeaderCellDef>
                                    תאריך
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.AppointmentDate }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="AppointmentTime">
                                <th mat-header-cell *matHeaderCellDef>
                                    שעה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.AppointmentTime }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientNumber">
                                <th mat-header-cell *matHeaderCellDef>
                                   מס' מטופל
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientNumber }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientId">
                                <th mat-header-cell *matHeaderCellDef>
                                   ת.ז
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientId }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientFirstName">
                                <th mat-header-cell *matHeaderCellDef>
                                    שם פרטי
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientFirstName }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientLastName">
                                <th mat-header-cell *matHeaderCellDef>
                                    שם משפה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientLastName }}
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                                
                            ></tr>
                        </table>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="close()"
        >
            סגור
        </button>
    </div>
</ng-template>
