<div id="page-toshow">
    <h1 class="text-center">מטופלות</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form" ngbAutofocus>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                autocomplete="off"
                                                placeholder="חפש"
                                                [(ngModel)]="fliterValPatient"
                                                name="fliterValPatient"
                                            />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col d-none1">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>מצב</mat-label>
                                            <mat-select
                                                [(value)]="StatusPatient"
                                                required
                                            >
                                                <mat-option value="-1"
                                                    >הכל</mat-option
                                                >
                                                <mat-option value="1"
                                                    >פעיל</mat-option
                                                >
                                                <mat-option value="0"
                                                    >לא פעיל</mat-option
                                                >
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <button
                                mat-raised-button
                                type="submit"
                                class="btn btn-primary btn-raised"
                                (click)="getReportmaternitypatients($event)"
                            >
                                חפש
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container-fluid pb-60">
        <div class="row">
            <div dir="rtl" class="col">
                <div class="table-responsive">
                    <div class="table-spinner-container">
                        <!-- <mat-form-field>
                                <input matInput (keyup)="applyFiltermaternitypatients($event.target.value)" placeholder="חפש">
                            </mat-form-field> -->
                        <table
                            class="table"
                            mat-table
                            [dataSource]="dataSource"
                            id="formTable1"
                        >
                            <ng-container matColumnDef="RowID">
                                <th mat-header-cell *matHeaderCellDef>
                                    מס' שורה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.RowID }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientId">
                                <th mat-header-cell *matHeaderCellDef>ת.ז</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientId }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientNumber">
                                <th mat-header-cell *matHeaderCellDef>
                                    מס' מטופל
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientNumber }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientFirstName">
                                <th mat-header-cell *matHeaderCellDef>
                                    שם פרטי
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientFirstName }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientLastName">
                                <th mat-header-cell *matHeaderCellDef>
                                    שם משפחה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientLastName }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientMobile">
                                <th mat-header-cell *matHeaderCellDef>
                                    מס' טל
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientMobile }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientAddress">
                                <th mat-header-cell *matHeaderCellDef>כתובת</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientAddress }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientPregnancyDOB">
                                <th mat-header-cell *matHeaderCellDef>
                                    תאריך לידה משוער
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientPregnancyDOB }}
                                </td>
                            </ng-container>
                            <ng-container
                                matColumnDef="PatientPregnancyWeekAtInsert"
                            >
                                <th mat-header-cell *matHeaderCellDef>
                                    שבוע היריון
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.PatientPregnancyWeekAtInsert }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PatientStatus">
                                <th mat-header-cell *matHeaderCellDef>מצב</th>
                                <td mat-cell *matCellDef="let element">
                                    {{
                                        element.PatientStatus == 1
                                            ? "פעיל"
                                            : "לא פעיל"
                                    }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Click">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    width="50"
                                >
                                    עריכה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="example-button-container">
                                        <button
                                            (click)="
                                                editRow(
                                                    patientDetailsModal,
                                                    'rolesDetails',
                                                    element
                                                )
                                            "
                                            class="row-data"
                                            mat-mini-fab
                                            color="primary"
                                        >
                                            <mat-icon>create</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container><ng-container matColumnDef="Delete">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    width="50"
                                >
                                    עריכה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="example-button-container">
                                        <button
                                            (click)="
                                            deletePatient(
                                                    element
                                                )
                                            "
                                            class="row-data"
                                            mat-mini-fab
                                            color="warn"
                                        >
                                            <mat-icon>delete_forever</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                    </div>
                    <!-- PAGINATION -->
                    <mat-paginator
                        [length]="resultsLength"
                        [pageSizeOptions]="[5, 10, 20, 50, 100]"
                        [pageSize]="10"
                        showFirstLastButtons
                        (page)="getPaginatorData($event)"
                    ></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<button
    type="button"
    id="rolesDetailsBtn"
    (click)="open(patientDetailsModal, 'rolesDetails', '')"
    mat-fab
    color="primary"
>
    <i class="material-icons">add</i>
</button>
<ng-template #patientDetailsModal let-modal>
    <form
        dir="rtl"
        class="form col"
        [formGroup]="patientForm"
        (ngSubmit)="onSubmit()"
    >
        <div class="modal-header text-right">
            <h4 class="modal-title text-center" id="modal-basic-title">
                משתתף <span id="row_id"></span>
            </h4>
            <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <input
                                id="PatientNumber"
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="מס' מטופל"
                                formControlName="PatientNumber"                                
                                minlength="3"
                                type="number"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <input
                                id="PatientId"
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="ת.ז"
                                formControlName="PatientId"                                
                                minlength="9"
                                type="text"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <input
                                id="PatientFirstName"
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="שם פרטי"
                                formControlName="PatientFirstName"                                
                                type="text"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <mat-form-field>
                            <input
                                id="PatientLastName"
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="שם משפחה"
                                formControlName="PatientLastName"                                
                                type="text"
                            />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <mat-form-field>
                            <input
                                id="PatientMobile"
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="מס' טל"
                                formControlName="PatientMobile"                                
                                type="text"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <mat-form-field>
                            <input
                                id="PatientEmail"
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="אימייל"
                                formControlName="PatientEmail"                                
                                [email]="true"
                                type="email"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <mat-form-field>
                            <input
                                id="PatientAddress"
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="כתובת"
                                formControlName="PatientAddress"                                
                                type="text"
                            />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <mat-form-field floatLabel="always">
                            <input
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="תאריך לידה למטופל"
                                (focus)="PatientDOB.open()"
                                [matDatepicker]="PatientDOB"
                                formControlName="PatientDOB"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="PatientDOB"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #PatientDOB></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <mat-form-field>
                            <input
                                id="PatientPregnancyWeekAtInsert"
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="שבוע היריון "
                                formControlName="PatientPregnancyWeekAtInsert"                                
                                step="any"
                                type="number"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <mat-form-field floatLabel="always">
                            <input
                                matInput
                                autocomplete="off"
                                class="form-control"
                                placeholder="תאריך לידה משוער"
                                (focus)="PatientPregnancyDOB.open()"
                                [matDatepicker]="PatientPregnancyDOB"
                                formControlName="PatientPregnancyDOB"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="PatientPregnancyDOB"
                            ></mat-datepicker-toggle>
                            <mat-datepicker
                                #PatientPregnancyDOB
                            ></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-3">
                    <mat-form-field>
                        <mat-label>מצב</mat-label>
                        <mat-select formControlName="PatientStatus" required>
                            <mat-option value="1">פעיל</mat-option>
                            <mat-option value="0">לא פעיל</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <textarea
                            formControlName="PatientNote"
                            matInput
                            placeholder="הערות"
                        ></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <input
                id="RowID"
                type="hidden"
                id="RowID"
                formControlName="RowID"
            />
            <button type="submit" class="btn btn-outline-dark">שמור</button>
        </div>
    </form>
</ng-template>
