.stikers {
    display: block;
    margin: auto;
    background: #fff;
}

.table-data p {
    margin: 0 !important;
}
.pdb-60 {
    padding-bottom: 60px;
}
table {
    page-break-after: always;
}

.table-data{
    width: 600px;
    margin: auto;
}
.ngx-barcode{
    text-align: center;

}
#print-stickers{
    position: fixed;
    top: 50px;
    left: 30px;
}


