.button-container {
    width: 100%;
    text-align: left;
}

.add-btn {
    background: linear-gradient(120deg, rgb(201, 193, 75), rgb(250, 250, 250));
}

.add-btn:hover {
    transform: scale(1.2);
}

.rooms-list {
    display: flex;
    margin: auto;
    list-style-type: none;
}

mat-spinner {
    top: 50%;
    left: 50%;
    z-index: 2;
}

ul.list {
    display: flex;
    column-gap: 30px;
    list-style-type: none;
}
ul.second-list {
    display: flex;
    column-gap: 118px;
    list-style-type: none;
}

.rooms-btn:hover {
    background-color: aliceblue;
}
.rooms-btn {
    position: fixed;
    z-index: 10;
}
.rooms-btn-danger {
    position: fixed;
    z-index: 10;
    background-color: crimson;
}

.row.head {
    top: 0;
    text-align: center;
    width: 78%;
    background-color: white;
    z-index: 10;
    position: fixed;
}
.row.second-head {
    top: 40px;
    justify-content: center;
    width: 78%;
    background-color: white;
    z-index: 10;
    position: fixed;
}