<mat-spinner *ngIf="loader"></mat-spinner>
<div class="row head" dir="rtl">
  <button mat-icon-button color="warn" aria-label="Example icon button with a close icon" mat-dialog-close
    style="float: right;">
    <mat-icon>close</mat-icon>
  </button>
  <div class="col-md-3">
    <div class="btn-group">
      <div class="btn btn-primary" style="border-radius: 5px;margin: 1px" mwlCalendarPreviousView [view]="view"
        [(viewDate)]="viewDate" (viewDateChange)="closeOpenDayViewDay()">
        הקודם
      </div>
      <div class="btn btn-outline-secondary" style="border-radius: 5px;margin: 1px" mwlCalendarToday
        [(viewDate)]="viewDate" (viewDateChange)="closeOpenDayViewDay()">
        היום
      </div>
      <div class="btn btn-primary" style="border-radius: 5px;margin: 1px" mwlCalendarNextView [view]="view"
        [(viewDate)]="viewDate" (viewDateChange)="closeOpenDayViewDay()">
        הבא
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'he' }}</h3>
    <button mat-raised-button (click)="getPatientsQueues()" style="margin-left: 20px;">מקור</button>
    <!-- <button mat-raised-button style="background-color: cornflowerblue;" (click)="filterDepartment('undo')">כל
      המחלקות</button> -->
    <button mat-raised-button (click)="sortSurgeriesOfEachRoomInDay()">תכנון</button>
  </div>
  <div class="col-md-3">
    <ul class="list">
      <li style="background-color: #F1F305;font-size: 22px;"><b>דחוף</b></li>
      <li style="background-color: #FFA100;font-size: 22px;"><b>ססיה</b></li>
      <li style="background-color: #0ef12f;font-size: 22px;"><b>הושלם</b></li>
      <li style="background-color: #e8abf1;font-size: 22px;"><b>בתהליך</b></li>
      <li style="background-color: #abeff1;font-size: 22px;"><b>מתוכנן</b></li>
      <li style="background-color: #f10e0e;font-size: 22px;"><b>בוטל</b></li>
    </ul>
  </div>
</div>
<div class="container-fluid pb-5" dir="rtl">
  <div class="row" style="margin-top: 60px;">
    <div class="col text-center" *ngFor="let room of filteredSpecificRooms">
      <!-- <button mat-raised-button class="rooms-btn" (click)="showSummaryReport(room)"
        *ngIf="!room.surgerySurf">{{room.SurgeryRoom}}</button>
      <button mat-raised-button class="rooms-btn-danger" (click)="showSummaryReport(room)" *ngIf="room.surgerySurf"
        matTooltip="ניתוחים חורגים בזמן">{{room.SurgeryRoom}}</button> -->
      <div *ngIf="!room.surgerySurf">
        <button mat-button [matMenuTriggerFor]="menu" class="rooms-btn">{{room.SurgeryRoom}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="showSummaryReport(room)"><b>סיכום חדר</b></button>
          <button mat-menu-item (click)="filterDepartment(depart)"
            *ngFor="let depart of room.uniqueDepartments">{{depart}}</button>
        </mat-menu>
      </div>
      <div *ngIf="room.surgerySurf">
        <button mat-button [matMenuTriggerFor]="menu" class="rooms-btn-danger">{{room.SurgeryRoom}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="showSummaryReport(room)"><b>סיכום חדר</b></button>
          <button mat-menu-item (click)="filterDepartment(depart)"
            *ngFor="let depart of room.uniqueDepartments">{{depart}}</button>
        </mat-menu>
      </div>

      <div [ngSwitch]="view">
        <!--  [dayStartHour]="06"  [dayEndHour]="23" -->
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="room.Surgeries"
          [locale]="locale" [refresh]="refresh" (eventClicked)="handleEvent('Edit', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
</div>