<div class="container-fluid pb-5" dir="rtl">
  <button mat-icon-button color="warn" aria-label="Example icon button with a close icon" mat-dialog-close
    style="float: right;">
    <mat-icon>close</mat-icon>
  </button>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" style="border-radius: 5px;margin: 1px" mwlCalendarPreviousView [view]="view"
          [(viewDate)]="viewDate" (viewDateChange)="closeOpenDayViewDay()">
          הקודם
        </div>
        <div class="btn btn-outline-secondary" style="border-radius: 5px;margin: 1px" mwlCalendarToday
          [(viewDate)]="viewDate" (viewDateChange)="closeOpenDayViewDay()">
          היום
        </div>
        <div class="btn btn-primary" style="border-radius: 5px;margin: 1px" mwlCalendarNextView [view]="view"
          [(viewDate)]="viewDate" (viewDateChange)="closeOpenDayViewDay()">
          הבא
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'he' }}</h3>
    </div>
    <!-- <div class="col-md-4">
      <div class="btn btn-primary" style="border-radius: 5px;margin: 1px" (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week">
        שבוע
      </div>
      <div class="btn btn-primary" style="border-radius: 5px;margin: 1px" (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day">
        יום
      </div>
    </div> -->
    <!-- <div class="button-container">
      <button mat-fab class="add-btn" (click)="handleEvent('New', $event.event)"
        aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
      </button>
    </div> -->
  </div>
  <br />
  <!-- <div class="row">
    <ul class="rooms-list">
      <li *ngFor="let room of specificRooms">
        <button mat-stroked-button color="primary"
          (click)="getPatientsQueues(viewDate, room.SurgeryRoom)">{{room.SurgeryRoom}}</button>
      </li>
    </ul>
  </div> -->
  <div class="row">
    <div class="col text-center" *ngFor="let room of specificRooms">
      <b>{{room.SurgeryRoom}}</b>
      <div [ngSwitch]="view">
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="room.Surgeries"
          [locale]="locale" [refresh]="refresh" (eventClicked)="handleEvent('Edit', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
        <!-- <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [locale]="locale"
        [refresh]="refresh" (eventClicked)="handleEvent('Edit', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view> -->
      </div>
    </div>
  </div>
</div>