<div id="page-toshow">
    <h1 class="text-center">חברי קבוצה</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form" ngbAutofocus>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                autocomplete="off"
                                                placeholder="חפש"
                                                [(ngModel)]="fliterValGroupMember"
                                                name="fliterValGroupMember"
                                            />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <button
                                mat-raised-button
                                type="submit"
                                class="btn btn-primary btn-raised"
                                (click)="getReportGroupMember($event)"
                            >
                                חפש
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container-fluid pb-60">
        <div class="row">
            <div dir="rtl" class="col">
                <div class="table-responsive">
                    <div class="table-spinner-container">
                        <!-- <mat-form-field>
                                <input matInput (keyup)="applyFilterGroupMember($event.target.value)" placeholder="חפש">
                            </mat-form-field> -->
                        <table
                            class="table"
                            mat-table
                            [dataSource]="dataSource"
                            id="formTable1"
                        >
                            <ng-container matColumnDef="EmployeeID">
                                <th mat-header-cell *matHeaderCellDef>
                                    ת.ז
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.EmployeeID }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="FirstName">
                                <th mat-header-cell *matHeaderCellDef>
                                   שם פרטי
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.FirstName }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="LastName">
                                <th mat-header-cell *matHeaderCellDef>שם משפחה</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.LastName }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Email">
                                <th mat-header-cell *matHeaderCellDef>
                                    אימייל
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.Email }}
                                </td>
                            </ng-container>
                            <ng-container
                                matColumnDef="CellNumber"
                            >
                                <th mat-header-cell *matHeaderCellDef>
                                     מס' טל
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.CellNumber }}
                                </td>
                            </ng-container>                            
                            <ng-container matColumnDef="Click">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    width="50"
                                >
                                    מחיקה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="example-button-container">
                                        <button
                                            (click)="
                                                editRow(
                                                    RemoveMemberModal,
                                                    'rolesDetails',
                                                    element
                                                )
                                            "
                                            class="row-data"
                                            mat-mini-fab
                                            color="primary"
                                        >
                                            <mat-icon>delete_forever</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                    </div>
                    <!-- PAGINATION -->
                    <!-- <mat-paginator
                        [length]="resultsLength"
                        [pageSizeOptions]="[5, 10, 20, 50, 100]"
                        [pageSize]="10"
                        showFirstLastButtons
                        (page)="getPaginatorData($event)"
                    ></mat-paginator> -->
                </div>
            </div>
        </div>
    </div>
</div>
<button
    type="button"
    id="rolesDetailsBtn"
    (click)="open(AddMemberModal, 'rolesDetails', '')"
    mat-fab
    color="primary"
>
    <i class="material-icons">add</i>
</button>
<ng-template #AddMemberModal let-modal>
    <app-employees (parentFun)="parentFun()"></app-employees>
</ng-template>

<ng-template #RemoveMemberModal let-modal>
    <form
        dir="rtl"
        class="form col"
        [formGroup]="removeMemberForm"
        (ngSubmit)="onRemoveSubmit()"
    >
        <div class="modal-header text-right">
            <h4 class="modal-title text-center" id="modal-basic-title">
                האם אתה בטוח?
            </h4>
            <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            
        </div>
        <div class="modal-footer text-left">
            <input
                id="EmployeeID"
                type="hidden"
                id="EmployeeID"
                formControlName="EmployeeID"
            />
            <input
            id="GroupId"
            type="hidden"
            id="GroupId"
            formControlName="GroupId"
            />
            <button type="submit" mat-raised-button color="warn">כן</button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" (click)="modal.dismiss('Cross click')" mat-raised-button color="primary">לא</button>
        </div>
    </form>
</ng-template>
