.nopadding .mat-card.mat-focus-indicator{
    padding: 0 !important;
}
.height{
    
    height: 480px;
    overflow-y: auto;
}
.nopadding .mat-card .row{
    border-bottom: 1px solid #d3d3d3;
    padding: 15px 0;
}
.nopadding .mat-card .row:first-child{
    border-top: 1px solid #d3d3d3;
}
.nopadding .mat-card .row .col{
    border-right: 1px solid #d3d3d3;
}

.nopadding .mat-card .row .col:last-child{
    border-right: 0;
}
.p-first{
    margin-bottom: 0;
    margin-top: 1rem;
}
.nopadding .google-chart{
    height: auto !important;
}
.highLight .col:hover{
    cursor: pointer;
    background: rgba(189, 189, 189, 0.8);
}
.highLight .col-6:hover{
    cursor: pointer;
    background: rgba(189, 189, 189, 0.8);
}