<div id="page-toshow" class="bg-blue-light mersham">
    <h1 class="page-title text-center">מרשמים</h1>
    <div class="container-fluid rel">
        <div class="row">
            <div class="col">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>
                            Inventory High Level Stats
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col">
                                <div class="d-block">
                                    <p></p>
                                    <p>Devices</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-block">
                                    <p></p>
                                    <p>Coporate</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-block">
                                    <p></p>
                                    <p>Guset</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-block">
                                    <p></p>
                                    <p>Medical</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-block">
                                    <p></p>
                                    <p>OT</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-block">
                                    <p></p>
                                    <p>IoT</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-block">
                                    <p></p>
                                    <p>It</p>
                                </div>
                            </div>
                        </div><div class="row">
                            <div class="col">
                                <div class="d-block">
                                    <p></p>
                                    <p>Online</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-block">
                                    <p></p>
                                    <p>High Risk</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-block">
                                    <p></p>
                                    <p>Compromised</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-block">
                                    <p></p>
                                    <p>New this week</p>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</div>
