<div class="row" id="page-toshow">
    <h1 class="page-title text-center">אספרציה מח עצם</h1>
    <div class="col"></div>
    <div class="col-4">
        <div dir="rtl" class="card w-85-p">
            <div dir="rtl" class="card-body">
                <form class="form" [formGroup]="searchPatient">
                    <div class="row">
                        <div class="row">
                            <div class="col">
                                <div class="form-group" *ngIf="searchPatient.get('chooseID').value == '1'">
                                    <mat-form-field>
                                        <label><b>חיפוש</b> - הקלד תעודת
                                            זהות</label>
                                        <input matInput autocomplete="off" formControlName="Passport"
                                            name="fliterVal" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="searchingPatient" *ngIf="!searchPatientProgressBar"> מחפש נבדק ... </h4>
                    <button type="submit" mat-raised-button color="yello" (click)="getPatients()">
                        <mat-icon>search</mat-icon>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button mat-raised-button color="yello" type="button">
                        <mat-icon>clear</mat-icon>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                </form>
            </div>
            <mat-progress-bar mode="buffer" *ngIf="!searchPatientProgressBar"></mat-progress-bar>
        </div>
    </div>
    <div class="col"></div>

    <div dir="rtl" class="container-fluid pb-60">
        <mat-form-field appearance="standard" style="padding-right: 10px;">
            <mat-label class="filterClass">מסנן</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="הקלד מסנן" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;margin-top: 30px;">

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> מחיקה </th>
                <td mat-cell *matCellDef="let element"> <button type="submit" color="warn" mat-raised-button
                        (click)="deleteForm(element)">
                        <mat-icon>delete</mat-icon>
                    </button> </td>
            </ng-container>

            <ng-container matColumnDef="FormDate">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> תאריך יצירה </th>
                <td mat-cell *matCellDef="let element"> {{element.DateOfForm }} - {{element.TimeOfForm }} </td>
            </ng-container>

            <ng-container matColumnDef="Passport">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> תעודת זהות </th>
                <td mat-cell *matCellDef="let element"> {{element.PatientDetails.Passport}} </td>
            </ng-container>

            <ng-container matColumnDef="PatientName">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> שם מטופל </th>
                <td mat-cell *matCellDef="let element"> {{element.PatientDetails.FirstName}}
                    {{element.PatientDetails.LastName}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> עריכה </th>
                <td mat-cell *matCellDef="let element"> <button type="submit" color="primary" mat-raised-button
                        [disabled]="element.ToNamer == 'True' || loaderPdfNamer" (click)="editFormDialog(element)">
                        <mat-icon>edit</mat-icon>
                    </button> </td>
            </ng-container>

            <ng-container matColumnDef="print">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> הדפסה </th>
                <td mat-cell *matCellDef="let element"> <button type="submit" color="primary" mat-raised-button
                        (click)="printBoneMarrowForm(element)">
                        <mat-icon>print</mat-icon>
                    </button> </td>
            </ng-container>

            <ng-container matColumnDef="namer">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> נמר </th>
                <td mat-cell *matCellDef="let element"> <button type="submit" color="primary" mat-raised-button
                        [disabled]="element.ToNamer == 'True' || loaderPdfNamer" (click)="linkToNamer(element)">
                        <mat-icon>reply</mat-icon>
                    </button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10,20,35,50]" showFirstLastButtons></mat-paginator>
    </div>
    <br>
</div>




<!-- Print Tumor Board Form -->
<div class="d-none-desktop" *ngIf="elementToPrint != undefined" #printmycontent>
    <div class="d-none-desktop" dir="rtl">
        <div class="card-header border-bottomIn rel" style="text-align: center;">
            <img class="full-width" style="width: 100%;" src="assets/images/covid_2_header.png" />
            <h1 class="text-center pos-abs-center"><u>אספרציה מח עצם</u></h1>
        </div>
        <div class="row" dir="rtl" style="display: flex;">
            <div class="col-6" style="width: 50%;text-align: center;">
                <p>תאריך: {{elementToPrint.DateOfForm}}</p>
            </div>
            <div class="col-6" style="width: 50%;text-align: center;">
                <p>שעה: {{elementToPrint.TimeOfForm}}</p>
            </div>
        </div>
        <div class="row" dir="rtl" style="display: flex;border-style: outset;">
            <div class="col-2">
                <h5>מספר מקרה: <br>{{elementToPrint.PatientDetails.CaseNumber}}</h5>
            </div>
            <div class="col-2">
                <h5>ת.ז: <br>{{elementToPrint.PatientDetails.Passport}}</h5>
            </div>
            <div class="col-2">
                <h5>שם מלא: <br>{{elementToPrint.PatientDetails.FirstName}} {{elementToPrint.PatientDetails.LastName}}
                </h5>
            </div>
            <div class="col-2">
                <h5>כתובת: <br>{{elementToPrint.PatientDetails.Address}}</h5>
            </div>
            <div class="col-2">
                <h5>תאריך לידה: <br>{{elementToPrint.PatientDetails.DOB}}</h5>
            </div>
            <div class="col-2">
                <h5>מס' טלפון: <br>{{elementToPrint.PatientDetails.PhoneNumber}}</h5>
            </div>
        </div>
        <div class="row" dir="rtl" style="display: block;">
            <div class="col-12">
                <div class="row">
                    <h1><u>התקבלה מח עצם:</u></h1>
                </div>
                <div class="row">
                    <p>{{elementToPrint.RecievingType}}</p>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <h1><u>שורה אדומה:</u></h1>
                </div>
                <div class="row">
                    <p>{{elementToPrint.RedRow}}</p>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <h1><u>שורה לבנה:</u></h1>
                </div>
                <div class="row">
                    <p>{{elementToPrint.WhiteRow}}</p>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <h1><u>אאוזינופילים:</u></h1>
                </div>
                <div class="row">
                    <p>{{elementToPrint.Eosinophils}}</p>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <h1><u>לימפוציטים:</u></h1>
                </div>
                <div class="row">
                    <p>{{elementToPrint.Lymphocytes}}</p>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <h1><u>תאי פלסמה:</u></h1>
                </div>
                <div class="row">
                    <p>{{elementToPrint.PlasmaCells}}</p>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <h1><u>מגקריוציטים:</u></h1>
                </div>
                <div class="row">
                    <p>{{elementToPrint.Megakaryocytes}}</p>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <h1><u>צביעת ברזל:</u></h1>
                </div>
                <div class="row">
                    <p>{{elementToPrint.IronPainting}}</p>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <h1><u>סיכום:</u></h1>
                </div>
                <div class="row">
                    <p>{{elementToPrint.Summary}}</p>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <h1><u>חתימת רופא:</u></h1>
                </div>
                <div class="row">
                    <p>{{elementToPrint.DoctorSign}}</p>
                </div>
            </div>
        </div>
    </div>
</div>