<div id="page-toshow">
    <h1 class="page-title text-center">חיסון לקורונה</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                autocomplete="off"
                                                placeholder="חפש"
                                                [(ngModel)]="fliterVal"
                                                name="fliterVal"
                                            />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                autocomplete="off"
                                                placeholder="מ תאריך"
                                                required
                                                (focus)="startdate.open()"
                                                [(ngModel)]="startdateVal"
                                                name="startdate"
                                                [matDatepicker]="startdate"
                                            />
                                            <mat-datepicker-toggle
                                                matSuffix
                                                [for]="startdate"
                                            ></mat-datepicker-toggle>
                                            <mat-datepicker
                                                #startdate
                                            ></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                autocomplete="off"
                                                placeholder="עד תאריך "
                                                (focus)="enddate.open()"
                                                required
                                                [(ngModel)]="enddateVal"
                                                name="enddate"
                                                [matDatepicker]="enddate"
                                            />
                                            <mat-datepicker-toggle
                                                matSuffix
                                                [for]="enddate"
                                            ></mat-datepicker-toggle>
                                            <mat-datepicker
                                                #enddate
                                            ></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <button
                                mat-raised-button
                                type="submit"
                                class="btn btn-primary btn-raised"
                                (click)="getReport($event)"
                            >
                                הצג
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="container-fluid pb-60">
        <div class="row">
            <div dir="rtl" class="col">
                <div class="table-responsive">
                    <div class="table-spinner-container">
                        <!-- <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חפש">
                            </mat-form-field> -->
                        <table
                            class="table"
                            mat-table
                            [dataSource]="dataSource"
                        >
                            <ng-container matColumnDef="EmployeeID">
                                <th mat-header-cell *matHeaderCellDef>ת.ז</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.EmployeeID }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="EmployeeFirstName">
                                <th mat-header-cell *matHeaderCellDef>
                                    שם פרטי
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.EmployeeFirstName }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="EmployeeLastName">
                                <th mat-header-cell *matHeaderCellDef>
                                    שם משפחה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.EmployeeLastName }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="EmployeeGender">
                                <th mat-header-cell *matHeaderCellDef>מין</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.EmployeeGender }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="EmployeeDob">
                                <th mat-header-cell *matHeaderCellDef>
                                    תאריך לידה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.EmployeeDob }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="EmployeeWorkPlace">
                                <th mat-header-cell *matHeaderCellDef>
                                    מיקום עבודה
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.EmployeeWorkPlace }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="EmployeeKupatHolem">
                                <th mat-header-cell *matHeaderCellDef>
                                    קופה מבטחת
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.EmployeeKupatHolem }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="VaccinationForm">
                                <th mat-header-cell *matHeaderCellDef>
                                   מס' חיסון
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.VaccinationForm }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="CLICK_TO_RELEASE">
                                <th mat-header-cell *matHeaderCellDef>שחרר נעילה</th>
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                    class="text-center"
                                >
                                    <div class="example-button-container">
                                        <button
                                            (click)="releaseRow(element)"
                                            class="row-data"
                                            mat-mini-fab
                                            color="primary"
                                        >
                                            <mat-icon>lock</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="CLICK">
                                <th mat-header-cell *matHeaderCellDef>הדפס</th>
                                <td
                                    mat-cell
                                    *matCellDef="let element"
                                    class="text-center"
                                >
                                    <div class="example-button-container">
                                        <button
                                            (click)="printRowForm(element)"
                                            class="row-data"
                                            mat-mini-fab
                                            color="primary"
                                        >
                                            <mat-icon>print</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                    </div>
                    <!-- PAGINATION -->
                    <mat-paginator
                        [length]="resultsLength"
                        [pageSizeOptions]="[20, 50, 100]"
                        [pageSize]="50"
                        showFirstLastButtons
                        (page)="getPaginatorData($event)"
                    ></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="form-html-templet" class="d-none-desktop">
    <div dir="rtl" class="card min-h-100 text-right">
        <div class="card-header border-bottomIn rel">
            <img class="full-width" src="assets/images/covid_2_header.png" />
            <h2 class="text-center pos-abs-center">חיסון לקורונה</h2>
            <h3 class="text-center pos-abs-center-2">מנה (<b>{{viccatnNumber}}</b>)</h3>
        </div>
        <div class="card-body pd-10">
            <div class="row-1">
                <div class="colr-12">
                    <h4>פרטים אישיים</h4>
                </div>
            </div>
            <br />
            <div
                class="row-1 text-up box text-right pad-30 justify-content-md-center"
            >
                <div class="colr-3">
                    <label><b>ת.ז</b></label
                    ><span class="b-bottom">{{ rowFormData.EmployeeID }}</span>
                </div>
                <div class="colr-3">
                    <label><b>שם משפחה</b></label
                    ><span class="b-bottom">{{
                        rowFormData.EmployeeLastName
                    }}</span>
                </div>
                <div class="colr-3">
                    <label><b>שם פרטי</b></label
                    ><span class="b-bottom">{{
                        rowFormData.EmployeeFirstName
                    }}</span>
                </div>
                <div class="colr-3">
                    <label><b>מגדר</b></label
                    ><span class="b-bottom">{{
                        rowFormData.EmployeeGender
                    }}</span>
                </div>
                <div class="colr-3">
                    <label><b>תאריך לידה</b></label
                    ><span class="b-bottom">{{ rowFormData.EmployeeDob }}</span>
                </div>
                <div class="colr-3">
                    <label><b>מיקום עבודה</b></label
                    ><span class="b-bottom">{{
                        rowFormData.EmployeeWorkPlace
                    }}</span>
                </div>
                <div class="colr-3">
                    <label><b>קופה מבטחת</b></label
                    ><span class="b-bottom">{{
                        rowFormData.EmployeeKupatHolem
                    }}</span>
                </div>
                <div class="colr-3">
                    <label><b>נייד</b></label
                    ><span class="b-bottom">{{
                        rowFormData.EmployeePhone
                    }}</span>
                </div>
            </div>
            <div class="row-1">
                <div class="stik"></div>
            </div>
            <form class="worker-form-in" [formGroup]="WorkerForm">
                <div class="row-1">
                    <h3>שאלון למתחסן לפני מתן החיסון:</h3>

                    <div *ngIf="VaccinationForm_2" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year"
                                >האם במהלך
                               <b>השבוע האחרון</b>
                                 התחסנת לשפעת או קיבלת חיסון אחר </label
                            >
                        </p>
                        <mat-radio-group
                            name="HaveYouBeenVaccinatedInLastTwoWeeks"
                            class="inline-radio-group"
                            formControlName="HaveYouBeenVaccinatedInLastTwoWeeks"
                            required
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>

                    <div *ngIf="VaccinationForm_2" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year"
                                >האם פיתחת מחלה עם משטח חיובי לקורונה COVID-19 אחרי קבלת המנה הראשונה לחיסון </label
                            >
                        </p>
                        <mat-radio-group
                            name="Covid19afterthefirst"
                            class="inline-radio-group"
                            formControlName="Covid19afterthefirst"
                            required
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>

                    <div *ngIf="VaccinationForm_1" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year"
                                >האם במהלך
                               <b> השבועיים האחרונים</b>
                                 התחסנת לשפעת או קיבלת חיסון אחר </label
                            >
                        </p>
                        <mat-radio-group
                            name="HaveYouBeenVaccinatedInLastTwoWeeks"
                            class="inline-radio-group"
                            formControlName="HaveYouBeenVaccinatedInLastTwoWeeks"
                            required
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>
                    <div *ngIf="VaccinationForm_1" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year"
                                >האם אתה מעשן (לא חובה)</label
                            >
                        </p>
                        <mat-radio-group
                            name="smoker"
                            class="inline-radio-group"
                            formControlName="smoker"
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="VaccinationForm_1" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year">
                                במידה והינך סובל ממחלות כרוניות נא לסמן (לא
                                חובה)</label
                            >
                        </p>
                        <div class="row-1">
                            <mat-checkbox
                                class="colr-4"
                                vlaue="1"
                                formControlName="ChronicLungDisease"
                                >מחלת ריאות כרונית כגון אסטמה או
                                COPD</mat-checkbox
                            >
                            <mat-checkbox
                                class="colr-4"
                                vlaue="1"
                                formControlName="Diabetes"
                                >סכרת</mat-checkbox
                            >
                            <mat-checkbox
                                class="colr-4"
                                vlaue="1"
                                formControlName="Hypertension"
                                >יתר לחץ דם</mat-checkbox
                            >
                            <mat-checkbox
                                class="colr-4"
                                vlaue="1"
                                formControlName="HeartDisease"
                                >מחלת לב</mat-checkbox
                            >
                            <mat-checkbox
                                class="colr-4"
                                vlaue="1"
                                formControlName="CirrhosisLiver"
                                >שחמת הכבד
                            </mat-checkbox>
                            <mat-checkbox
                                class="colr-4"
                                vlaue="1"
                                formControlName="ChronicKidneyDiseaseDialysis"
                                >מחלת כליות כרונית - דיאליזה</mat-checkbox
                            >
                            <mat-checkbox
                                class="colr-4"
                                vlaue="1"
                                formControlName="Obesity"
                                >השמנת יתר</mat-checkbox
                            >
                            <mat-checkbox
                                class="colr-4"
                                vlaue="1"
                                formControlName="ImmuneSuppression"
                                >דיכוי חיסוני
                            </mat-checkbox>
                            <mat-checkbox
                                class="colr-4"
                                vlaue="1"
                                formControlName="Chemotherapy"
                                >טיפול כימותרפי</mat-checkbox
                            >
                            <mat-checkbox
                                class="colr-4"
                                vlaue="1"
                                formControlName="Cancer"
                                >סרטן</mat-checkbox
                            >
                            <mat-checkbox
                                class="colr-4"
                                vlaue="1"
                                formControlName="AutoimmuneDisease"
                                >מחלה אוטואימונית</mat-checkbox
                            >
                        </div>
                    </div>
                    <div *ngIf="VaccinationForm_1" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year">האם הנך בהריון</label>
                        </p>
                        <mat-radio-group
                            name="pregnancy"
                            class="inline-radio-group"
                            formControlName="pregnancy"
                            required
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>
                    <div *ngIf="VaccinationForm_1" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year">באיזה שבוע</label>&nbsp;&nbsp;<span><b>{{pregnancyWeek}}</b></span>&nbsp;&nbsp;
                        </p>                        
                        <small class="red">שדה חובה</small>
                    </div>
                    <div *ngIf="VaccinationForm_1" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year">האם הנך מניקה</label>
                        </p>
                        <mat-radio-group
                            name="breastfeeding"
                            class="inline-radio-group"
                            formControlName="breastfeeding"
                            required
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>
                    <div class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year"
                                >האם הנך סובל/ת ממחלה חדה לרבות חום מעל 38
                                מעלות?</label
                            >
                        </p>
                        <mat-radio-group
                            name="feverOver38"
                            class="inline-radio-group"
                            formControlName="feverOver38"
                            required
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>
                    <div class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year"
                                >האם קיים רקע של תגובה אלרגית חמורה מידית (
                                אנפלקסיס) בעברך לחיסון, תרופה או מזון
                                כלשהו?</label
                            >
                        </p>
                        <mat-radio-group
                            name="AllergicVaccinationPast"
                            class="inline-radio-group"
                            formControlName="AllergicVaccinationPast"
                            required
                            (change)="radioChange($event)"
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>
                    <mat-form-field class="colr-12 brs-1 fix-label">
                        <textarea
                            autocomplete="off"
                            matInput
                            placeholder="מלל חופשי  (לא חובה)"
                            formControlName="AllergicVaccinationPastDesc"
                            name="AllergicVaccinationPastDesc"
                            rows="3"
                        >
&nbsp;&nbsp;</textarea
                        >
                    </mat-form-field>

                    <div class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year"
                                >האם את/ה מחזיק/ה מזרק אפינפרין ( אפיפן) בגלל
                                תגובה אלרגית משמעותית בעברך לחיסון, תרופה או
                                מזון כלשהו?
                            </label>
                        </p>
                        <mat-radio-group
                            name="AllergicVaccinationFoodMedication"
                            class="inline-radio-group"
                            formControlName="AllergicVaccinationFoodMedication"
                            required
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>
                    <div *ngIf="VaccinationForm_2" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year"
                                >האם פיתחת תופעות לוואי לאחר קבלת המנה הראשונה של החיסון?
                            </label>
                        </p>
                        <mat-radio-group
                            name="SideEffects"
                            class="inline-radio-group"
                            formControlName="SideEffects"
                            required
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>
                    <div *ngIf="VaccinationForm_2" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year"
                                >האם פיתחת תגובה אלרגית אחרי החיסון
                            </label>
                        </p>
                        <mat-radio-group
                            name="AllergicAfterFirstVaccination"
                            class="inline-radio-group"
                            formControlName="AllergicAfterFirstVaccination"
                            required
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>
                    <div *ngIf="VaccinationForm_2" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year"
                                >האם נזקקת לטיפול רפואי לאחר החיסון בגין תופעת לוואי?
                            </label>
                        </p>
                        <mat-radio-group
                            name="MedicalTreatmentAfterFirstVaccination"
                            class="inline-radio-group"
                            formControlName="MedicalTreatmentAfterFirstVaccination"
                            required
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>
                    <mat-form-field *ngIf="VaccinationForm_2" class="colr-12 brs-1 fix-label">
                        <textarea
                            autocomplete="off"
                            matInput
                            placeholder="מלל חופשי  (לא חובה)"
                            formControlName="MedicalTreatmentAfterFirstVaccinationNote"
                            name="MedicalTreatmentAfterFirstVaccinationNote"
                            rows="3"
                        >
&nbsp;&nbsp;</textarea
                        >
                    </mat-form-field>
                    <div *ngIf="VaccinationForm_1" class="colr-12 brs-1">
                        <p class="fix-mb-5">
                            <label class="label-year"
                                >האם פיתחת תגובה אלרגית לאחר המנה הקודמת של
                                החיסון כנגד קורונה- מנת החיסון הראשונה
                            </label>
                        </p>
                        <mat-radio-group
                            name="AllergicAfterFirstVaccination"
                            class="inline-radio-group"
                            formControlName="AllergicAfterFirstVaccination"
                            required
                        >
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="0"
                            >
                                לא
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="1"
                            >
                                כן
                            </mat-radio-button>
                            <mat-radio-button
                                class="inline-radio-group-in"
                                value="2"
                            >
                                לא רלוונטי
                            </mat-radio-button>
                        </mat-radio-group>
                        <small class="red">שדה חובה</small>
                    </div>
                </div>
            </form>
            <div class="row-1">
                <p *ngIf="showRed" class="red bolde text-center">
                    <b>
                        נא להתייעץ עם צוות מניעת זיהומים במקרה של תשובה חיובית
                        
                    </b>
                </p>
                <h4 class="colr-12">פרטי חיסון העובד:</h4>
                <div class="colr-4">
                    <p class="text-right">
                        <b>מיקום החיסון:&nbsp;&nbsp;</b>
                        <mat-checkbox
                            class="example-margin"
                            [(ngModel)]="rightHand"
                            >זרוע ימין</mat-checkbox
                        >
                        &nbsp;/&nbsp;
                        <mat-checkbox
                            class="example-margin"
                            [(ngModel)]="leftHand"
                            >זרוע שמאל</mat-checkbox
                        >
                    </p>
                </div>
                <div class="colr-4">
                    <p class="text-right">
                        <b>מספר מנה:&nbsp;&nbsp;</b>
                        <mat-checkbox
                            class="example-margin"
                            [(ngModel)]="VaccinationForm_1"
                            >ראשון</mat-checkbox
                        >
                        &nbsp;/&nbsp;
                        <mat-checkbox
                            class="example-margin"
                            [(ngModel)]="VaccinationForm_2"
                            >שניה</mat-checkbox
                        >
                    </p>
                </div>
                <div class="colr-4">
                    <p class="text-right">
                        <b>מספר אצווה:&nbsp;&nbsp;</b>
                        <span class="border-bottom-t"
                            >&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;</span
                        >
                    </p>
                </div>
            </div>

            <div class="row-1">
                <div class="colr-4">
                    <p class="text-right">
                        <b>חברה מייצרת:&nbsp;&nbsp;</b>
                        <mat-checkbox class="example-margin" [(ngModel)]="fizer"
                            >פייזר</mat-checkbox
                        >
                        &nbsp;/&nbsp;
                        <mat-checkbox
                            class="example-margin"
                            [(ngModel)]="moderna"
                            >מודרנה
                        </mat-checkbox>
                    </p>
                </div>
            </div>
            <div class="row-1">
                <div class="colr-4">
                    <p class="text-right">
                        <b>שם המחסן :&nbsp;&nbsp;</b>
                        <span class="border-bottom-t"
                            >&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;</span
                        >
                    </p>
                </div>

                <div class="colr-4">
                    <p class="text-right">
                        <b>תאריך מתן החיסון :&nbsp;&nbsp;</b>
                        <span>
                            <span class="border-bottom-t"
                                >&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;</span
                            >&nbsp;/&nbsp;<span class="border-bottom-t"
                                >&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;</span
                            >&nbsp;/&nbsp;<span class="border-bottom-t"
                                >&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;</span
                            >
                        </span>
                    </p>
                </div>

                <div class="colr-4">
                    <p class="text-right">
                        <b>שעת מתן החיסון :&nbsp;&nbsp;</b>
                        <span>
                            <span class="border-bottom-t"
                                >&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;</span
                            >&nbsp;:&nbsp;<span class="border-bottom-t"
                                >&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;</span
                            >
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="card-footer"></div>
        <div class="pos-botom-fixed">
            <img class="full-width" src="assets/images/covid_footer.png" />
        </div>
    </div>
</div>

<!-- <ng-template #sendSmsToPatientModal let-modal>
    <form dir="rtl" id="sendForm" class="form col" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="modal-header text-right">
            <h4 class="modal-title text-center" id="modal-basic-title">
                שליחת SMS למטופל לטופס הצהרת קורונה<span id="row_id"></span>
            </h4>
            <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <mat-form-field>
                                <input
                                    matInput
                                    autocomplete="off"
                                    class="form-control"
                                    placeholder="שם מלא"
                                    [(ngModel)]="fullnameVal"
                                    formControlName="fullnameVal"
                                    required
                                    type="text"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <mat-form-field>
                                <input
                                    matInput
                                    autocomplete="off"
                                    class="form-control"
                                    placeholder="ת.ז"
                                    mask="00000000-0"                                    
                                    [(ngModel)]="idPatient"
                                    type="text"
                                    formControlName="idPatient"
                                    required
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <mat-form-field>
                                <input
                                    matInput
                                    autocomplete="off"
                                    class="form-control"
                                    placeholder="נייד"
                                    mask="000-0000000"   
                                    [(ngModel)]="phoneNumber"
                                    type="tel"
                                    formControlName="phoneNumber"
                                    required
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer text-left">
            <button
                type="submit"
                class="btn btn-outline-dark"
            >
                שלח
            </button>
        </div>
    </form>
</ng-template> -->
