<button type="button" class="close" matTooltip="סגירה" *ngIf="asDialog" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
</button>
<div dir="rtl" class="row reportHeader" *ngIf="asDialog">
    <h2>{{Dept_Name}}</h2>
</div>
<div dir="rtl" class="row reportHeader" *ngIf="asDialog">
    <h2><b>{{firstname}} {{lastname}}</b></h2>
</div>

<div id="page-toshow" class="padding-top-0">
    <h1 class="page-title text-center">מערכת דיווח אחיות</h1>
    <div class="container-fluid trans-80">
        <div class="row search-cont">
            <div class="col">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form" [formGroup]="searchReportsGroup">
                            <div class="row">
                                <!-- <div class="col-12">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput autocomplete="off" placeholder="מספר מקרה"
                                                formControlName="CaseNumber" />
                                        </mat-form-field>
                                    </div>
                                </div> -->
                                <div class="col-6">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>משמרת</mat-label>
                                            <mat-select formControlName="ReportShift">
                                                <mat-option [value]="''">הכל</mat-option>
                                                <mat-option *ngFor="let sh of shift" [value]="sh.value">
                                                    {{sh.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- <div class="col-4">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>מחלקה</mat-label>
                                            <input type="text" aria-label="department" matInput
                                                [formControl]="departmentfilter" [matAutocomplete]="auto2">
                                            <mat-autocomplete #auto2="matAutocomplete">
                                                <mat-option *ngFor="let dept of filteredOptions2 | async"
                                                    [value]="dept.Dept_Name">
                                                    {{dept.Dept_Name}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div> -->
                                <div class="col-6">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>קטגוריה</mat-label>
                                            <mat-select formControlName="ReportCategory">
                                                <mat-option [value]="''">הכל</mat-option>
                                                <mat-option *ngFor="let cat of all_categories_filter"
                                                    [value]="cat.Cat_Name">
                                                    {{cat.Cat_Name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput formControlName="ReportStartDate" (focus)="startdate.open()"
                                                autocomplete="off" placeholder="מ תאריך" required name="startdate"
                                                [matDatepicker]="startdate" />
                                            <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                                            <mat-datepicker #startdate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput formControlName="ReportEndDate" (focus)="enddate.open()"
                                                autocomplete="off" placeholder="עד תאריך " required name="enddate"
                                                [matDatepicker]="enddate" />
                                            <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                                            <mat-datepicker #enddate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group lh-37">
                                        <mat-form-field>
                                            <mat-label>סטטוס</mat-label>
                                            <mat-select formControlName="ReportStatus">
                                                <mat-option [value]="''">הכל</mat-option>
                                                <mat-option *ngFor="let st of status" [value]="st.value"
                                                    [style.color]="st.value == 'טופל' ? 'darkseagreen':  'darkgrey'">
                                                    {{st.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <button matTooltip="חיפוש" mat-raised-button type="submit"
                                class="btn btn-primary btn-raised" (click)="searchReports()">
                                <span class="material-icons">
                                    search
                                </span>
                            </button>
                            &nbsp;&nbsp;
                            <button matTooltip="הדפסה" mat-raised-button type="button"
                                class="btn btn-primary btn-raised" (click)="print()">
                                <span class="material-icons">
                                    local_printshop
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row adminClinicBtns">
            <button mat-raised-button type="button" class="btn btn-primary btn-raised" id="administrativeBtn">מנהלי
            </button>
            <button mat-raised-button type="button" class="btn btn-primary btn-raised" id="clinicalBtn">קליני
            </button>
        </div> -->
    </div>
    <hr />

    <div dir="rtl" class="container-fluid pb-60">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> תאריך ושעה </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> נושא דווח </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container> -->

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> סטטוס דווח </th>
                <td mat-cell *matCellDef="let element"
                    [style.background]="element.status == 'טופל' ? 'forestgreen': 'darkgrey'">
                    {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> עריכת דווח </th>
                <td mat-cell *matCellDef="let element"> <button matTooltip="עריכה"
                        style="border-radius: 18px 0px 18px 0px;" mat-raised-button color="primary"
                        (click)="fillReportDialog(element.reportID,'','','')"><span class="material-icons">
                            edit
                        </span></button>
                    <button matTooltip="היסטוריית שינויים" mat-raised-button
                        style="margin-right: 5px;border-radius: 0px 18px 0px 18px;" color="primary"
                        *ngIf="UserName == 'adahabre'" (click)="displayHistoryDialog(element.reportID)"><span
                            class="material-icons">
                            history
                        </span></button>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="continue">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> המשך דווח </th>
                <td mat-cell *matCellDef="let element"> <button matTooltip="המשך דווח"
                        style="border-radius: 18px 0px 18px 0px;" mat-raised-button color="primary"><span class="material-icons">
                            play
                        </span></button>
                </td>
            </ng-container>

            <ng-container matColumnDef="reply">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> תגובה לטיפול </th>
                <td mat-cell *matCellDef="let element"> <button matTooltip="התכתבות"
                        style="border-radius: 18px 0px 18px 0px;" mat-raised-button color="primary"
                        (click)="addReply(element.reportID)"><span class="material-icons">
                            reply
                        </span></button>
                    <button matTooltip="סמן כטופל"
                        style="background: darkseagreen;margin-right: 5px;border-radius: 0px 18px 0px 18px;"
                        mat-raised-button color="primary" [disabled]="element.status == 'טופל'"
                        (click)="changeReportToHandled(element.reportID)">
                        <span class="material-icons" *ngIf="element.status == 'לטיפול'">
                            done
                        </span></button>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail" style="border-style: outset;">
                        <div class="col-3">
                            <div class="example-element-diagram mr-5">
                                <div class="example-element-position"> תאריך עדכון אחרון - {{element.updateDate}}</div>
                                <div class="example-element-symbol"> משמרת - {{element.shift}} </div>
                                <!-- <div class="example-element-weight"> עדיפות - <strong
                                        style="font-weight: bold;">{{element.priority}}</strong> </div> -->
                                <div class="example-element-name"> שם מדווח - {{element.userFullName}} </div>
                            </div>
                        </div>

                        <div class="col-9">
                            <div class="example-element-description">
                                <span class="example-element-description-attribution"></span>
                                {{element.description}}
                            </div>
                        </div>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [style.background]="element.status == 'טופל' ? 'darkseagreen': 'gainsboro'">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <button matTooltip="דווח חדש" type="button" id="EventBtn" mat-fab color="primary"
            (click)="fillReportDialog(0,'','','')" *ngIf="permission && !asDialog">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>
<div class="d-none-desktop">
    <table dir="rtl">
        <thead>
            <tr>
                <th><br></th>
            </tr>
            <tr>
                <th>
                    <div class="row">

                    </div>
                </th>
            </tr>

            <tr>
                <th class="text-right">
                    פרטים
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tblRow of ELEMENT_DATA" class="text-right">
                <td>
                    <div class="text-right">
                        <div class="row">
                            <div class="col-3 bord-l">
                                <div class="row">
                                    <div class="col-md-6">
                                        <b>תאריך שעה</b>:
                                        {{
                                        tblRow.date
                                        }}
                                    </div>
                                    <div class="col-md-6">
                                        <b>מכלולים</b>:
                                        {{ tblRow.machlol }}
                                    </div>
                                    <div class="col-md-6">
                                        <b>קטיגוריה</b>:
                                        {{ tblRow.category }}
                                    </div>
                                    <div class="col-md-6">
                                        <b>עדיפות</b>:
                                        {{
                                        tblRow.priority
                                        }}
                                    </div>
                                    <div class="col-md-6">
                                        <b>סטטוס</b>:
                                        {{
                                        tblRow.status
                                        }}
                                    </div>
                                    <div class="col-md-6">
                                        <b>נוצר ע"י</b>:
                                        {{
                                        tblRow.userFullName
                                        }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 bord-l">
                                <h3>{{ tblRow.title }}</h3>
                                <p class="">
                                    {{ tblRow.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

<!-- element.style {
    background-color: gainsboro;
} -->



<!-- element.style {
    background: forestgreen;
} -->