#EventBtn{
  position: fixed;
  bottom: 43px;
  left: 43px;
  z-index: 10;
}

.redBG{
  background: #ff8484;
}

.border-1{
  border: 1px solid !important;
  padding: 0px 7px 5px 3px !important;
}

.menuBtns{
  background-color: burlywood;
  font-family: 'Math';
  font-weight: bolder;
  font-size: 18px;
  border: 1px solid slategrey;
  border-radius: 3%;
}

.col-5{
  padding-left: 2px;
  padding-right: 2px;
}

.col-4,.col-3,h5,h6{
  font-family: 'math';
  font-weight: bolder;
  font-size: 18px;
}

#display-line{
  border: 5px solid #1976d2;
}
.material-icons{
  font-size: 18px;
}

#BtnStyle{
  box-shadow: 3px 4px 3px 0px black;
  min-width: 50px;
  line-height: 30px;
}

#formBody{
  border-style: outset;
  margin-bottom: 8px;
}
.mat-accordion{
  width: 100%;
}
.expantionBox{
  overflow: auto;
  width: 100%;
  height: 132px;
}

h5{
  float: right;
}
h6{
  float: right;
  font-size: 0.90rem;
}
.reply-row{
  border-bottom: 3px solid grey;
}
#importantIcon{
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}
#EventBtn{
    position: fixed;
    bottom: 43px;
    left: 43px;
    z-index: 10;
}

html{
  font-size: 50%;
}

table {
    width: 100%;
  }
  table td{
    font-size: x-large;
  }
  h2{
    font-family: 'math';
    font-weight: bolder;
    font-size: 27px;
  }
  h1,h6,h3,.col-4{
    font-family: 'math';
    font-weight: bolder;
    font-size: 18px;
  }

  tr.example-detail-row {
    height: 0;
  }
  
.reportHeader{
  justify-content: center;
}

/* .search-cont{
  height: 317px;
} */

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    background-color: aliceblue;
  }
  
  .example-element-diagram {
    min-width: 130px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
    font-size: large;
  }
  
  .example-element-description-attribution {
    opacity: 0.8;
  }
  @media print {
    #to-print {
        display: block;
    }
    .pl-35 {
        padding-left: 35px;
    }
    body {
        padding: 0 !important;
        background: none !important;
    }
    #sendSmsBtn,
    footer,
    #page-toshow,
    
    #form-html-templet .card-header * {
        padding: 0 !important;
    }
    #page-toshow{
      width: 900px;
    }
    .card {
        padding: 0 !important;
        border: 0;
    }
    footer[_ngcontent-pxw-c3] {
        display: none !important;
    }

    button {
        display: none !important;
    }
    td label {
        display: none;
    }
    .col-md-4{
      width: 10%;
    }
}

.example-element-diagram {
  min-width: 200px;
  border-radius: 30px;
  border: 1px solid black;
  padding: 8px;
  font-size: 13px;
  margin: 8px 0;
  height: 90%;
}

#BtnStyle{
  box-shadow: 3px 4px 3px 0px black;
  min-width: 50px;
  line-height: 30px;
}

#page-toshow{
  font-size: small;
  width: 100%;
  margin: 0px 140px 0px 0px;
}

.close {
  float: right;
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  padding-left: 15px;
  position: relative;
  z-index: 99999999 !important;
}

#administrativeBtn , #clinicalBtn{
  height: 50px;
  width: 120px;
  margin-left: 20px;
  font-size: xx-large;
}

.adminClinicBtns{
  margin-top: 20px;
  justify-content: center;
  text-align-last: center;
}

h2{
  text-align: center;
  padding: 6px;
  margin: auto;
}
#formBody{
  border-style: outset;
    margin-bottom: 8px;
}

h3{
  margin: auto;
}
h1{
  margin: auto;
}
#importantIcon{
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}