#navigate-icon-before{
  float: left;
  margin-left: 100px;
  background: cornflowerblue;
  border-radius: 30%;
  cursor: pointer;
}
#navigate-icon-next{
  float: right;
  margin-right: 100px;
  background: cornflowerblue;
  border-radius: 30%;
  cursor: pointer;
}

@media only screen and (min-width: 1050px) {

  .mat-column-patientid{
    width: 100px !important;
  }
  .mat-column-firstname{
    width: 12px !important;
  }
  .mat-column-lastname{
    width: 12px !important;
  }
  .mat-column-departname{
    width: 12px !important;
  }
  .mat-column-room{
    width: 12px !important;
  }
  .mat-column-starttime{
    width: 12px !important;
  }
  .mat-column-endtime{
    width: 12px !important;
  }
  .mat-column-date{
    width: 12px !important;
  }
  .mat-column-status{
    width: 75px !important;
  }
 
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 20px;
  }
  td.mat-cell{
    font-size: 20px;
  }

  [dir=rtl] th.mat-header-cell {
    text-align: center;
    padding: 10px 25px 10px 63px;
  }

  h4{
    text-align: center;
  }
  #buffer{
  background-color: blue;
  }
  
  #EventBtn2{
    float: right;
  }
  
  #details-btn{
    font-size: 25px;
  }
  .mat-elevation-z8{
  background-color: floralwhite;
  }
  .form{
  background-color: aliceblue;
  }
  
  .close {
    float: right;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding-left: 15px;
  }
  .mat-table{
    table-layout: fixed;
    font-family: 'math';
  }
  #list_of_types{
    display: inline-flex;
  }
 
}

@media only screen and (min-width: 100px) {

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  td.mat-cell{
    font-size: 16px;
  }
  
  h4{
    text-align: center;
  }
  #buffer{
  background-color: blue;
  }
  
  #EventBtn2{
    float: right;
  }
  
  #details-btn{
    font-size: 25px;
  }
  .mat-elevation-z8{
  background-color: floralwhite;
  }
  .form{
  background-color: aliceblue;
  }
  
  .close {
    float: right;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding-left: 15px;
  }
  .mat-table{
    table-layout: fixed;
    font-family: 'math';
  }
  #list_of_types{
    display: inline-flex;
  }
 
[dir=rtl] th.mat-header-cell {
  text-align: center;
  font-size: 17px;
}
 
}
