<mat-progress-bar mode="indeterminate" id="buffer" *ngIf="!progressBarNumbers"></mat-progress-bar>
<button type="button" class="close" *ngIf="deliveryRoomDialog == undefined" matTooltip="סגירה" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
</button>
<form class="form" [formGroup]="deliveryRoomForm" *ngIf="delivery">
    <h4><b style="margin-left: 120px;font-family: 'math';">ילדו היום  </b> <span style="font-family: 'math';">{{myDate | date: "dd.MM.yyyy"}}</span></h4>
    <table dir="rtl" [dataSource]="dataSource3" mat-table class="mat-elevation-z8" style="width: 100%;">

        <ng-container matColumnDef="regular">
            <th mat-header-cell *matHeaderCellDef> לידה רגילה </th>
            <td mat-cell *matCellDef="let element"> {{element.RegularBirth}} </td>
        </ng-container>
        <ng-container matColumnDef="imperial">
            <th mat-header-cell *matHeaderCellDef> ניתוח קיסרי </th>
            <td mat-cell *matCellDef="let element"> {{element.ImperialBirth}} </td>
        </ng-container>
        <ng-container matColumnDef="other">
            <th mat-header-cell *matHeaderCellDef> מכשירנים </th>
            <td mat-cell *matCellDef="let element"> {{element.OtherBirth}} </td>
        </ng-container>
        <ng-container matColumnDef="beforebirth">
            <th mat-header-cell *matHeaderCellDef> לפני לידה </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="number" formControlName="beforeDelivery" style="text-align: center;">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="beforesurgery">
            <th mat-header-cell *matHeaderCellDef> לפני ניתוח </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput type="number" formControlName="beforeSurgery" style="text-align: center;">
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay1"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay1;"></tr>
    </table>
    <button mat-raised-button type="submit" class="btn btn-primary btn-raised mt-2" matTooltip="שמירה" (click)="getSubmitChanges('1')">
        <i class="material-icons">save</i>
    </button>
    <!-- <div class="row p-3">
        <div class="col">
            <button matTooltip="מטופלים במחלקת" type="button" id="EventBtn2" mat-fab color="primary">
                <i class="material-icons">arrow_circle_down</i>
            </button>
        </div>
    </div> -->
    <hr>
    <h4 style="font-family: 'math';">רשימת מטופלות במחלקה <b>
        </b></h4>

    <div dir="rtl">
        <mat-form-field class="float-right text-right" appearance="standard">
            <mat-label>מסנן</mat-label>
            <input matInput (keyup)="applyFilter($event,'')" #input>
        </mat-form-field>
    </div>
    <div dir="rtl" class="mb-3 text-center">
        <mat-list role="list" id="list_of_types">
            <mat-list-item role="listitem"><button type="button" id="details-btn" (click)="applyFilter($event,'')"
                    mat-raised-button style="background-image: linear-gradient(grey, aquamarine);font-family: 'math';">
                    הכל
                </button></mat-list-item>
            <mat-list-item role="listitem"><button type="button" id="details-btn" (click)="applyFilter($event,'ACTIVE')"
                    mat-raised-button style="background-color: aquamarine;font-family: 'math';">
                    מטופלות כעת
                </button></mat-list-item>
            <mat-list-item role="listitem"><button type="button" id="details-btn" (click)="applyFilter($event,'NOT')"
                    mat-raised-button style="background-color: grey;font-family: 'math';">
                    השתחררו
                </button></mat-list-item>
        </mat-list>
    </div>
    <table dir="rtl" mat-table [dataSource]="dataSource3_2" class="mat-elevation-z8" style="width: 100%;">

        <ng-container matColumnDef="casenumber">
            <th mat-header-cell *matHeaderCellDef> מס' מקרה (אמא) </th>
            <td mat-cell *matCellDef="let element"> {{element.H_CASE_NUMBER_MOTHER}} </td>
        </ng-container>

        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> שם פרטי (אמא) </th>
            <td mat-cell *matCellDef="let element"> {{element.H_PATIENT_FIRST_NAME}} </td>
        </ng-container>

        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> שם משפחה </th>
            <td mat-cell *matCellDef="let element"> {{element.H_PATIENT_LAST_NAME}} </td>
        </ng-container>

        <ng-container matColumnDef="birthtype">
            <th mat-header-cell *matHeaderCellDef> סוג לידה </th>
            <td mat-cell *matCellDef="let element"> {{element.H_BIRTH_PROCEDURE}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> תאריך לידה </th>
            <td mat-cell *matCellDef="let element"> {{element.H_DOB}} </td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> שעת לידה </th>
            <td mat-cell *matCellDef="let element"> {{element.H_DOB_TIME}} </td>
        </ng-container>

        <ng-container matColumnDef="birthweek">
            <th mat-header-cell *matHeaderCellDef> שבוע היריון </th>
            <td mat-cell *matCellDef="let element"> {{element.PregnancyBirthWeek}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay1_2"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay1_2;"
            [style.background]="row.Active == 'ACTIVE' ? 'aquamarine': 'darkgray'"></tr>

    </table>
</form>

<form class="form" *ngIf="surgery">
    <h4 style="font-family: 'math';"><b style="margin-left: 120px;">חדר ניתוח </b> {{myDate | date: "dd.MM.yyyy"}}</h4>
    <table dir="rtl" [dataSource]="dataSource4" mat-table class="mat-elevation-z8" style="width: 100%;">

        <ng-container matColumnDef="inprogress">
            <th mat-header-cell *matHeaderCellDef> פעיל </th>
            <td mat-cell *matCellDef="let element"> {{element.SurgeryCountInProgress}} </td>
        </ng-container>
        <ng-container matColumnDef="waiting">
            <th mat-header-cell *matHeaderCellDef> מתוכנן </th>
            <td mat-cell *matCellDef="let element"> {{element.SurgeryCountPlanned}} </td>
        </ng-container>
        <ng-container matColumnDef="completed">
            <th mat-header-cell *matHeaderCellDef> הסתיים </th>
            <td mat-cell *matCellDef="let element"> {{element.SurgeryCountCompleted}} </td>
        </ng-container>
        <ng-container matColumnDef="canceled">
            <th mat-header-cell *matHeaderCellDef> התבטל </th>
            <td mat-cell *matCellDef="let element"> {{element.SurgeryCountCanceled}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay2;"></tr>
    </table>
    <hr>
    <h4 style="font-family: 'math';">תוכנית ניתוחים <b>
        </b></h4>
    <div dir="rtl">
        <mat-form-field class="float-right text-right" appearance="standard">
            <mat-label>מסנן</mat-label>
            <input matInput (keyup)="applyFilter2($event)" #input>
        </mat-form-field>
    </div>

    <table dir="rtl" mat-table [dataSource]="dataSource4_2" class="mat-elevation-z8" style="width: 100%;">

        <ng-container matColumnDef="patientid">
            <th mat-header-cell *matHeaderCellDef> תעודת זהות </th>
            <td mat-cell *matCellDef="let element"> {{element.PatientId}} </td>
        </ng-container>

        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> שם פרטי </th>
            <td mat-cell *matCellDef="let element"> {{element.PatientFirstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> שם משפחה </th>
            <td mat-cell *matCellDef="let element"> {{element.PatientLastName}} </td>
        </ng-container>

        <ng-container matColumnDef="room">
            <th mat-header-cell *matHeaderCellDef> חדר ניתוח </th>
            <td mat-cell *matCellDef="let element"> {{element.SurgeryRoom}} </td>
        </ng-container>

        <ng-container matColumnDef="surgeryname">
            <th mat-header-cell *matHeaderCellDef> שם ניתוח </th>
            <td mat-cell *matCellDef="let element" style="word-break: break-all;"> {{element.SurgeryName}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> תאריך ניתוח </th>
            <td mat-cell *matCellDef="let element"> {{element.SurgeryDate}} </td>
        </ng-container>

        <ng-container matColumnDef="starttime">
            <th mat-header-cell *matHeaderCellDef> שעת תחילה </th>
            <td mat-cell *matCellDef="let element"> {{element.SurgeryTime}} </td>
        </ng-container>

        <ng-container matColumnDef="endtime">
            <th mat-header-cell *matHeaderCellDef> שעת סיום </th>
            <td mat-cell *matCellDef="let element"> {{element.SurgeryEndTime}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> סטטוס ניתוח </th>
            <td mat-cell *matCellDef="let element"> {{element.SurgeryStatus}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay2_2"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay2_2;"
            [style.background]="row.SurgeryStatus == 'מתוכנן' ? 'antiquewhite' : row.SurgeryStatus == 'פעיל' ? 'aquamarine' : 'darkgray'">
        </tr>

    </table>
</form>

<form class="form" *ngIf="ICU">
    <h4 style="font-family: 'math';"><b style="margin-left: 120px;">מחלקה לרפואה דחופה </b> {{myDate | date: "dd.MM.yyyy"}}</h4>
    <table dir="rtl" [dataSource]="dataSource5" mat-table class="mat-elevation-z8" style="width: 100%;">

        <ng-container matColumnDef="all">
            <th mat-header-cell *matHeaderCellDef> הכל </th>
            <td mat-cell *matCellDef="let element"><button type="button"
                    (click)="getOtherDepartmentPatients('ALL','0',$event)" matTooltip="מטופלים במצטבר"
                    mat-raised-button style="background-image: linear-gradient(grey, aquamarine);font-family: 'math';">
                    {{element.ALL}}
                </button>
                <button type="button" style="background-color: aquamarine;font-family: 'math';"
                    (click)="getOtherDepartmentPatients('ALL','1',$event)" matTooltip="מטופלים כעת" [disabled]
                    mat-raised-button>
                    {{element.ALLNOW}}
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="shockroom">
            <th mat-header-cell *matHeaderCellDef> חדר הלם </th>
            <td mat-cell *matCellDef="let element"><button type="button"
                    (click)="getOtherDepartmentPatients('HELEM','0',$event)" matTooltip="מטופלים במצטבר"
                    mat-raised-button style="background-image: linear-gradient(grey, aquamarine);font-family: 'math';">
                    {{element.HELEM}}
                </button> <button type="button" style="background-color: aquamarine;font-family: 'math';"
                    (click)="getOtherDepartmentPatients('HELEM','1',$event)" matTooltip="מטופלים כעת" [disabled]
                    mat-raised-button>
                    {{element.HELEMNOW}}
                </button></td>
        </ng-container>
        
        
        <ng-container matColumnDef="lyingdown">
            <th mat-header-cell *matHeaderCellDef> שוכבים </th>
            <td mat-cell *matCellDef="let element"><button type="button" matTooltip="מטופלים במצטבר"
                    (click)="getOtherDepartmentPatients('SHOKHVVEM','0',$event)" mat-raised-button
                    style="background-image: linear-gradient(grey, aquamarine);font-family: 'math';">
                    {{element.SHOKHVVEM}}
                </button> <button type="button" style="background-color: aquamarine;font-family: 'math';"
                    (click)="getOtherDepartmentPatients('SHOKHVVEM','1',$event)" matTooltip="מטופלים כעת" [disabled]
                    mat-raised-button>
                    {{element.SHOKHVVEMNOW}}
                </button></td>
        </ng-container>
        <ng-container matColumnDef="standing">
            <th mat-header-cell *matHeaderCellDef> מהלכים </th>
            <td mat-cell *matCellDef="let element"><button type="button" matTooltip="מטופלים במצטבר"
                    (click)="getOtherDepartmentPatients('MEHALKHEM','0',$event)" mat-raised-button
                    style="background-image: linear-gradient(grey, aquamarine);font-family: 'math';">
                    {{element.MEHALKHEM}}
                </button> <button type="button" style="background-color: aquamarine;font-family: 'math';"
                    (click)="getOtherDepartmentPatients('MEHALKHEM','1',$event)" matTooltip="מטופלים כעת" [disabled]
                    mat-raised-button>
                    {{element.MEHALKHEMNOW}}
                </button></td>
        </ng-container>
        <ng-container matColumnDef="women">
            <th mat-header-cell *matHeaderCellDef> נשים </th>
            <td mat-cell *matCellDef="let element"><button type="button"
                    (click)="getOtherDepartmentPatients('WOMEN','0',$event)" mat-raised-button
                    matTooltip="מטופלים במצטבר" style="background-image: linear-gradient(grey, aquamarine);font-family: 'math';">
                    {{element.WOMEN}}
                </button> <button type="button" style="background-color: aquamarine;font-family: 'math';"
                    (click)="getOtherDepartmentPatients('WOMEN','1',$event)" matTooltip="מטופלים כעת" [disabled]
                    mat-raised-button>
                    {{element.WOMENNOW}}
                </button></td>
        </ng-container>
        <ng-container matColumnDef="child">
            <th mat-header-cell *matHeaderCellDef> ילדים </th>
            <td mat-cell *matCellDef="let element"><button type="button"
                    (click)="getOtherDepartmentPatients('CHILDREN','0',$event)" mat-raised-button
                    style="background-image: linear-gradient(grey, aquamarine);font-family: 'math';" matTooltip="מטופלים במצטבר">
                    {{element.CHILDREN}}
                </button> <button type="button" style="background-color: aquamarine;font-family: 'math';"
                    (click)="getOtherDepartmentPatients('CHILDREN','1',$event)" matTooltip="מטופלים כעת" [disabled]
                    mat-raised-button>
                    {{element.CHILDRENNOW}}
                </button></td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay3"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay3;"></tr>
    </table>

    <hr>
    <h4 *ngIf="ICUDetails" style="font-family: 'math';">רשימת מטופלים<b>
        </b></h4>
        <mat-progress-bar mode="indeterminate" id="buffer" *ngIf="!IcuPatientsBar"></mat-progress-bar>
    <div dir="rtl">
        <mat-form-field appearance="standard" *ngIf="ICUDetails">
            <mat-label>סינון</mat-label>
            <input matInput (keyup)="applyFilter3($event,'0')" placeholder="הקלד..." #input>
        </mat-form-field>
    </div>
    <table dir="rtl" *ngIf="ICUDetails" mat-table [dataSource]="dataSource5_2" class="mat-elevation-z8"
        style="width: 100%;">

        <ng-container matColumnDef="casenumber">
            <th mat-header-cell *matHeaderCellDef> מספר מקרה </th>
            <td mat-cell *matCellDef="let element"> {{element.CaseNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="departmed">
            <th mat-header-cell *matHeaderCellDef> מחלקה רפואית </th>
            <td mat-cell *matCellDef="let element"> {{element.departMed}} </td>
        </ng-container>

        <ng-container matColumnDef="patientlastname">
            <th mat-header-cell *matHeaderCellDef> שם משפחה </th>
            <td mat-cell *matCellDef="let element"> {{element.PatientLastName}} </td>
        </ng-container>

        <ng-container matColumnDef="patientfirstname">
            <th mat-header-cell *matHeaderCellDef> שם פרטי </th>
            <td mat-cell *matCellDef="let element"> {{element.PatientFirstName}} </td>
        </ng-container>
        <ng-container matColumnDef="dadname">
            <th mat-header-cell *matHeaderCellDef> שם אבא </th>
            <td mat-cell *matCellDef="let element"> {{element.PatientFatherName}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> גיל </th>
            <td mat-cell *matCellDef="let element"> {{element.H_DOB}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> מגדר </th>
            <td mat-cell *matCellDef="let element"> {{element.PatientGender}} </td>
        </ng-container>

        <ng-container matColumnDef="datein">
            <th mat-header-cell *matHeaderCellDef> תאריך הגעה </th>
            <td mat-cell *matCellDef="let element"> {{element.DateIn}} </td>
        </ng-container>

        <ng-container matColumnDef="timein">
            <th mat-header-cell *matHeaderCellDef> זמן הגעה </th>
            <td mat-cell *matCellDef="let element"> {{element.TimeIn}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> סטטוס </th>
            <td mat-cell *matCellDef="let element"><span *ngIf="element.Active == '1'">נמצא</span><span *ngIf="element.Active == '0'">שוחרר</span>  </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay3_2"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay3_2;"
            [style.background]="row.Active == 'ACTIVE' ? 'aquamarine': 'darkgray'"></tr>

    </table>
</form>