<div class="container-fluid" style="padding: 0px 80px 60px 80px;" dir="rtl">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" style="border-radius: 5px;margin: 1px" mwlCalendarPreviousView
                    [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                    הקודם
                </div>
                <div class="btn btn-outline-secondary" style="border-radius: 5px;margin: 1px" mwlCalendarToday
                    [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                    היום
                </div>
                <div class="btn btn-primary" style="border-radius: 5px;margin: 1px" mwlCalendarNextView [view]="view"
                    [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                    הבא
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'he' }}</h3>
        </div>
        <div class="col-md-4">
            <!-- <div class="btn-group">
                <div class="btn btn-primary" style="border-radius: 5px;margin: 1px"
                    (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                    חודש
                </div>
                <div class="btn btn-primary" style="border-radius: 5px;margin: 1px" (click)="setView(CalendarView.Week)"
                    [class.active]="view === CalendarView.Week">
                    שבוע
                </div>
                <div class="btn btn-primary" style="border-radius: 5px;margin: 1px" (click)="setView(CalendarView.Day)"
                    [class.active]="view === CalendarView.Day">
                    יום
                </div>
            </div> -->
        </div>
    </div>
    <br />
    <ng-template #customCellTemplate let-day="day" let-locale="locale">
        <div class="cal-cell-top">
            <span class="cal-day-badge" *ngIf="day.badgeTotal > 0" style="background-color: grey;">{{ day.badgeTotal
                }}</span>
            <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        </div>
        <small *ngFor="let ev of day.events let i = index">
            <span dir="rtl" *ngIf="i<3" class="span-cards" [ngStyle]="{background: ev.color, color: 'black'}">
                {{ ev.title }}
            </span>
        </small>
        <span dir="rtl" class="span-cards" *ngIf="day.events.length > 3" style="color: black;border: white;">
            ועוד {{ day.events.length - 3 }} חדרים נוספים
        </span>
    </ng-template>
    <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [locale]="locale" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
            [cellTemplate]="customCellTemplate" (dayClicked)="dayClicked($event.day, $event);"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <!-- <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [locale]="locale" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [locale]="locale" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view> -->
    </div>
</div>