<div id="page-toshow">
    <h1 class="page-title text-center">קשר ילוד לאם</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                autocomplete="off"
                                                placeholder="חפש"
                                                [(ngModel)]="fliterVal"
                                                name="fliterVal"
                                            />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <button
                                mat-raised-button
                                type="submit"
                                class="btn btn-primary btn-raised"
                                (click)="getReport($event)"
                            >
                                הצג
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
</div>
<ng-template #patientModal let-modal>
    <div dir="rtl" class="modal-header text-right">
        <h4 class="modal-title text-center" id="modal-basic-title">
            קשר ילוד לאם
        </h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div dir="rtl" class="modal-body  text-right">
        <div *ngIf="mPatientData[0].Mother_Case_Number" class="row">
            <div class="col-md-4  text-center">
                <label><b>ת.ז אם</b></label>
                <p>{{mPatientData[0].Mother_ID}}</p>
            </div>
            <div class="col-md-4  text-center">
                <label><b>שם פרטי לאם</b></label>
                <p>{{mPatientData[0].Mother_First_name}}</p>
            </div>
            <div class="col-md-4 text-center">
                <label><b>שם פרטי לאם</b></label>
                <p>{{mPatientData[0].Mother_Last_Name}}</p>
            </div>
        </div>
        <hr>
        <div *ngFor="let mPatient of mPatientData; let i = index;" class="row pd-25">          
  
            <div class="col">
                <span  matBadge="{{i+1}}" matBadgeOverlap="false"  matBadgeSize="large"> <b>מס' מקרה לילוד</b> </span>
                <p>{{mPatient.Childe_Case_Number}}</p>
            </div>
            <div class="col"> 
                <label><b>ת.ז ילוד</b></label>
                <p>{{mPatient.Childe_ID}}</p>
            </div>
            <div class="col">
                <label><b>שם פרטי לילוד</b></label>
                <p>{{mPatient.Childe_First_Name}}</p>
            </div>
            <div class="col">
                <label><b>שם משפחה לילוד</b></label>
                <p>{{mPatient.Childe_Last_Name}}</p>
            </div>
            <div class="col">
                <label><b>תאריך לידה</b></label>
                <p>{{mPatient.Chiled_DOB}}</p>
            </div>
            <div class="col-12">                
                <hr>
            </div>
        </div>    
        <div *ngIf="mPatientData.length == 0" class="row">
            <div class="col-md-12 text-center">
                <h2><b> לא נמצא ניתונים</b></h2>
            </div>            
        </div>       
    </div>
</ng-template>