<div class="row" id="page-toshow">
    <div class="col" dir="rtl">
        <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="detailsFormGroup">
                <form [formGroup]="detailsFormGroup">
                    <ng-template matStepLabel>פרטים דמוגרפיים</ng-template>
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>שם פרטי</mat-label>
                                <input matInput formControlName="FirstName">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>שם משפחה</mat-label>
                                <input matInput formControlName="LastName">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>מספר תעודת זהות</mat-label>
                                <input matInput formControlName="PersonID">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>תאריך לידה</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="DOB">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            </mat-form-field>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <mat-label>מגדר : </mat-label>
                            <mat-radio-group class="example-radio-group" formControlName="Gender">
                                <mat-radio-button value="1" style="margin-left: 20px;margin-right: 20px;">זכר
                                </mat-radio-button>
                                <mat-radio-button value="2" style="margin-left: 20px;">נקבה</mat-radio-button>
                                <mat-radio-button value="3">אחר</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>מספר טלפון</mat-label>
                                <input matInput formControlName="PhoneNumber">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>אימייל</mat-label>
                                <input matInput formControlName="Email">
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>כתובת</mat-label>
                                <input matInput formControlName="Address">
                            </mat-form-field>
                        </div>
                    </div>

                    <div>
                        <button mat-raised-button matStepperNext>הבא</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="servicesFormGroup">
                <form [formGroup]="servicesFormGroup">
                    <ng-template matStepLabel>סוג שירות</ng-template>
                    <div class="row">
                        <div class="col-8">
                            <mat-form-field appearance="fill">
                                <mat-label>מחלקה</mat-label>
                                <mat-select formControlName="DepartNumber">
                                    <mat-option *ngFor="let dept of departments" [value]="dept.DepartNumber">
                                        {{dept.DepartName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4 text-right">
                            <div class="example-button-container">
                                <button mat-fab color="primary" (click)="searchServices()">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </div>
                        </div>
                        <mat-progress-bar mode="indeterminate" *ngIf="searchingProgress"></mat-progress-bar>
                    </div>
                    <div class="row" *ngIf="deptChosen">
                        <div class="col text-right" style="height: 600px;">
                            <mat-form-field style="width: 47%;">
                                <mat-label>סינון לפי תאור שירות</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="התחל הקלדה ..." #input>
                            </mat-form-field>
                            <div class="amin">
                                <mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                                    formArrayName="PatientsServicesList">
                                    <ng-container matColumnDef="code">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> קוד שירות
                                        </th>
                                        <td mat-cell *matCellDef="let element" [formGroupName]="element.value">
                                            <mat-form-field class="text-center">
                                                <input matInput formControlName="ServiceNumber">
                                            </mat-form-field>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> תאור שירות
                                        </th>
                                        <td mat-cell *matCellDef="let element" [formGroupName]="element.value">
                                            <mat-form-field class="text-center" style="width: 400px;">
                                                <textarea matInput rows="4">{{ element.name }}</textarea>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="quantity">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> כמות </th>
                                        <td mat-cell *matCellDef="let element" [formGroupName]="element.value">
                                            <mat-form-field class="text-center">
                                                <mat-label>כמות</mat-label>
                                                <input matInput placeholder="0" min="0"
                                                    formControlName="ServiceQuantity" type="number">
                                            </mat-form-field>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                                        </td>
                                    </tr>
                                </mat-table>
                            </div>
                        </div>
                    </div>
                    <div>
                        <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
                        <button mat-raised-button matStepperPrevious>חזרה</button>
                        <button mat-raised-button matStepperNext>הבא</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>סיום</ng-template>
                <div class="button-row">
                    <button class="full-width mb-5" style="font-weight: bold;font-size: 20px;color: white;"
                        color="primary" type="submit" (click)="onSubmit()" mat-raised-button>
                        <span>שמירה ושליחה לפקידה</span>
                    </button>
                </div>
                <div>
                    <button mat-raised-button matStepperPrevious>חזרה</button>
                    <button mat-stroked-button (click)="stepper.reset()">איפוס</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>