.mat-tab-label{
    min-width: 260px !important;
}
.min-height-200{
    min-height: 145px;
}
.mat-tab-label .mat-tab-label-content {
    width: 200px;
}
.min-width-200{
    min-width: 200px;
}
.warn-server{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 9px;
    background: #f51b1b;
    font-size: 22px;
    color: #fff;
}
.green-server{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 9px;
    background: #1bf52c;
    font-size: 22px;
    color: #fff;
}