<h2 mat-dialog-title>
    <button mat-button mat-dialog-close>X</button>
    <h2>
        <span *ngIf="data.row.is_online == 'True'" class="online-green"></span>
        <span *ngIf="data.row.is_online == 'False'" class="offline-red"></span>
        <span> Of Device  #ID: {{data.row.asset_id}} </span> &nbsp; &nbsp; &nbsp;
        <span> Last User Login: {{data.row.last_domain_user}} </span>
    </h2>
</h2>
<mat-dialog-content dir="ltr" class="mat-typography change-accordion-css">
    <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> <mat-icon>devices</mat-icon> &nbsp;&nbsp;&nbsp;  Device IDs </mat-panel-title>                
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col">
                    <div class="info">{{data.row.ip_list}}</div>
                    <div class="title">IP</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.mac_list}}</div>
                    <div class="title">MAC</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.mac_oui_list}}</div>
                    <div class="title">MAC OUI</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.device_category}}</div>
                    <div class="title">CATEGORY</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.device_subcategory}}</div>
                    <div class="title">SUB CATEGORY</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.manufacturer}}</div>
                    <div class="title">MANUFACTURER</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="info">{{data.row.device_type}}</div>
                    <div class="title">TYPE</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.model}}</div>
                    <div class="title">MODEL</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.machine_type}}</div>
                    <div class="title">MACHINE TYPE</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.mobility}}</div>
                    <div class="title">MOBILITY</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.serial_number}}</div>
                    <div class="title">SERIAL NUMBER</div>
                </div>
                <div class="col"></div>
            </div>            
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> <mat-icon>share</mat-icon> &nbsp;&nbsp;&nbsp;  Network </mat-panel-title>
                
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col">
                    <div class="info">{{data.row.network_list}}</div>
                    <div class="title">NETWORK</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.network_scope_list}}</div>
                    <div class="title">NETWORK SCOPE</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.vlan_list}}</div>
                    <div class="title">VLAN</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.connection_type_list}}</div>
                    <div class="title">CONNECTION TYPE</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.ip_assignment_list}}</div>
                    <div class="title">IP ASSIGNMENT</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.first_seen_list}}</div>
                    <div class="title">FIRST SEEN</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="info">{{data.row.last_seen_list}}</div>
                    <div class="title">LAST SEEN</div>
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col"></div>
            </div>            
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> <mat-icon>gps_fixed</mat-icon> &nbsp;&nbsp;&nbsp;  Location </mat-panel-title>
                
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col">
                    <div class="info">{{data.row.switch_ip_list}}</div>
                    <div class="title">SWITCH IP</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.switch_mac_list}}</div>
                    <div class="title">SWITCH MAC</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.switch_port_list}}</div>
                    <div class="title">SWITCH PORT ID</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.switch_port_description_list}}</div>
                    <div class="title">SWITCH PORT DESCRIPTION</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.switch_name_list}}</div>
                    <div class="title">SWITCH NAME</div>
                </div>
                <div class="col">
                    <div class="info">{{data.row.last_seen_on_switch_list}}</div>
                    <div class="title">LAST SEEN ON SWITCH</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col"></div>
            </div>            
        </mat-expansion-panel>
        <br>
        <br>
    </mat-accordion>
</mat-dialog-content>
