<h1 class="page-title text-center">חשבונות</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div dir="rtl" class="card w-85-p">
                <div dir="rtl" class="card-body">
                    <form class="form">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput autocomplete="off" placeholder="מ תאריך" required
                                            (focus)="startdate.open()" [(ngModel)]="startdateVal" name="startdate"
                                            [matDatepicker]="startdate" >
                                        <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                                        <mat-datepicker #startdate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput autocomplete="off" placeholder="עד תאריך "
                                            (focus)="enddate.open()" required [(ngModel)]="enddateVal" name="enddate"
                                            [matDatepicker]="enddate" >
                                        <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                                        <mat-datepicker #enddate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="col">
                                <div class="form-group">                                  
                                    <mat-form-field>
                                        <mat-label>סוג מבקר</mat-label>
                                        <mat-select [(value)]="PatientType" required>
                                            <mat-option value="-1">הכל</mat-option>
                                            <mat-option value="0001">אזרח</mat-option>
                                            <mat-option value="0002">צה"ל</mat-option>
                                            <mat-option value="0004">תושב חוץ</mat-option>
                                            <mat-option value="0005">שטחים</mat-option>
                                            <mat-option value="0007">מכון לתזונה קלינית</mat-option>
                                            <mat-option value="0008">ילדי עובד זר</mat-option>
                                            <mat-option value="0009">תיירות מרפא</mat-option>
                                            <mat-option value="0010">או"ם</mat-option>
                                            <mat-option value="0011">משהב"ס</mat-option>
                                            <mat-option value="0012">דייר רחוב</mat-option>
                                            <mat-option value="0013">עובד זר עם אשרה</mat-option>
                                            <mat-option value="0014">שבוי</mat-option>
                                            <mat-option value="0015">תושב ארעי</mat-option>
                                            <mat-option value="0016">פליט</mat-option>
                                            <mat-option value="0017">שוטר</mat-option>
                                            <mat-option value="0099">אחר</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>   
                            </div>
                        </div>
                       
                        <button type="submit" class="btn d-none btn-link none-all btn-raised" (click)="getReportExcel($event)">
                            <img src="assets/images/excel.png">
                        </button>                                   
                        <button mat-raised-button type="submit" class="btn btn-primary btn-raised" (click)="getReport($event)">הצג</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

