<div class="wrapper" dir="rtl">
    <h1 class="page-title text-center">{{choosenDept.DIMDataTypeDesc}}</h1>
    <div class="row head-row">
        <div class="col-6 text-right">
            <mat-list role="list">
                <mat-list-item *ngFor="let dept of departments" role="listitem">
                    <button class="depts-btn" (click)="chooseDataType(dept)" mat-raised-button
                        color="primary">{{dept.DIMDataTypeDesc}}</button>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="col-3 text-right">
            <!-- <select class="form-select" style="margin-right: 26%;"
                (change)="pie.refresh($event.target.value); bar.refresh($event.target.value); groupedbar.refresh($event.target.value); line.refresh($event.target.value);"> -->
            <select class="form-select" (change)="changeTime($event.target.value,'all');">
                <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                </option>
            </select>
        </div>
        <div *ngIf="departParam == '1'" class="col-3 text-right" [formGroup]="surgeryDeptTypeGroup">
            <mat-radio-group formControlName="surgeryDeptType" aria-label="Select an option"
                (change)="changeSurgeryType()">
                <mat-radio-button value="0">הכל</mat-radio-button>
                <mat-radio-button value="1">ח.נ כללי</mat-radio-button>
                <mat-radio-button value="2">חדרי ניתוח</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="departParam == '5' || departParam == '6'" class="col-3 text-right" [formGroup]="hospitalDepartTypeGroup">
            <mat-radio-group formControlName="hospitalDepartType" aria-label="Select an option"
                (change)="changeSurgeryType()">
                <mat-radio-button value="0">סיעודי</mat-radio-button>
                <mat-radio-button value="1">רפואי</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="row" [formGroup]="graphsCtrl">
        <div class="row section" dir="rtl">
            <div [ngClass]="phoneMode == '1' ? 'col-12' : 'col-6'" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;">
                    <h3>{{pieTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="pieCtrl" (change)="changeTime($event.target.value,'pie');">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-pie-chart #pie></app-pie-chart>
            </div>
            <div [ngClass]="phoneMode == '1' ? 'col-12' : 'col-6'" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;">
                    <h3>{{barTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="barCtrl" (change)="changeTime($event.target.value,'bar');">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-bar-chart #bar></app-bar-chart>
            </div>
        </div>
        <!-- <div class="row section" dir="rtl">
            <div class="col-12" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;">
                    <h3>כמות ניתוחים למחלקה ב{{lineTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="lineCtrl" (change)="changeTime($event.target.value,'line');">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-line-chart #line></app-line-chart>
            </div>
        </div> -->
        <div class="row section" dir="rtl">
            <div class="col-12" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;">
                    <h3>{{groupTime2}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="groupCtrl2" (change)="changeTime($event.target.value,'group2');">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-grouped-bar-chart2 #group2></app-grouped-bar-chart2>
            </div>
        </div>
        <div class="row section" dir="rtl">
            <div class="col-12" style="border: 1px solid black;border-radius: 10px;height: 920px;">
                <div class="row" style="justify-content: center;">
                    <h3>{{groupTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="groupCtrl" (change)="changeTime($event.target.value,'group');">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-grouped-bar-chart #groupedbar></app-grouped-bar-chart>
            </div>
        </div>
    </div>
</div>