<div class="wrapper" dir="rtl">
    <h1 class="page-title text-center">{{choosenDept.DIMDataTypeDesc}}</h1>
    <div class="row head-row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align-last: center;">
            <button mat-mini-fab color="accent" style="float: right;" aria-label="Excel"
                (click)="chooseExportingToExcel()" matTooltip="יצוא לאקסל">
                <mat-icon>get_app</mat-icon>
            </button>
            <button mat-button [matMenuTriggerFor]="menu"
                class="depts-list-menu">{{choosenDept.DIMDataTypeDesc}}</button>
            <mat-menu #menu="matMenu">
                <button *ngFor="let dept of departments" (click)="chooseDataType(dept)" mat-menu-item
                    color="primary">{{dept.DIMDataTypeDesc}}</button>
            </mat-menu>
            <!-- <script>
                var btn = document.querySelector(".depts-list-menu");
                var position;
                btn.addEventListener("mouseover", function() {
                    console.log("works");
                    position ? (position = 0) : (position = 150);
                    btn.style.transform = `translate(${position}px,0px)`;
                    btn.style.transition = 'all 0.3s ease'
                });
            </script> -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align-last: center;">
            <!-- <select class="form-select" style="margin-right: 26%;"
                (change)="pie.refresh($event.target.value); bar.refresh($event.target.value); groupedbar.refresh($event.target.value); line.refresh($event.target.value);"> -->

            <select class="form-select" (change)="chooseTimeValue($event.target.value)">
                <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                </option>
            </select>
            <mat-label *ngIf="this.TimeLineParam == '5'" class="mr-2">מ-שנה</mat-label>
            <select *ngIf="this.TimeLineParam == '5'" id="firstSelect" class="form-select"
                (change)="changePeriod($event);">
                <option value="undefined">הכל</option>
                <option *ngFor="let year of yearsPeriodList" [value]="year.number">{{year.year}}
                </option>
            </select>
            <mat-label *ngIf="this.TimeLineParam == '5'" class="mr-2">עד-שנה</mat-label>
            <select *ngIf="this.TimeLineParam == '5'" id="secondSelect" class="form-select"
                (change)="changePeriod($event);">
                <option value="undefined">הכל</option>
                <option *ngFor="let year of yearsPeriodList2" [value]="year.number">{{year.year}}
                </option>
            </select>
        </div>
        <div *ngIf="departParam == '1'" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align-last: center;">
            <div class="row">
                <div class="col-10 text-center">
                    <mat-label>סינון סוגי ניתוחים</mat-label>
                    <mat-form-field [formGroup]="surgeryDeptTypeGroup">
                        <mat-select [formControl]="selectSurgeryTypes" multiple>
                            <mat-option *ngFor="let type of surgeryTypesArray" [value]="type.value">{{type.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <button mat-mini-fab color="primary" (click)="changeSurgeryType()">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>
            <div style="margin-top: 6px;" [formGroup]="deliveryPrematureGroup">
                <section class="example-section">
                    <mat-checkbox class="example-margin" (change)="changeSurgeryType()"
                        formControlName="deliveryPremature">
                        לפי אתרים</mat-checkbox>
                </section>
            </div>
        </div>
        <div *ngIf="departParam == '5' || departParam == '6'" class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
            style="text-align-last: center;" [formGroup]="hospitalDepartTypeGroup">
            <mat-radio-group formControlName="hospitalDepartType" aria-label="Select an option"
                (change)="changeSurgeryType()" *ngIf="departParam == '5' || departParam == '6'">
                <mat-radio-button value="0">סיעודי</mat-radio-button>
                <mat-radio-button value="1">רפואי</mat-radio-button>
            </mat-radio-group>
            <section class="example-section">
                <mat-checkbox class="example-margin" (change)="changeSurgeryType()" formControlName="returnedPatients">
                    אשפוזים חוזרים</mat-checkbox>
            </section>
        </div>
        <div *ngIf="departParam == '7'" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align-last: center;"
            [formGroup]="deliveryPrematureGroup">
            <section class="example-section">
                <mat-checkbox class="example-margin" (change)="changeSurgeryType()" formControlName="deliveryPremature">
                    פגיה</mat-checkbox>
            </section>
        </div>
        <div *ngIf="departParam == '3'" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align-last: center;"
            [formGroup]="deliveryPrematureGroup">
            <section class="example-section">
                <mat-checkbox class="example-margin" (change)="changeSurgeryType()" formControlName="deliveryPremature">
                    מחלקות מזמינות</mat-checkbox>
            </section>
        </div>
        <!-- <div *ngIf="departParam == '1'" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align-last: center;"
            [formGroup]="deliveryPrematureGroup">
            <section class="example-section">
                <mat-checkbox class="example-margin" (change)="changeSurgeryType()" formControlName="deliveryPremature">
                    לפי אתרים</mat-checkbox>
            </section>
        </div> -->
        <div *ngIf="departParam == '2'" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align-last: center;"
            [formGroup]="deliveryPrematureGroup">
            <section class="example-section">
                <mat-checkbox class="example-margin" (change)="changeSurgeryType()" formControlName="deliveryPremature">
                    מרפאות מיוחדות</mat-checkbox>
            </section>
            <section class="example-section">
                <mat-checkbox class="example-margin" (change)="changeSurgeryType()" formControlName="ByDoctor">
                    לפי רופאים</mat-checkbox>
            </section>
        </div>
    </div>
    <div class="row">
        <mat-card class="example-card text-center" *ngFor="let card of cardsList">
            <mat-card-title-group style="justify-content: center;">
                <div class="text-center">
                    <mat-card-title style="font-weight: bold;">{{choosenDept.DIMDataTypeDesc}}</mat-card-title>
                    <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
                </div>
            </mat-card-title-group>
            <mat-card-content *ngIf="card.key == 'Up'" class="text-center"
                style="font-size: 25px;font-weight: bold;color: green;">
                <span class="material-icons" style="color: green;">
                    trending_up
                </span>
                <mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>
                <p *ngIf="!loader">{{card.y}}</p>
            </mat-card-content>
            <mat-card-content *ngIf="card.key == 'Down'" class="text-center"
                style="font-size: 25px;font-weight: bold;color: red;">
                <span class="material-icons" style="color: red;">
                    trending_down
                </span>
                <mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>
                <p *ngIf="!loader">{{card.y}}</p>
            </mat-card-content>
        </mat-card>
        <!-- <mat-card class="example-card text-center">
            <mat-card-title-group style="justify-content: center;">
                <div class="text-center">
                    <mat-card-title style="font-weight: bold;">מחלקות</mat-card-title>
                    <mat-card-subtitle>בחר מחלקה לסינון</mat-card-subtitle>
                </div>
            </mat-card-title-group>
            <mat-card-content class="text-center" style="overflow: auto;height: 82px;">
                <select class="form-select text-center" (change)="changeDepartInModal($event.target.value)">
                    <option value="הכל"> הכל </option>
                    <option *ngFor="let fill of filterDeparts" [value]="fill"> {{fill}} </option>
                </select>
            </mat-card-content>
        </mat-card> -->
        <mat-card class="example-card text-center" *ngIf="departParam == '5'">
            <mat-card-title-group style="justify-content: center;">
                <div class="text-center">
                    <mat-card-title style="font-weight: bold;">{{choosenDept.DIMDataTypeDesc}}</mat-card-title>
                    <mat-card-subtitle>כמות מאושפזים כרגע - {{_ifSeode}}</mat-card-subtitle>
                </div>
            </mat-card-title-group>
            <mat-card-content class="text-center" style="overflow: auto;height: 82px;">
                <div class="row" *ngFor="let dept of hospitalDepartments">
                    <div class="col-6">
                        {{dept.key}}
                    </div>
                    <div class="col-6">
                        {{dept.y}}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row" [formGroup]="graphsCtrl" *ngIf="!tableView">
        <div class="row section" dir="rtl">
            <div [ngClass]="phoneMode == '1' ? 'col-12' : 'col-6'" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;text-align-last: center;">
                    <h3>{{pieTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="pieCtrl" (change)="changeTime($event.target.value,'pie',[]);">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-pie-chart #pie></app-pie-chart>
            </div>
            <div [ngClass]="phoneMode == '1' ? 'col-12' : 'col-6'" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;text-align-last: center;">
                    <h3>{{barTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="barCtrl" (change)="changeTime($event.target.value,'bar',[]);">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-bar-chart #bar (newItemEvent)="changeDepartInModal($event)" [filterValue]="filterValue">
                </app-bar-chart>
            </div>
        </div>
        <!-- <div class="row section" dir="rtl">
            <div class="col-12" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;">
                    <h3>כמות ניתוחים למחלקה ב{{lineTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="lineCtrl" (change)="changeTime($event.target.value,'line');">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-line-chart #line></app-line-chart>
            </div>
        </div> -->
        <div class="row section" dir="rtl">
            <div class="col-12" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;text-align-last: center;">
                    <h3>{{groupTime2}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="groupCtrl2" (change)="changeTime($event.target.value,'group2',[]);">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-grouped-bar-chart2 #group2 (newItemEvent)="changeDepartInModal($event)"
                    [filterValue]="filterValue"></app-grouped-bar-chart2>
            </div>
        </div>
        <div class="row section" dir="rtl"
            [ngStyle]="{'display': departParam == '5'|| departParam == '6' ? 'block' : 'none' }">
            <div class="col-12" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;text-align-last: center;">
                    <h3>{{groupReleaseTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="groupReleaseCtrl"
                        (change)="changeTime($event.target.value,'groupRelease',[]);">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                    <div style="align-self: center;margin-right: 6%;" [formGroup]="releaseDeptChooseGroup">
                        <mat-radio-group formControlName="releaseDeptChoose" aria-label="Select an option"
                            (change)="changeReleasedDept()">
                            <mat-radio-button value="הכל">הכל</mat-radio-button>
                            <mat-radio-button value="ספנ-א">פנימית א</mat-radio-button>
                            <mat-radio-button value="ספנ-ב">פנימית ב</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <app-grouped-bar-chart-release #groupRelease></app-grouped-bar-chart-release>
            </div>
        </div>
        <div class="row section" dir="rtl">
            <div class="col-12" style="border: 1px solid black;border-radius: 10px;height: 920px;">
                <div class="row" style="justify-content: center;text-align-last: center;">
                    <h3>{{groupTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="groupCtrl" (change)="changeTime($event.target.value,'group',[]);">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                    <div *ngIf="departParam == '1'" style="align-self: center;margin-right: 6%;"
                        [formGroup]="surgeryChooseTypeGroup">
                        <mat-radio-group formControlName="surgeryChooseType" aria-label="Select an option"
                            (change)="changeSurgeryType()">
                            <mat-radio-button value="0">משמרת</mat-radio-button>
                            <mat-radio-button value="1">קטגוריה</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <app-grouped-bar-chart #groupedbar (newItemEvent)="changeDepartInModal($event)"
                    [filterValue]="filterValue"></app-grouped-bar-chart>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="tableView">
        <mat-form-field appearance="standard" style="box-shadow: -1px -1px 9px 0px #000;text-align: center;">
            <mat-label class="filterClass">מסנן</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="הקלד מסנן" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
            style="width: 100%;margin-top: 10px;">
            <ng-container matColumnDef="DoctorName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> שם רופא
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.DoctorName }} </td>
            </ng-container>

            <ng-container matColumnDef="DepartmentName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> מחלקה </th>
                <td mat-cell *matCellDef="let element"> {{ element.DepartmentName }} </td>
            </ng-container>

            <ng-container matColumnDef="Q">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ביקורים
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.Q }} </td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> פעולות
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.Actions }} </td>
            </ng-container>
            <tr mat-header-row id="tableRow" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[15,35,70,100]" showFirstLastButtons></mat-paginator>
    </div>
</div>