<div class="wrapper" dir="rtl">
    <h1 class="page-title text-center">{{choosenDept.DIMDataTypeDesc}}</h1>
    <div class="row head-row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align-last: center;">
            <button mat-button [matMenuTriggerFor]="menu"
                class="depts-list-menu">{{choosenDept.DIMDataTypeDesc}}</button>
            <mat-menu #menu="matMenu">
                <button *ngFor="let dept of departments" (click)="chooseDataType(dept)" mat-menu-item
                    color="primary">{{dept.DIMDataTypeDesc}}</button>
            </mat-menu>
            <!-- <mat-list role="list">
                <mat-list-item *ngFor="let dept of departments" role="listitem">
                    <button class="depts-btn" (click)="chooseDataType(dept)" mat-raised-button
                        color="primary">{{dept.DIMDataTypeDesc}}</button>
                </mat-list-item>
            </mat-list> -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align-last: center;">
            <!-- <select class="form-select" style="margin-right: 26%;"
                (change)="pie.refresh($event.target.value); bar.refresh($event.target.value); groupedbar.refresh($event.target.value); line.refresh($event.target.value);"> -->
            <select class="form-select" (change)="changeTime($event.target.value,'all');">
                <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                </option>
            </select>
        </div>
        <div *ngIf="departParam == '1'" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" [formGroup]="surgeryDeptTypeGroup"
            style="text-align-last: center;">
            <!-- <mat-radio-group formControlName="surgeryDeptType" aria-label="Select an option"
                (change)="changeSurgeryType()">
                <mat-radio-button value="0">הכל</mat-radio-button>
                <mat-radio-button value="1">ח.נ כללי</mat-radio-button>
                <mat-radio-button value="2">חדרי ניתוח</mat-radio-button>
            </mat-radio-group> -->
        </div>
        <div *ngIf="departParam == '5' || departParam == '6'" class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
            style="text-align-last: center;" [formGroup]="hospitalDepartTypeGroup">
            <mat-radio-group formControlName="hospitalDepartType" aria-label="Select an option"
                (change)="changeSurgeryType()">
                <mat-radio-button value="0">סיעודי</mat-radio-button>
                <mat-radio-button value="1">רפואי</mat-radio-button>
            </mat-radio-group>
            <section class="example-section">
                <mat-checkbox class="example-margin" (change)="changeSurgeryType()" formControlName="returnedPatients">אשפוזים חוזרים</mat-checkbox>
              </section>
        </div>
        <div *ngIf="departParam == '7'" class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
            style="text-align-last: center;" [formGroup]="deliveryPrematureGroup">
            <section class="example-section" *ngIf="UserName == 'adahabre'">
                <mat-checkbox class="example-margin" (change)="changeSurgeryType()" formControlName="deliveryPremature">פגיה</mat-checkbox>
              </section>
        </div>
    </div>
    <div class="row">
        <mat-card class="example-card text-center" *ngFor="let card of cardsList">
            <mat-card-title-group style="justify-content: center;">
                <div class="text-center">
                    <mat-card-title style="font-weight: bold;">{{choosenDept.DIMDataTypeDesc}}</mat-card-title>
                    <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
                </div>
            </mat-card-title-group>
            <mat-card-content *ngIf="card.key == 'Up'" class="text-center"
                style="font-size: 25px;font-weight: bold;color: green;">
                <span class="material-icons" style="color: green;">
                    trending_up
                </span>
                {{card.y}}
            </mat-card-content>
            <mat-card-content *ngIf="card.key == 'Down'" class="text-center"
                style="font-size: 25px;font-weight: bold;color: red;">
                <span class="material-icons" style="color: red;">
                    trending_down
                </span>
                {{card.y}}
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card text-center" *ngIf="departParam == '5'">
            <mat-card-title-group style="justify-content: center;">
                <div class="text-center">
                    <mat-card-title style="font-weight: bold;">{{choosenDept.DIMDataTypeDesc}}</mat-card-title>
                    <mat-card-subtitle>כמות מאושפזים כרגע - {{_ifSeode}}</mat-card-subtitle>
                </div>
            </mat-card-title-group>
            <mat-card-content class="text-center" style="overflow: auto;height: 82px;">
                <div class="row" *ngFor="let dept of hospitalDepartments">
                    <div class="col-6">
                        {{dept.key}}
                    </div>
                    <div class="col-6">
                        {{dept.y}}
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row" [formGroup]="graphsCtrl">
        <div class="row section" dir="rtl">
            <div [ngClass]="phoneMode == '1' ? 'col-12' : 'col-6'" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;text-align-last: center;">
                    <h3>{{pieTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="pieCtrl" (change)="changeTime($event.target.value,'pie');">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-pie-chart #pie></app-pie-chart>
            </div>
            <div [ngClass]="phoneMode == '1' ? 'col-12' : 'col-6'" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;text-align-last: center;">
                    <h3>{{barTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="barCtrl" (change)="changeTime($event.target.value,'bar');">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-bar-chart #bar></app-bar-chart>
            </div>
        </div>
        <!-- <div class="row section" dir="rtl">
            <div class="col-12" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;">
                    <h3>כמות ניתוחים למחלקה ב{{lineTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="lineCtrl" (change)="changeTime($event.target.value,'line');">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-line-chart #line></app-line-chart>
            </div>
        </div> -->
        <div class="row section" dir="rtl">
            <div class="col-12" style="border: 1px solid black;border-radius: 10px;">
                <div class="row" style="justify-content: center;text-align-last: center;">
                    <h3>{{groupTime2}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="groupCtrl2" (change)="changeTime($event.target.value,'group2');">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                </div>
                <app-grouped-bar-chart2 #group2></app-grouped-bar-chart2>
            </div>
        </div>
        <div class="row section" dir="rtl">
            <div class="col-12" style="border: 1px solid black;border-radius: 10px;height: 920px;">
                <div class="row" style="justify-content: center;text-align-last: center;">
                    <h3>{{groupTime}}</h3>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                        formControlName="groupCtrl" (change)="changeTime($event.target.value,'group');">
                        <option *ngFor="let time of timeLine" [value]="time.DimTimeTypeID">{{time.DimTimeTypeDesc}}
                        </option>
                    </select>
                    <div *ngIf="departParam == '1'" style="align-self: center;margin-right: 6%;"
                        [formGroup]="surgeryChooseTypeGroup">
                        <mat-radio-group formControlName="surgeryChooseType" aria-label="Select an option"
                            (change)="changeSurgeryType()">
                            <mat-radio-button value="0">משמרת</mat-radio-button>
                            <mat-radio-button value="1">קטגוריה</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <app-grouped-bar-chart #groupedbar></app-grouped-bar-chart>
            </div>
        </div>
    </div>
</div>