<h2 class="page-title text-center">רשימת מיילים</h2>


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div dir="rtl" class="card w-85-p">
                <div dir="rtl" class="card-body">
                    <form class="form" [formGroup]="formSearch">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group mt-3">
                                    <mat-form-field>
                                        <input matInput formControlName="compName" autocomplete="off"
                                            placeholder="חפש לפי שם פונה" name="fliterVal" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>מחלקה</mat-label>
                                    <mat-select formControlName="departmentControl">
                                        <mat-option [value]="">
                                            הכל
                                        </mat-option>
                                        <mat-option *ngFor="let dept of department" [value]="dept">
                                            {{dept}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <mat-form-field appearance="fill">
                                        <input matInput [max]="todaysDate" formControlName="compDateControl"
                                            [matDatepicker]="pickersearch" placeholder="חפש לפי תאריך פנייה">
                                        <mat-datepicker-toggle matSuffix [for]="pickersearch">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #pickersearch></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>סטטוס</mat-label>
                                    <mat-select formControlName="compStatusControl">
                                        <mat-option [value]="">
                                            הכל
                                        </mat-option>
                                        <mat-option *ngFor="let dept of compStatus" [value]="dept.value">
                                            {{dept.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" (click)="searchForm()"
                            class="btn btn-primary btn-raised">
                            <span class="material-icons">
                                search
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><br><br>

<div dir="rtl">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="FormID">
            <mat-header-cell *matHeaderCellDef
                style="font-size: 20px; background-color: rgb(235, 231, 231);justify-content: center;"> מס' פניה
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.EmailID}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="FormName">
            <mat-header-cell *matHeaderCellDef
                style="font-size: 20px; background-color: rgb(235, 231, 231);justify-content: center;"> שם פונה
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.CompName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="formDepartment">
            <mat-header-cell *matHeaderCellDef
                style="font-size: 20px; background-color: rgb(235, 231, 231);justify-content: center;"> נושא פניה
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.CompSubject}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="FormDate">
            <mat-header-cell *matHeaderCellDef
                style="font-size: 20px; background-color: rgb(235, 231, 231);justify-content: center;"> תאריך קבלת
                פניה </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;"> {{element.EmailDateTime | date:
                "yyyy/dd/MM"}} </mat-cell>
        </ng-container>

        <!-- Update Column -->
        <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef
                style="font-size: 20px; background-color: rgb(235, 231, 231);justify-content: center;"> ניהול פניה
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;"> <button mat-raised-button
                    color="accent" (click)="openDialogToManageEmail(element.EmailID)"><span class="material-icons">
                        event_note
                    </span></button> </mat-cell>
        </ng-container>

        <!-- Update Column -->
        <ng-container matColumnDef="showAll">
            <mat-header-cell *matHeaderCellDef
                style="font-size: 20px; background-color: rgb(235, 231, 231);justify-content: center;"> סטטוס פניה
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;"> <button mat-raised-button
                    color="primary" (click)="openDialogToAnsweredForms(element.FormID)"><span class="material-icons">
                        question_answer
                    </span></button> </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <button (click)="openDialogToManageEmail(0)" type="button" id="rolesDetailsBtn" mat-fab color="primary"><i
            class="material-icons">add</i></button>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>