<nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="btn bmd-btn-icon" type="button" id="menu-btn">
        <i class="material-icons closeMe"> close </i>
        <i class="material-icons open"> menu </i>
    </button>
    
        <div dir="rtl" class="text-right" id="app-menu">
            <ul class="navbar-nav mr-auto">
                <tree-item [data]="Links"></tree-item>
                <li class="nav-item">
                    <button class="full-width clearCach" mat-raised-button (click)="logout($event)">
                        Logout
                    </button>
                </li>
            </ul>
        </div>
        
    <div id="logo">
        <img alt="Poriya" src="assets/images/logo.png" title="Poriya" routerLink="dashboard"/>
    </div>
</nav>
