<div id="page-toshow">
    <h1 class="page-title text-center">
        הוספת מטופל לא עבר בממשק - בדיקת קורונה
    </h1>

    <div class="container-fluid pb-60">
        <div class="row">
            <div dir="rtl" class="col">
                <form  (ngSubmit)="onSubmit()" [formGroup]="addPatientCoronaForm">
                    <div class="full-width">
                        <div class="row">
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="מס' דגימה"
                                            name="L_LABEL"
                                            formControlName="L_LABEL"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="מס' מטופל"
                                            name="L_PATIENT_NUMBER"
                                            formControlName="L_PATIENT_NUMBER"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="מס' מקרה"
                                            name="L_CASE_NUMBER"
                                            formControlName="L_CASE_NUMBER"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="ת.ז"
                                            name="L_PATIENT_ID"
                                            formControlName="L_PATIENT_ID"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="שם פרטי - בעברית"
                                            name="L_F_NAME"
                                            formControlName="L_F_NAME"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="שם משפחה - בעברית"
                                            name="L_L_NAME"
                                            formControlName="L_L_NAME"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="שם פרטי - ENGLISH"
                                            name="L_F_E_NAME"
                                            formControlName="L_F_E_NAME"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="שם משפחה - ENGLISH"
                                            name="L_L_E_NAME"
                                            formControlName="L_L_E_NAME"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="מס' נייד"
                                            name="L_MOBILE"
                                            formControlName="L_MOBILE"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            type="email"
                                            autocomplete="off"
                                            placeholder="אימייל"
                                            name="L_EMAIL"
                                            formControlName="L_EMAIL"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="מס' דרכון"
                                            name="L_PASSPORT"
                                            formControlName="L_PASSPORT"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field floatLabel="always">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            class="form-control"
                                            placeholder="תאריך לידה"
                                            (focus)="L_DOB.open()"
                                            [matDatepicker]="L_DOB"
                                            formControlName="L_DOB"
                                        />
                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="L_DOB"
                                        ></mat-datepicker-toggle>
                                        <mat-datepicker
                                            #L_DOB
                                            format="yyyy-MM-dd"
                                        ></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field>
                                        <mat-label>מין</mat-label>
                                        <mat-select formControlName="L_GENDER">
                                            <mat-option value="ז"
                                                >זכר</mat-option
                                            >
                                            <mat-option value="נ"
                                                >נקבה</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field>
                                        <mat-label>תוצאה</mat-label>
                                        <mat-select formControlName="L_RESULTS">
                                            <mat-option value="חיובי"
                                                >חיובי</mat-option
                                            >
                                            <mat-option value="שלילי"
                                                >שלילי</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field class="full-width">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="כתובת"
                                            name="L_CITY"
                                            formControlName="L_CITY"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field floatLabel="always">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            class="form-control"
                                            placeholder="תאריך שליחה"
                                            (focus)="L_REQUEST_DATE.open()"
                                            [matDatepicker]="L_REQUEST_DATE"
                                            formControlName="L_REQUEST_DATE"
                                        />
                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="L_REQUEST_DATE"
                                        ></mat-datepicker-toggle>
                                        <mat-datepicker
                                            #L_REQUEST_DATE
                                            format="yyyy-MM-dd"
                                        ></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field floatLabel="always">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            class="form-control"
                                            placeholder="תאריך תוצאה"
                                            (focus)="L_RESULT_DATE.open()"
                                            [matDatepicker]="L_RESULT_DATE"
                                            formControlName="L_RESULT_DATE"
                                        />
                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="L_RESULT_DATE"
                                        ></mat-datepicker-toggle>
                                        <mat-datepicker
                                            #L_RESULT_DATE
                                            format="yyyy-MM-dd"
                                        ></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="full-width">
                                    <mat-form-field floatLabel="always">
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="שעת תוצאה"
                                            class="timepicker"
                                            [ngxTimepicker]="L_RESULT_TIME"
                                            [format]="24"
                                            name="L_RESULT_TIME"
                                            formControlName="L_RESULT_TIME"
                                        />
                                    </mat-form-field>
                                    <ngx-material-timepicker
                                        #L_RESULT_TIME
                                        [enableKeyboardInput]="true"
                                    >
                                    </ngx-material-timepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button mat-raised-button color="primary" type="submit" >
                                    שמור
                                </button>
                            </div>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
