<div id="page-toshow">
    <h1 class="page-title text-center">Cables</h1>

    <div class="container-fluid pb-60">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input
                        matInput
                        (keyup)="applyFilter($event)"
                        placeholder="Search"
                        #input
                    />
                </mat-form-field>
                <div class="table-responsive">
                    <div class="table-spinner-container">
                        <!-- <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חפש">
                            </mat-form-field> -->
                        <table
                            class="table"
                            mat-table
                            [dataSource]="dataSource"
                            matSort
                        >
                            <ng-container matColumnDef="SourceRoom">
                                <th mat-header-cell *matHeaderCellDef>Source Room</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.SourceRoom }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="SourceCab">
                                <th mat-header-cell *matHeaderCellDef>Source Cab</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.SourceCab }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="SourceU">
                                <th mat-header-cell *matHeaderCellDef>Source U</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.SourceU }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="HeightU">
                                <th mat-header-cell *matHeaderCellDef>Height U</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.HeightU }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="HPID">
                                <th mat-header-cell *matHeaderCellDef>HPID</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.HPID }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef>Name</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.Name }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="DeviceType">
                                <th mat-header-cell *matHeaderCellDef>Device Type</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.DeviceType }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Owner">
                                <th mat-header-cell *matHeaderCellDef>Owner</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.Owner }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="CableType">
                                <th mat-header-cell *matHeaderCellDef>Cable Type</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.CableType }}
                                </td>
                            </ng-container>                            
                            <ng-container matColumnDef="editCable">
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    width="50"
                                >
                                    Edit
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="example-button-container">
                                        <button
                                            (click)="editRow(element)"
                                            class="row-data"
                                            mat-mini-fab
                                            color="primary"
                                        >
                                            <mat-icon>create</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                    </div>
                    <!-- PAGINATION -->
                    <mat-paginator
                        [length]="resultsLength"
                        [pageSizeOptions]="[5, 10, 20, 50, 100]"
                        [pageSize]="15"
                        showFirstLastButtons
                    ></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" id="GroupBtn" (click)="open()" mat-fab color="primary">
    <i class="material-icons">add</i>
</button>
