<div class="survey-options" *ngIf="chooseComp">
    <div class="poll-options">
        <div class="row">
            <div class="col-12" *ngFor="let comp of all_complaints_filter" (click)="getEmailManagement(comp.Row_ID,0)">
                <mat-card class="card m-2 text-center">
                    <div class="list-style text-center" style="font-size: 10px;">:מחלקה רלוונטית</div>
                    <div class="list-style text-center" style="font-size: 15px; font-weight: bold;">{{comp.Comp_Department}}</div>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<form dir="rtl" [formGroup]="manageComplaintForm" autocomplete="off" *ngIf="!chooseComp">
    <mat-card class="full-width text-center">
        <label style="font-size: 20px;">{{complaintName}}</label>
        <button mat-raised-button class="btn btn-primary btn-raised float-left" (click)="shareComplaintWithOthers()">
            <span class="material-icons">
                reply
            </span>
        </button>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>מנהל רלוונטי</mat-label>
                <input type="text" placeholder="בחר שם מנהל" aria-label="manager" matInput [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
                        {{option.firstname}} {{option.lastname}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </mat-card>

    <div class="row float-right mt-3">
        <ol class="list-style">
            <div class="full-width row">
                <li class="border-me col-6">
                    <div class="col-12 text-right">
                        <label>תאריך פניה</label>
                        <mat-form-field appearance="fill">
                            <input matInput [max]="maxDate" formControlName="Comp_Date" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker" disabled>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </li>
                <li class="border-me col-6">
                    <div class="col-12 text-right">
                        <label>סוג פניה</label>
                        <mat-form-field class="full-width">
                            <mat-select formControlName="Comp_Type" ng-model="myVar">
                                <mat-option *ngFor="let type of compTypeList" [value]="type.value">
                                    {{type.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </li>
            </div>
            <div class="full-width row">
                <li class="border-me col-6">
                    <div class="col-12 text-right">
                        <label>מקור פניה</label>
                    </div>
                    <mat-form-field class="full-width">
                        <mat-select formControlName="Comp_Source" ng-model="myVar">
                            <mat-option *ngFor="let related of compSource" [value]="related.value">
                                {{related.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li class="border-me col-6">
                    <div class="col-12 text-right">
                        <label>תעודת זהות</label>
                    </div>
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput formControlName="PersonID">
                    </mat-form-field>
                </li>
            </div>
            <div class="full-width row">
                <li class="border-me col-6">
                    <div class="col-12 text-right">
                        <label>עובד מחלקה</label>
                    </div>
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput formControlName="RelevantEmployee1">
                    </mat-form-field>
                </li>
                <li class="border-me col-6">
                    <div class="col-12 text-right">
                        <label>סוג חולה</label>
                    </div>
                    <mat-radio-group class="example-radio-group mt-3" formControlName="Ambolatory">
                        <div class="d-block" *ngFor="let ambolatory of compAmbolatory">
                            <mat-radio-button style="float: right;" [value]="ambolatory.value">
                                {{ambolatory.viewValue}}</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </li>
            </div>
            <div class="full-width row">
                <li class="border-me col-6">
                    <div class="col-12 text-right">
                        <label>סיווג פונה</label>
                    </div>
                    <mat-form-field class="full-width">
                        <mat-select formControlName="Comp_Pesron_Relat" ng-model="myVar">
                            <mat-option *ngFor="let related of compRelatedPerson" [value]="related.value">
                                {{related.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li class="border-me col-6">
                    <div class="col-12 text-right">
                        <label>מחלקה</label>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>מחלקות</mat-label>
                        <mat-select formControlName="Comp_Department">
                            <mat-option *ngFor="let dept of department" [value]="dept.Depart_Name">
                                {{dept.Depart_Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
            </div>
            <div class="full-width row">
                <li class="border-me col-6">
                    <div class="col-12 text-right">
                        <label>סקטור</label>
                    </div>
                    <mat-form-field class="full-width">
                        <mat-select formControlName="Comp_Sektor" ng-model="myVar">
                            <mat-option *ngFor="let sektor of compSektor" [value]="sektor.value">
                                {{sektor.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li class="border-me col-6">
                    <div class="col-12 text-right">
                        <label>תאריך סגירת הפניה</label>
                    </div>
                    <mat-form-field appearance="fill">
                        <input matInput [max]="maxDate" formControlName="Comp_Closing_Date" [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </li>
            </div>
            <div class="full-width row">
                <li class="border-me col-12">
                    <div class="col-12 text-right">
                        <label>הערה</label>
                    </div>
                    <mat-form-field class="example-full-width">
                        <textarea type="text" matInput cols="3" formControlName="Comp_Note"></textarea>
                    </mat-form-field>
                </li>
            </div>
            <div class="full-width row">
                <li class="border-me col-12">
                    <div class="col-12 text-right">
                        <label>תשובה סופית</label>
                    </div>
                    <mat-form-field class="example-full-width">
                        <textarea type="text" matInput cols="3" formControlName="Comp_Answer"></textarea>
                    </mat-form-field>
                </li>
            </div>
            <div class="full-width row">
                <li class="border-me col-12">
                    <div class="col-12 text-right">
                        <label>תגובה לשיפור</label>
                    </div>
                    <mat-form-field class="example-full-width">
                        <textarea type="text" matInput cols="3" formControlName="ImprovementNote"></textarea>
                    </mat-form-field>
                </li>
            </div>
        </ol>
    </div>
    <div class="button-row">
        <button class="full-width mb-5" style="font-weight: bold;font-size: 20px;color: white;" color="primary"
            (click)="submitComplaint(_ifUpdate)" type="submit" mat-raised-button *ngIf="_ifUpdate">
            <span>שמירת פנייה</span>
        </button>
        <button class="full-width mb-5" style="font-weight: bold;font-size: 20px;color: white;" color="primary"
            (click)="submitComplaint(_ifUpdate)" type="submit" mat-raised-button *ngIf="!_ifUpdate">
            <span>הוספת פנייה</span>
        </button>
    </div>
</form>