<form
    class="form text-right"
    [formGroup]="serverForm"
    (ngSubmit)="onSubmit()"
    dir="rtl"
>
    <h2 mat-dialog-title *ngIf="data.element.RowId != '0'">
        עריכת עגלה: {{ data.element.WagonName }}
    </h2>
    
    <h2 mat-dialog-title *ngIf="data.element.RowId == '0'">
        הוספת עגלה
    </h2>
    <mat-dialog-content dir="rtl" class="mat-typography text-right">        
        
        <div dir="rtl" class="row text-right">
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="שם עגלה"
                            formControlName="WagonName"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="S\N"
                            formControlName="SerialNumber"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field floatLabel="always">
                        
                        <mat-label>דגם</mat-label>
                        <mat-select
                            formControlName="Degem"
                            value="element.Degem"                            
                        >
                            <mat-option
                                *ngFor="let Degem of Degems"
                                [value]="Degem"
                            >
                                {{ Degem }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div dir="rtl" class="row text-right">
            <div class="col">
                <div class="form-group">
                    <mat-form-field floatLabel="always">
                        <mat-label>סוג</mat-label>
                        <mat-select
                            formControlName="Type"
                            value="element.Type"                            
                        >
                            <mat-option
                                *ngFor="let Type of Types"
                                [value]="Type"
                            >
                                {{ Type }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="מיקום"
                            formControlName="Location"                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    
                        <mat-form-field floatLabel="always">
                            <mat-label>אופן חיבור</mat-label>
                            <mat-select
                                formControlName="ConnectionType"
                                value="element.ConnectionType"                            
                            >
                                <mat-option
                                    *ngFor="let ConnectionType of ConnectionTypes"
                                    [value]="ConnectionType"
                                >
                                    {{ ConnectionType }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field floatLabel="always">
                        <mat-label>סטטוס </mat-label>
                        <mat-select
                            formControlName="Status"
                            value="element.Status"                            
                        >
                            <mat-option
                                *ngFor="let stat of Status"
                                [value]="stat"
                            >
                                {{ stat }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div> 
            
        </div>
    
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <input type="hidden" formControlName="RowId">
        <input type="hidden" formControlName="AddedByUser">
        <input type="hidden" formControlName="UpdatedByUser">
        <button mat-button mat-dialog-close>סגור</button>
        <button mat-button color="primary" type="submit" cdkFocusInitial [class.spinner]="loading"
        [disabled]="loading">שמור</button>
    </mat-dialog-actions>
</form>
