<mat-card dir="rtl">


    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form" [formGroup]="formSearch">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <input matInput formControlName="searchWord" autocomplete="off" placeholder="חפש לפי שם מחלקה" name="fliterVal" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" (click)="getAllForms()" class="btn btn-primary btn-raised">
                                חפש
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>



    <div class="survey-options">
        <div class="poll-options">
            <div class="row">
                <div class="col-3" *ngFor="let item of all_forms_filter" (click)="openDialogToFill(item.FormID)">
                    <mat-card class="card m-2 text-center">
                        <div class="list-style text-center" style="font-size: 20px;">{{item.FormName}}</div>
                        <img src="assets/images/mersham-logo.png">
                        <div class="list-style text-center" style="font-size: 15px;">{{item.FormDepartment}}</div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</mat-card>