.col-3 :hover{
    /* transform: scale(1.2,1.1); */
    cursor: pointer;
}

.mat-radio-button {
    margin-left: 16px;
  }

  @media only screen and (max-width: 480px) {
    .mat-radio-button {
        inline-size: auto;
        float: right;
      }
  }