<div dir="rtl" class="text-right">
    <h2 mat-dialog-title>
        הסטורית הודעה ל: {{ data.element.RoomGroup }} -
        {{ data.element.Department }} - {{ data.element.QuarterYear }}  -    {{ data.element.RoomNumber }}
    </h2>
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col">
                <div *ngFor="let item of notesData; let index = i;">
                    <h4 class="mb-0">{{item.FullName}}</h4>                    
                    <h4 class="mb-0">{{item.RequestDate}}</h4>                    
                    <p class="white-space">{{item.NoteValue}}</p>
                    <hr>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>סגור</button>
    </mat-dialog-actions>
</div>