<h1 class="page-title text-center">ביקורים במרפאות</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div dir="rtl" class="card w-85-p">
                <div dir="rtl" class="card-body">
                    <form class="form">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput autocomplete="off" placeholder="מ תאריך" required
                                            (focus)="startdate.open()" [(ngModel)]="startdateVal" name="startdate"
                                            [matDatepicker]="startdate" >
                                        <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                                        <mat-datepicker #startdate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input matInput autocomplete="off" placeholder="עד תאריך "
                                            (focus)="enddate.open()" required [(ngModel)]="enddateVal" name="enddate"
                                            [matDatepicker]="enddate" >
                                        <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                                        <mat-datepicker #enddate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="col">
                                <div class="form-group">                                  
                                    <mat-form-field>
                                        <mat-label>מחלקה</mat-label>
                                        <mat-select [(value)]="Depart" required>
                                            <mat-option value="-1">הכל</mat-option>
                                            <mat-option value="מרפאה גנטיקה">גנטיקה </mat-option>
                                            <mat-option value="מכון אונקולוגיה">אונקולוגיה</mat-option>
                                            <mat-option value="מכון אי וי אף">אי וי אף </mat-option>
                                            <mat-option value="מכון גסטרו">גסטרו </mat-option>
                                            <mat-option value="מכון לתזונה קלינית">תזונה קלינית </mat-option>
                                            <mat-option value="מכון הלב">מכון הלב</mat-option>
                                            <mat-option value="מכון נוירולוגיה">נוירולוגיה</mat-option>
                                            <mat-option value="מכון נפרולוגיה">נפרולוגיה</mat-option>
                                            <mat-option value="מכון עבודה סציאלי">עבודה סציאלי</mat-option>
                                            <mat-option value="מכון פיזיוטרפיה">פיזיוטרפיה</mat-option>
                                            <mat-option value="מכון ריפוי בעסוק">ריפוי בעסוק</mat-option>
                                            <mat-option value="מרפאה אף אוזן וגרון">אף אוזן וגרון</mat-option>
                                            <mat-option value="מרפאה אורטופדיה">אורטופדיה</mat-option>
                                            <mat-option value="מרפאה אורולוגיה">אורולוגיה</mat-option>
                                            <mat-option value="מרפאה גריאטריה">גריאטריה</mat-option>

                                            <mat-option value="מרפאה ילדים">ילדים</mat-option>

                                            <mat-option value="מרפאה ילודים">ילודים</mat-option>
                                            <mat-option value="מרפאה כירורגיה">כירורגיה</mat-option>

                                            <mat-option value="מרפאות מוליטידיציפלנריות">מוליטידיציפלנריות</mat-option>

                                            <mat-option value="מרפאת נוירולוגית ילדים">נוירולוגית ילדים</mat-option>
                                            <mat-option value="מרפאה נפרולוגית ילדים">נפרולוגית ילדים</mat-option>

                                            <mat-option value="מרפאה נשים">נשים</mat-option>
                                            <mat-option value="מרפאות עובדים">מרפאות עובדים</mat-option>
                                            <mat-option value="יחידת עיניים">יחידת עיניים</mat-option>

                                            <mat-option value="מרפאה פה ולסת">פה ולסת</mat-option>
                                            <mat-option value="מרפאה פלסטיקה">פלסטיקה</mat-option>
                                            <mat-option value="מרפאה פנימית">פנימית</mat-option>
                                            <mat-option value="מרפאת קרדיולוגית ילדים">קרדיולוגית ילדים</mat-option>
                                            <mat-option value="מרפאה קרדיולוגיה">קרדיולוגיה</mat-option>

                                            <mat-option value="מרפאת ריאות ילדים">ריאות ילדים</mat-option>


                                            <mat-option value="מרפאה ראומטולוגיה">ראומטולוגיה</mat-option>
                                            <mat-option value="מרפאה שבץ מוח">שבץ מוח</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>   
                            </div><div class="col">
                                <div class="form-group">                                  
                                    <mat-form-field>
                                        <mat-label>סוג ביקור</mat-label>
                                        <mat-select [(value)]="PatientType" required>
                                            <mat-option value="-1">הכל</mat-option>
                                            <mat-option value="003">אמבולטורי</mat-option>
                                            <mat-option value="001">אשפוז</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>   
                            </div>
                            <div dir="rtl" class="col-md-12 text-right">
                                <div class="form-group">
                                    <label class="label-year">בחר שנה</label>
                                    <mat-radio-group  name="years"
                                    class="inline-radio-group"
                                    >
                                    <!-- >[(ngModel)]="_yearToSearch" -->
                                        <mat-radio-button class="inline-radio-group-in"  *ngFor="let year of yearsToSelect.list" name="year" [checked]="year.checked" [value]="year.ID" (change)="radioChange($event)">
                                            {{year.ID}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <mat-label>רבעון</mat-label>
                            </div>
                            <mat-list class="row-all">
                                <div class="row">
                                    <div class="col-1">
                                        <mat-list-item>
                                            <mat-radio-button (change)="quart_change($event)"
                                                name="Quart" [checked]="true" #all value="all">הכל</mat-radio-button>
                                        </mat-list-item>
                                    </div>
                                    <div class="col-1">
                                        <mat-list-item>
                                            <mat-radio-button (change)="quart_change($event)"
                                                name="Quart" #one value="1">I</mat-radio-button>
                                        </mat-list-item>
                                    </div>
                                    <div class="col-1">
                                        <mat-list-item>
                                            <mat-radio-button (change)="quart_change($event)"
                                                name="Quart" #two value="2">II</mat-radio-button>
                                        </mat-list-item>
                                    </div>
                                    <div class="col-1">
                                        <mat-list-item>
                                            <mat-radio-button (change)="quart_change($event)"
                                                name="Quart" #Three value="3">III
                                            </mat-radio-button>
                                        </mat-list-item>
                                    </div>
                                    <div class="col-1">
                                        <mat-list-item>
                                            <mat-radio-button (change)="quart_change($event)"
                                                name="Quart" #four value="4">IV</mat-radio-button>
                                        </mat-list-item>
                                    </div>
                                </div>

                            </mat-list>
                        </div>
                        
                        <button type="submit" class="btn d-none btn-link none-all btn-raised" (click)="getReportExcel($event)">
                            <img src="assets/images/excel.png">
                        </button>                                   
                        <button mat-raised-button type="submit" class="btn btn-primary btn-raised" (click)="getReport($event)">הצג</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="flex-flow: column-reverse;">
    <div class="colde d-nonea" id="totalBarChart"></div>
</div>
<br>
<div class="row" style="flex-flow: column-reverse;">
    <div class="colde d-nonea" id="totalLineChart"></div>
</div>
<br>
<div class="row" style="flex-flow: column-reverse;">
    <div class="colde d-nonea" id="LineChart"></div>
</div>
<br>
<div class="container-fluid text-right">
    <div class="row" style="flex-flow: column-reverse;">
            <div class="1col1 " id="bekoremCount"></div>
    </div>
</div>
<br>
<hr>
<div class="container-fluid text-right pb-60">
    <div class="row">
        <div class="col" id="_departments"></div>
    </div>
</div>

