  .width-50-auto{
    width: 50%;
    margin: auto;
}
.h-85{
  height: 63%;
  /* overflow-y: auto; */
}
#waving{
  animation: hand 3s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes hand {
  from {
    transform: rotateX(45deg);
  }to{
    transform: rotateX(0deg);
  }
}
tbody {
  display:block;
  height:500px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}
thead {
  width: calc( 100% - 0em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
text tspan{
  fill: #fff;
}
/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
.spinner {
    width: 70px;
    margin: 0;
    float: left;
    text-align: center;
  }
  a:hover,
  .tile-content-wrapper .easyPieChart:hover{
    text-decoration: none !important;
  }
  .tile-content-wrapper .easyPieChart{
    width: 100% !important;  
    height: auto !important;
  }
  .spinner > div {
    width: 6px;
    height: 6px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }