<div dir="rtl" class="row">
    <div class="col-md-6">
        <div class="card">
            <h3 class="text-center card-header">
                נכון ל - {{ today | date: "dd/MM/yyyy hh:mm a" }}
            </h3>
        </div>

        <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-info">
            <div class="row" style="display: flex;">
                <div class="tile-header" style="width: 50%;">
                    <h2>תפוסה: {{aobjTotal}}</h2>
                </div>
                <div class="tile-header" style="width: 50%;">
                    <h2>מונשמים: {{resporatoryCount}}</h2>
                </div>
            </div>
            <div class="row" style="display: flex;">
                <div class="tile-content-wrapper" style="width: 50%;border-right: 2px solid white;border-radius: 5%;">
                    <div class="chart-alt-10 easyPieChart" id="real-precent">
                        <circle-progress [percent]="Departmints.total" [radius]="100" [space]="-12"
                            [outerStrokeWidth]="12" [innerStrokeWidth]="12" [outerStrokeColor]="'#78C000'"
                            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
                            [options]="ngCircleOptions"></circle-progress>
                    </div>
                    <div class="chart-alt-10 easyPieChart d-none" id="extra-precent">
                        <circle-progress [percent]="Departmints.total - 100" [radius]="100" [space]="-12"
                            [outerStrokeWidth]="12" [innerStrokeWidth]="12" [outerStrokeColor]="'red'"
                            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
                            [options]="ngCircleOptions"></circle-progress>
                    </div>
                </div>
                <div class="tile-content-wrapper" style="width: 50%;border-right: 2px solid white;border-radius: 5%;">
                    <div class="chart-alt-10 easyPieChart" id="real-precent">
                        <circle-progress [percent]="Departmints.resp" [radius]="100" [space]="-12"
                            [outerStrokeWidth]="12" [innerStrokeWidth]="12" [outerStrokeColor]="'#78C000'"
                            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
                            [options]="ngCircleOptions"></circle-progress>
                    </div>
                    <div class="chart-alt-10 easyPieChart d-none" id="extra-precent">
                        <circle-progress [percent]="Departmints.resp - 100" [radius]="100" [space]="-12"
                            [outerStrokeWidth]="12" [innerStrokeWidth]="12" [outerStrokeColor]="'red'"
                            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
                            [options]="ngCircleOptions"></circle-progress>
                    </div>
                </div>
            </div>

        </a>
    </div>
</div>
<div dir="rtl" class="row h-85">
    <div class="col-md-6">
        <table dir="rtl" class="table table-striped text-right _Departmints">
            <thead>
                <tr>
                    <th>מחלקה</th>
                    <th>מיטות בפועל</th>
                    <th>תפוסה</th>
                    <th>אחוז תפוסה</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Depart of arrDepartsRefoee">
                    <td>{{ Depart.DepartName }}</td>
                    <td>{{ Depart.DepartBedsNumber }}</td>
                    <td>{{ Depart.DepartBedsInUsed }}</td>
                    <td>
                        {{
                        (Depart.DepartBedsInUsedPer | number: "1.0-0")  + "%"
                        
                        }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<ng-template #updateModal let-modal>
    <div class="modal-header text-right">
        <h4 class="modal-title text-center" id="modal-basic-title">
            נתונים שעתיים ל- <span id="row_title"></span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row"></div>
    </div>
    <div class="modal-footer text-left">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">
            סגור
        </button>
    </div>
</ng-template>