<form
    class="form text-left"
    [formGroup]="serverForm"
    (ngSubmit)="onSubmit()"
>
    <h2 mat-dialog-title *ngIf="data.element.RowId != '0'">
        Edit Server: {{ data.element.ServerName }}
    </h2>
    
    <h2 mat-dialog-title *ngIf="data.element.RowId == '0'">
        Add Server
    </h2>
    <mat-dialog-content class="mat-typography">        
        
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Server Name"
                            formControlName="ServerName"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Type"
                            formControlName="ServerType"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="HardWare"
                            formControlName="HardWare"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="V Serial Number"
                            formControlName="VSerialNumber"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Remarks"
                            formControlName="ServerRemarks"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Location"
                            formControlName="ServerLocation"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="OS"
                            formControlName="ServerOS"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Functions"
                            formControlName="ServerFunctions"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="IP Address"
                            formControlName="ServerIPAddress"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <input type="hidden" formControlName="RowId">
        <input type="hidden" formControlName="UserInsert">
        <input type="hidden" formControlName="UserUpdate">
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button color="primary" type="submit" cdkFocusInitial [class.spinner]="loading"
        [disabled]="loading">Save</button>
    </mat-dialog-actions>
</form>
