<button type="button" class="close" matTooltip="סגירה" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
</button>
<h1 mat-dialog-title style="text-align: center;">טופס אספרציה מח עצם</h1>
<hr>
<div class="container" dir="rtl">
    <form class="form" [formGroup]="fullForm">
        <!-- DATE TIME -->
        <div class="row">
            <!-- DATE -->
            <div class="col-6 text-center">
                <mat-label>תאריך: </mat-label>
                <span><b>{{fullForm.get('DateOfForm').value}}</b></span>
            </div>
            <!-- TIME -->
            <div class="col-6 text-center">
                <mat-label>שעה: </mat-label>
                <span><b>{{fullForm.get('TimeOfForm').value}}</b></span>
            </div>
        </div>
        <hr>
        <!-- PERSONAL DETAILS -->
        <div class="row">
            <div class="col-3 text-center">
                <mat-label>ת.ז: </mat-label>
                <span><b>{{patientGroup.get('Passport').value}}</b></span>
            </div>
            <div class="col-3 text-center">
                <mat-label>מס' מקרה: </mat-label>
                <span><b>{{patientGroup.get('CaseNumber').value}}</b></span>
            </div>
            <div class="col-3 text-center">
                <mat-label>שם פרטי: </mat-label>
                <span><b>{{patientGroup.get('FirstName').value}}</b></span>
            </div>
            <div class="col-3 text-center">
                <mat-label>שם משפחה: </mat-label>
                <span><b>{{patientGroup.get('LastName').value}}</b></span>
            </div>
        </div>
        <hr>
        <!-- CONTENT INPUT -->
        <div class="row">
            <!-- <div class="col-12 text-right">
                <mat-label>העלאת קובץ</mat-label><br>
                <input (change)="onFileSelect($event.target.files)" #fileInput type="file" id="file">
                <img *ngFor="let img of imagesList" src={{img.Path}} [hidden]="imagesList.length == 0" height="100"
                    width="100">
            </div> -->
            <br>
            <div class="col-12">
                <mat-form-field appearance="fill" style="margin: -12px;">
                    <mat-label style="align-self: center;">תאריך לקיחת בדיקה</mat-label>
                    <input matInput formControlName="ReceiveDate" [matDatepicker]="picker">

                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field>
                    <mat-label>צלולריות</mat-label>
                    <mat-select formControlName="RecievingType">
                        <mat-option *ngFor="let receive of RecievingTypeList" [value]="receive">
                            {{receive}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="example-full-width">
                    <mat-label>שורה אדומה</mat-label>
                    <input matInput placeholder="שורה אדומה" formControlName="RedRow">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="example-full-width">
                    <mat-label>שורה לבנה</mat-label>
                    <input matInput placeholder="שורה לבנה" formControlName="WhiteRow">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="example-full-width">
                    <mat-label>אאוזינופילים</mat-label>
                    <input matInput placeholder="אאוזינופילים" formControlName="Eosinophils">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="example-full-width">
                    <mat-label>לימפוציטים</mat-label>
                    <input matInput placeholder="לימפוציטים" formControlName="Lymphocytes">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="example-full-width">
                    <mat-label>תאי פלסמה</mat-label>
                    <input matInput placeholder="תאי פלסמה" formControlName="PlasmaCells">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="example-full-width">
                    <mat-label>מגקריוציטים</mat-label>
                    <input matInput placeholder="מגקריוציטים" formControlName="Megakaryocytes">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="example-full-width">
                    <mat-label>צביעת ברזל</mat-label>
                    <input matInput placeholder="צביעת ברזל" formControlName="IronPainting">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="example-full-width">
                    <mat-label>סיכום</mat-label>
                    <input matInput placeholder="סיכום" formControlName="Summary">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field>
                    <mat-label>חתימת רופא</mat-label>
                    <input type="text" aria-label="doc" matInput [formControl]="docfilter" [matAutocomplete]="auto1">
                    <mat-autocomplete #auto1="matAutocomplete">
                        <mat-option *ngFor="let doc of filteredOptions1 | async" [value]="doc.firstname">
                            {{doc.firstname}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <!-- SAVE BUTTON -->
        <div class="row">
            <button class="full-width m-4" color="primary" style="font-size: 20px;font-weight: bold;" type="submit"
                mat-raised-button (click)="submitForm()">
                <span>שמירת טופס</span>
            </button>
        </div>
    </form>
</div>