/* .col-4 :hover{
    cursor: pointer;
} */

.card-body,.other-cards,.card.dash-cards{
  font-weight: bolder;
  font-size: 18px;
}

.mat-radio-button {
    margin-left: 16px;
  }

  @media only screen and (max-width: 480px) {
    .mat-radio-button {
        inline-size: auto;
        float: right;
      }
  }

  #EventBtndisplay{
    margin-top: 10px;
  }

  #dashLine{
    margin-bottom: 0px;
    border: 2px solid black;
    margin-top: 10px;
  }

  .card.w-85-p{
    width: 100%;
    margin: 0;
  }

  table {
    width: 100%;
  }

  .poria-icon{
    border-radius: 50%;
  }
  .card{
    background-color: floralwhite;
    box-shadow: 7px 9px 12px -3px;
  }

  .pb-4{
    box-shadow: 7px 9px 12px -3px;
    cursor: pointer;
    background-color: floralwhite;
  }

  .col-4{
    /* border-right: 3px solid;
    border-left: 3px solid; */
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-4.text-center.colForDash{
    border-left: 1px solid;
    border-right: 1px solid;
  }
  .col-3{
    /* border-right: 3px solid;
    border-left: 3px solid; */
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-3.text-center.colForDash{
    border-left: 1px solid;
    border-right: 1px solid;
  }

  .coronaNumber{
    float: right;
    font-size: 15px;
  }

  .material-icons:hover{
    background-color: gray;
    border-radius: 30%;
    width: 35px;
    height: 30px;
  }

  .card.dash-cards:hover{
    background-color: darkgrey;
  }

.other-cards:hover{
  background-color: darkgrey;
}


.loader {
  right: 50%;
  margin-right: -4em;
}