<mat-card dir="rtl" *ngIf="nursesUserPermission && rightPC" id="page-toshow"
    style="background-color: aliceblue;padding-top: 0px;">
    <h1 class="page-title text-center">מערכת דיווח סיעודית - שם משתמש: {{UserName}}</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div dir="rtl" class="card w-85-p">
                    <div dir="rtl" class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-3 text-center colForDash">
                                    <div class="row text-center">
                                        <div class="col-12 text-center">
                                            <h3><b>תפוסת</b><br><b>בית החולים</b></h3>
                                            <h3 style="font-size: 20px;">{{ dateToDisplayString | date: "dd.MM.yyyy"}}
                                            </h3>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5>תפוסה</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5>אחוז</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5>מונשמים</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 text-center colForDash">
                                            <h5>{{hospitalBedsInUse}}</h5>
                                        </div>
                                        <div class="col-4 text-center colForDash">
                                            <h5>{{Departmints.total}}%</h5>
                                        </div>
                                        <div class="col-4 text-center colForDash">
                                            <h5>{{resparotriesCount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 text-center colForDash">
                                    <div class="row">
                                        <div class="col-2 text-center">
                                            <span class="material-icons" (click)="getEROccupancy('next','er')"
                                                matTooltip="יום אחרי">
                                                navigate_next
                                            </span>
                                        </div>
                                        <div class="col-8 text-center">
                                            <h3><b>קבלות מלר"ד</b></h3>
                                            <h3 style="font-size: 20px;"> סה"כ {{allErOccupancy}} &nbsp;&nbsp; {{newDate
                                                | date: "dd.MM.yyyy"}}</h3>
                                            <h3 style="font-size: 20px;"></h3>
                                        </div>
                                        <div class="col-2 text-center">
                                            <span class="material-icons" (click)="getEROccupancy('before','er')"
                                                matTooltip="יום לפני">
                                                navigate_before
                                            </span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5>לילה</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5>בוקר</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5>ערב</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 text-center colForDash" *ngFor="let occ of ER_Occupancy">
                                            <mat-spinner class="occLoaders" [diameter]="50" style="margin: auto;"
                                                *ngIf="!occLoaded"></mat-spinner>
                                            <h5 *ngIf="occLoaded">{{occ}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 text-center colForDash">
                                    <div class="row">
                                        <div class="col-2 text-center">
                                            <span class="material-icons" (click)="getDeliveryEROccupancy('next')"
                                                matTooltip="יום אחרי">
                                                navigate_next
                                            </span>
                                        </div>
                                        <div class="col-8 text-center">
                                            <h3><b>קבלות מ.יולדות</b></h3>
                                            <h3 style="font-size: 20px;"> סה"כ {{allDeliveryErOccupancy}} &nbsp;&nbsp;
                                                {{newDate2
                                                | date: "dd.MM.yyyy"}}</h3>
                                            <h3 style="font-size: 20px;"></h3>
                                        </div>
                                        <div class="col-2 text-center">
                                            <span class="material-icons" (click)="getDeliveryEROccupancy('before')"
                                                matTooltip="יום לפני">
                                                navigate_before
                                            </span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-4">
                                            <h5>לילה</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5>בוקר</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5>ערב</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 text-center colForDash"
                                            *ngFor="let occ of Delivery_ER_Occupancy">
                                            <mat-spinner class="occLoaders" [diameter]="50" style="margin: auto;"
                                                *ngIf="!deliveryOccLoaded"></mat-spinner>
                                            <h5 *ngIf="deliveryOccLoaded">{{occ}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 text-center colForDash">
                                    <div class="row text-center">
                                        <div class="col-12 text-center">
                                            <h3><b>סטטוס מחלקות מיוחדות</b></h3>
                                            <hr>
                                        </div>

                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-6">
                                            <mat-card class="other-cards pb-4"
                                                (click)="getOtherDepartmentDetails('DeliveryRoom')">
                                                <h5 style="margin: -12px;">לאחר לידה</h5>
                                            </mat-card>
                                        </div>
                                        <div class="col-6">
                                            <mat-card class="other-cards pb-4"
                                                (click)="getOtherDepartmentDetails('SurgeryRoom')">
                                                <h5 style="margin: -12px;">חדר ניתוח</h5>
                                            </mat-card>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-card class="other-cards pb-4"
                                                (click)="getOtherDepartmentDetails('ICUDepart')">
                                                <h5 style="margin: -12px;">מחלקה לרפואה דחופה</h5>
                                            </mat-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button matTooltip="דווח ניהולי" id="EventBtndisplay" mat-raised-button type="submit"
                class="btn btn-primary btn-raised" (click)="openReportDialog('administrative')">
                <i class="material-icons">assignment_ind</i>
            </button>
            <button matTooltipPosition="left" matTooltip="לדיווח תקלה במערכת" id="EventBtndisplay" mat-raised-button
                type="submit" class="btn btn-raised mr-1" style="background-color: grey;" (click)="bugReport()">
                <i class="material-icons">info</i>
            </button>
            <div style="margin-right: 33%;margin-top: 18px;"> נתונים מעודכנים ל: {{ updateDate | date: "dd.MM.yyyy"}} -
                {{ updateDate | date: "HH:mm"}}</div>

            <!-- <button matTooltip="החלפה לאחות מחלקה" id="EventBtndisplay" *ngIf="UserName == 'jubartal'" mat-raised-button
                type="submit" class="btn btn-raised" (click)="test()">
                <i class="material-icons">face</i>
            </button> -->
        </div>
    </div>
    <hr id="dashLine">

    <mat-spinner class="loader" *ngIf="!loaded"></mat-spinner>
    <div class="survey-options">
        <div class="poll-options">
            <div class="row" style="margin-bottom: 10px;display: flex;">
                <div class="col-4" *ngFor="let item of all_departments_array"
                    style="margin-bottom: 5px;height: 75px;cursor: pointer;">
                    <!--  && item.OccupancyPerDepart != '0' -->
                    <mat-card *ngIf="item.Dept_Name" (click)="openDialogToFill(item.Dept_Number,item.Dept_Name,'1')"
                        style="height: 100%;" class="card dash-cards m-2 p-2 text-center">
                        <div class="list-style text-center" style="font-size: 23px;color: darkblue;"><span
                                *ngIf="item.Dept_Name == 'מיון יולדות (חדר לידה)'">מיון יולדות</span><span
                                *ngIf="item.Dept_Name == 'טפול נמרץ פגים ובילוד בחולה'">טיפול נמרץ פגים</span>
                            <span
                                *ngIf="item.Dept_Name != 'מיון יולדות (חדר לידה)' && item.Dept_Name != 'טפול נמרץ פגים ובילוד בחולה'">{{item.Dept_Name}}</span>
                        </div>
                        <div class="list-style text-center" style="font-size: 18px;" *ngIf="item.Dept_Name">
                            <span class="coronaNumber" *ngIf="item.CoronaNumber !== '0'" style="color: red;">מטופלי
                                קורונה:
                                {{item.CoronaNumber}}
                            </span>
                            סה"כ: {{item.OccupancyPerDepart}}
                            <span *ngIf="item.Dept_Name != 'מיון יולדות (חדר לידה)'">תפוסה:
                                {{item.PercentOccupancy}}%
                            </span>
                        </div>
                    </mat-card>
                    <!-- <mat-card *ngIf="item.Dept_Name != null"
                        (click)="openDialogToFill(item.Dept_Number,item.Dept_Name,'1')" style="height: 100%;"
                        class="card dash-cards m-2 p-2 text-center">
                        <div class="list-style text-center" style="font-size: 23px;color: darkblue;"><span
                                *ngIf="item.Dept_Name == 'מיון יולדות (חדר לידה)'">מיון יולדות</span><span
                                *ngIf="item.Dept_Name == 'טפול נמרץ פגים ובילוד בחולה'">טיפול נמרץ פגים</span>
                            <span
                                *ngIf="item.Dept_Name != 'מיון יולדות (חדר לידה)' && item.Dept_Name != 'טפול נמרץ פגים ובילוד בחולה'">{{item.Dept_Name}}</span>
                        </div>
                        <div class="list-style text-center" style="font-size: 18px;" *ngIf="item.Dept_Name">
                            <span class="coronaNumber" *ngIf="item.CoronaNumber !== '0' && item.CoronaNumber !== null" style="color: red;">מטופלי
                                קורונה:
                                {{item.CoronaNumber}}
                            </span>
                            סה"כ: {{item.OccupancyPerDepart}}
                            <span *ngIf="item.Dept_Name != 'מיון יולדות (חדר לידה)'">תפוסה:
                                {{item.PercentOccupancy}}%
                            </span>
                        </div>
                    </mat-card> -->
                </div>
            </div>
        </div>
    </div>
</mat-card>

<ng-template #modalBug let-close="close">
    <button type="button" class="close" matTooltip="סגירה" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1 mat-dialog-title style="text-align: center;">דיווח תקלה</h1>
    <hr>
    <mat-tab-group mat-align-tabs="start" dir="rtl">
        <mat-tab label="תקלות">
            <form mat-dialog-content dir="rtl" style="text-align: right;margin-top: 20px;">
                <mat-form-field class="example-full-width">
                    <mat-label>מספר טלפון לחזרה</mat-label>
                    <input matInput [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}" type="number"
                        placeholder=".......05" required />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>מהות התקלה</mat-label>
                    <textarea matInput rows="6" [(ngModel)]="reportSubject" [ngModelOptions]="{standalone: true}"
                        cols="15" required></textarea>
                </mat-form-field>
            </form>
            <div mat-dialog-actions>
                <div class="row">
                    <button mat-raised-button color="primary" (click)="submitBugReport()"
                        mat-dialog-close>שליחה</button>
                    <!-- <button mat-raised-button color="primary" style="float: right;" (click)="showBugsTablef()">הצג
                        תקלות</button> -->
                </div>
            </div>
            <div class="row mt-5">
                <table mat-table [dataSource]="bugData" dir="rtl" class="mat-elevation-z8">
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> תאריך התקלה </th>
                        <td mat-cell *matCellDef="let element"> {{element.Bug_Date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="user">
                        <th mat-header-cell *matHeaderCellDef> שם משתמש </th>
                        <td mat-cell *matCellDef="let element"> {{element.Bug_User}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef> תוכן התקלה </th>
                        <td mat-cell *matCellDef="let element"> {{element.Bug_Subject}} </td>
                    </ng-container>

                    <ng-container matColumnDef="done">
                        <th mat-header-cell *matHeaderCellDef> סטטוס </th>
                        <td mat-cell *matCellDef="let element"> {{element.Bug_Done}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="bugColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: bugColumns;"
                        [style.background]="row.Bug_Done == 'טופל' ? 'darkgray': 'aquamarine'"></tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="שושי'ם">
            <form mat-dialog-content dir="rtl" style="text-align: right;margin-top: 20px;">
                <mat-form-field class="example-full-width">
                    <mat-label>עדיפות</mat-label>
                    <mat-select [(ngModel)]="actionPriority" [ngModelOptions]="{standalone: true}">
                        <mat-option style="text-align: center;
                        font-size: 20px;
                        font-weight: bold;" [value]="'הכל'">הכל</mat-option>
                        <mat-option style="background: aliceblue;text-align: center;
                        font-size: 20px;
                        font-weight: bold;" value="נמוכה">
                            נמוכה
                        </mat-option>
                        <mat-option style="background: antiquewhite;text-align: center;
                        font-size: 20px;
                        font-weight: bold;" value="ממוצעת">
                            ממוצעת
                        </mat-option>
                        <mat-option style="background: brown;text-align: center;
                        font-size: 20px;
                        font-weight: bold;" value="גבוהה">
                            גבוהה
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>תוכן</mat-label>
                    <textarea matInput rows="6" [(ngModel)]="actionsContent" [ngModelOptions]="{standalone: true}"
                        cols="15" required></textarea>
                </mat-form-field>
            </form>
            <div mat-dialog-actions>
                <div class="row">
                    <button mat-raised-button color="primary" (click)="submitNewAction()"
                        mat-dialog-close>שליחה</button>
                </div>
            </div>
            <div class="row mt-5">
                <table mat-table [dataSource]="newActionsData" dir="rtl" class="mat-elevation-z8">
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> תאריך </th>
                        <td mat-cell *matCellDef="let element"> {{element.Bug_Date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef> תוכן </th>
                        <td mat-cell *matCellDef="let element"> {{element.Bug_Subject}} </td>
                    </ng-container>

                    <ng-container matColumnDef="priority">
                        <th mat-header-cell *matHeaderCellDef> עדיפות </th>
                        <td mat-cell *matCellDef="let element"> {{element.Action_Priority}} </td>
                    </ng-container>

                    <ng-container matColumnDef="done">
                        <th mat-header-cell *matHeaderCellDef> סטטוס </th>
                        <td mat-cell *matCellDef="let element" [style.background]="element.Bug_Done == 'טופל' ? 'darkgray': 'aquamarine'"> {{element.Bug_Done}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="actionColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: actionColumns;"
                        [style.background]="row.Action_Priority == 'גבוהה' ? 'brown' : row.Action_Priority == 'ממוצעת' ? 'antiquewhite': 'aliceblue'"></tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
</ng-template>

<ng-template #modalIp let-close="close">
    <button type="button" class="close" matTooltip="סגירה" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1 mat-dialog-title style="text-align: center;">מחשב IP עדכון</h1>
    <hr>
    <p class="text-center">עקב הקמת הרשאות מיוחדות לאנשי צוות בכירים החל משבוע הבא תהיה כניסה רק ממחשבים מיועדים</p>
    <p class="text-center">של המחשב במשרד {{ipUpdate}} IP נא לעדכן את מספר ה</p>
    <form mat-dialog-content dir="rtl" style="text-align: right;">
        <mat-form-field class="example-full-width">
            <mat-label>מספר IP למחשב במשרד</mat-label>
            <input matInput [(ngModel)]="ipUpdate" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="10.221." required />
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
        <div class="row">
            <button mat-raised-button color="primary" (click)="ipAddressUpdate()">עדכון</button>
            <button mat-raised-button color="warn" style="float: right;" mat-dialog-close>מאוחר יותר</button>
        </div>

    </div>
</ng-template>

<ng-template #modalContent let-close="close">
    <span class="material-icons" matTooltip="{{privateIP}}" style="color: red;font-size: 60px;float: right;">
        warning
    </span>
    <h1 class="text-center">
        <button matTooltip="חזרה לדף הבית" mat-raised-button type="submit" class="btn btn-primary btn-raised float-left"
            [routerLink]="['']" (click)="closeModal()">
            <i class="material-icons">home</i>
        </button>
        <span class="mr-3">כניסה מותרת רק ממחשב מורשה</span>
    </h1>
</ng-template>
<ng-template #modalContent2 let-close="close">
    <span class="material-icons" matTooltip="{{privateIP}}" style="color: red;font-size: 60px;float: right;">
        warning
    </span>
    <h1 class="text-center">
        <button matTooltip="חזרה לדף הבית" mat-raised-button type="submit" class="btn btn-primary btn-raised float-left"
            [routerLink]="['']" (click)="closeModal()">
            <i class="material-icons">home</i>
        </button>
        <span class="mr-3">השימוש בשם משתמש: <b>כללית</b> אסור, להחליף לשם משתמש אישי. תודה</span>
    </h1>
</ng-template>

<div class="d-none-desktop" dir="rtl">
    <div class="row text-right" *ngFor="let tblRow of ELEMENT_DATA"
        style="border-style: outset;margin-bottom: 20px;padding: 6px;">
        <div class="col-12">
            <div class="row">
                <div class="col-md-4">
                    <b>תאריך שעה:</b>
                    {{
                    tblRow.LastUpdatedDate
                    }}
                </div>
                <div class="col-md-4">
                    <b>נושא/מחלקה:</b>
                    {{ tblRow.ReportMachlol }}
                </div>
                <div class="col-md-4">
                    <b>קטיגוריה:</b>
                    {{ tblRow.ReportCategory }}
                </div>
                <div class="col-md-4">
                    <b>תת קטיגוריה:</b>
                    {{
                    tblRow.ReportSubCategory
                    }}
                </div>
                <div class="col-md-4">
                    <b>משמרת:</b>
                    {{
                    tblRow.ReportShift
                    }}
                </div>
                <div class="col-md-4">
                    <b>מדווח:</b>
                    {{
                    tblRow.userFullName
                    }}
                </div>
            </div>
            <div class="row" *ngIf="tblRow.ReportText != ''" style="border-top: 1px dashed grey;margin-top: 12px;">
                <div class="col-12">
                    <h5><b>תוכן הדווח :</b></h5>
                    <p class="">
                        {{ tblRow.ReportText }}
                    </p>
                </div>
            </div>
            <div class="row" *ngFor="let reply of tblRow.ReportsReplyList">
                <div class="col-12">
                    <h5><b>תגובות לדווח :</b></h5>
                    <div class="row">
                        {{reply.FirstName}} {{reply.LastName}} - {{reply.MessageDate}} {{reply.MessageTime}}
                    </div>
                    <div class="row">
                        <p class="text-right" style="font-weight: bolder;font-size: 18px;">
                            {{reply.ResponseText}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>