#GroupBtn{
    position: fixed;
    left: 15px;
    bottom: 55px;
}
#SendBtn{
    position: fixed;
    left: 85px;
    bottom: 55px;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}
.w-100{
    width: 100%;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    text-align: left;
}