/* angular-cli file: src/styles.css */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.d-none{
    display: none;
}
@media print {
    .d-none{
        display: block;
    }   
}
.full-form, .full-width{
    display: block;
    width: 100%;
    float: right;
}
.example-full-width {
    text-align: right !important;
    width: calc(100% - 50px);
    margin: auto;
    display: block !important;
    margin-top: 10px;
    direction: rtl  !important;
}
#print-stickers{
    float: left;
    margin: 15px;
}