/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* width */
/* ::-webkit-scrollbar {
    width: 5px;
} */
footer {
    z-index: 9000000000 !important;
}
.pd-60{
    padding-bottom: 60px;
}

.row.boder-me{
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    padding: 27px 0 10px;
    box-shadow: 0px 0px 3px 0px #000;
    border-radius: 7px;
}
table#patientsTable tbody tr:hover{
    background-color: lightgrey;
}
#addBtnU.mat-fab .mat-button-wrapper {
    padding: 0px 0 !important;
}
.cal-month-view .cal-day-cell:not(:last-child) {
    border-left: 1px solid  #e1e1e1 !important;
}
.pd-25{
    padding: 25px;
}
[dir=rtl] .mat-badge-large.mat-badge-after .mat-badge-content {
    right: -7px;
    left: auto;
}
textarea{
    white-space: break-spaces !important;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0;
}
.highlightBox{
    background: rgba(0,0,0,0.1);
    border-radius: 18px;
    box-shadow: 1px 1px 4px 1px #000;
}
.top-zindex {
    z-index: 9999999999999999 !important;
  }
.m-5 {
    margin: 1rem 0;
}
.cal-month-view .cal-draggable{
    text-align: right;
  }
.mat-tooltip{
    white-space: pre;
    text-align: right;
    font-size: larger !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0.1em 0.1em 0 0.1em;
}



.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane,
.cdk-overlay-connected-position-bounding-box {
    /* position: relative; */
    z-index: 9999999999999999999;
}
.pos-l-10 {
    position: absolute  !important;
    left: 5px;
    top: -5px;
}
.m-5 {
    margin: 1rem 0;
}
.cdk-overlay-connected-position-bounding-box,
.cdk-overlay-pane {
    /* position: relative; */
    z-index: 999999999999999999999999;
}
.pos-me-right-li {
    position: absolute;
    right: -35px;
}
.fix-my-width .mat-form-field-infix {
    width: 100% !important;
    padding: 2px;
}
.modal-dialog.modal-sm {
    max-width: 300px;
}
.d-block.fade.modal.show:not(.d-block.fade.modal.show.width-1010) {
    display: flex !important;
    width: 100%;
    float: right;
    background: rgba(0, 0, 0, 0.8);
}
.form-amen .mat-checkbox-layout,
.form-amen .mat-checkbox {
    display: block;
    float: right;
    width: 100%;
}
.form-amen ol > li {
    float: right;
}
ol {
    padding: 0;
}
.d-block {
    display: block !important;
    width: 100%;
    float: right;
}
.mat-checkbox-layout {
    white-space: break-spaces !important;
}
.mat-card {
    display: block;
    float: right;
    width: 100%;
}
ol > li {
    width: calc(50% - 30px);
    margin: 0 15px;
    float: right;
}
/* .rel{
    position: relative;
    padding-bottom: 250px;
    height: 0;
    overflow:hidden;
    width: 100%;
}*/
.mat-dialog-container {
    height: auto !important;
    display: block;
    padding: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    min-height: inherit;
    max-height: inherit;
}

/* .cdk-overlay-pane:not(.mat-datepicker-popup){
    width: 90%;;
} */
.google-chart {
    width: 100% !important;
    height: 600px !important;
}
.badge-info,
.bg-blue,
.bootstrap-switch-info,
.btn-info,
.checkbox-info div[id^="uniform-"] span.checked,
.hover-blue:hover,
.hover-info:hover,
.label-info,
.progress-bar-info,
.radio-info div[id^="uniform-"] span.checked {
    color: #fff;
    border-color: #308dcc;
    background: #3498db;
    display: block;
}
.tile-header {
    font-size: 14px;
    padding: 5px 10px;
    text-align: left;
    text-transform: uppercase;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.2);
}
.modal-footer {
    display: block;
}
button:focus {
    outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.tile-box-alt .tile-header {
    padding: 10px;
    text-align: center;
}
.tile-content-wrapper {
    position: relative;
    overflow: hidden;
    padding: 10px;
}
.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.tile-content-wrapper .easyPieChart {
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 19px;
    font-weight: 100;
}
.easyPieChart {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #bbb;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}
/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 60px;
    /*padding-right: 305px;*/
}
.w-50-p {
    width: 50%;
}
.card {
    overflow: hidden;
}
form {
    padding-left: 20px;
    padding-right: 20px;
}
.border-left .card-header .row .col-4.text-center:nth-child(2)::after {
    content: "";
    width: 2px;
    top: -15px;
    position: absolute;
    height: 6000%;
    background: #000;
    left: -10px;
}
.mb-10 {
    margin-bottom: 15px;
}
.border-left .card-header .row .col-4.text-center:nth-child(2)::before {
    content: "";
    width: 2px;
    top: -15px;
    position: absolute;
    height: 6000%;
    background: #000;
    right: -10px;
}
.card-header .col,
.card-body .col {
    text-align: center;
}
.card-body {
    padding-left: 0;
    padding-right: 0;
}
.inline-radio-group-in,
.inline-radio-group {
    float: right;
    margin-left: 10px;
}
.label-year {
    margin-left: 10px;
    line-height: 22px;
    float: right;
}

.w-85-p {
    width: 85%;
}
#loader_2 .mat-spinner {
    margin: auto;
}
#loader .mat-spinner {
    margin: auto;
}
.tab-1 {
    padding-right: 25px;
}

.clearCach:hover {
    cursor: pointer;
}
[dir="rtl"] .mat-form-field {
    text-align: right;
    width: 100%;
}
.bg-primary {
    background: #1976d2;
    background-color: #1976d2 !important;
}
.btn-primary {
    color: #fff;
    background: #1976d2;
    background-color: #1976d2 !important;
    border-color: #1976d2;
}
.pb-60 {
    padding-bottom: 60px !important;
}
#logo img {
    width: 100%;
}
#logo {
    position: absolute;
    left: 15px;
    width: 80px;
    top: 15px;
    background: #fff;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px #000;
}
.card-footer {
    padding: 5px 0;
}
.none-all img {
    width: 50px;
}
#_departments .card {
    margin-bottom: 20px;
}
.colde {
    width: 75%;
    margin: auto;
}
.card-body p.row:last-child {
    border: 0;
}
.card-body p.row:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
}
.card-body p.row {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #a0a0a0;
    margin: 0;
}
p.row.rowBord:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
}
p.row.rowBord {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #a0a0a0;
    margin: 0;
}
.card.w-50-p {
    margin: auto;
}
.card.w-85-p {
    margin: auto;
}
.page-title {
    position: fixed;
    top: 0;
    z-index: 9999;
    left: 50px;
    right: 0;
    color: #fff;
    font-size: 24px;
    line-height: 44px;
    font-weight: 400;
    width: calc(100% - 100px);
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
    vertical-align: middle;
}
[dir="rtl"] td.mat-cell:first-of-type,
[dir="rtl"] td.mat-footer-cell:first-of-type,
[dir="rtl"] th.mat-header-cell:first-of-type {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
[dir="rtl"] th.mat-header-cell {
    text-align: right;
    padding: 15px 20px;
    border: 1px solid #d3d3d3;
}
[dir="rtl"] td.mat-cell:last-of-type,
[dir="rtl"] td.mat-footer-cell:last-of-type,
[dir="rtl"] th.mat-header-cell:last-of-type {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
.row-all {
    width: 100%;
    float: left;
}
.mat-paginator-range-label {
    direction: ltr;
}
.rowIn {
    display: block;
    width: 100%;
    float: left;
}
#chadNoValByDocWrapper,
#tkenLoTken {
    display: block;
    width: 48vw;
    max-height: 500px;
    margin: auto;
    float: right;
}
#departSurgery,
#surgeryCount {
    display: block;
    width: 48%;
    max-height: 500px;
    margin: auto;
}
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
    background: none !important;
}
#app-menu .mat-expansion-panel {
    background: unset;
    box-shadow: 0px 0px 0px 0px !important;
}
#app-menu .mat-expansion-panel-header {
    padding-right: 10px !important;
}
.cdk-overlay-container,
.cdk-global-overlay-wrapper {
    overflow: auto;
}
#app-menu .mat-expansion-panel-header-title {
    color: #fff !important;
}
#app-menu .mat-expansion-indicator::after,
#app-menu .mat-expansion-panel-header-description {
    color: #fff !important;
}
.action-link a:hover {
    cursor: pointer;
}
.modal-dialog {
    max-width: 90%;
    width: 90%;
    margin: auto;
}
.modal-header {
    display: block;
}
.modal-header .close {
    position: absolute;
    left: 15px;
    top: 15px;
}
.modal-footer {
    justify-content: flex-start;
}
.mark,
mark {
    background-color: #ffd600 !important;
}
.d-none-desktop {
    display: none !important;
}
.mersham table > tbody > tr > td,
.mersham table > thead > tr > th {
    line-height: 1.42857143;
    border: 1px solid #afafff !important;
}
.mersham table {
    width: 100%;
    border-spacing: 0 6px !important;
    border-collapse: unset;
}
#formTable {
    width: 98%;
}
#formTable td.mat-cell,
.mersham td.mat-cell {
    padding: 1px;
    border-bottom: 2px solid #afafff !important;
    border-top: 2px solid #afafff !important;
}
.mersham .card-body {
    padding-top: 1px;
}
.mersham .mat-form-field-infix {
    border-top: 0 !important;
}
.mersham td.mat-cell:first-child {
    border-right: 2px solid #afafff !important;
}
#formTable .mat-form-field-label-wrapper {
    height: auto;
}
#myPrnit {
    position: absolute;
    left: 255px;
    bottom: 51px;
}
.mat-card-content b {
    font-size: 16px;
}
.mat-card-header-text .mat-card-title b {
    font-size: 25px;
}
.mersham .mat-raised-button {
    font-weight: bold;
    line-height: 35px;
}
.mersham
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label,
.mersham
    .mat-form-field-appearance-legacy.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-1.3em) scale(0.75) perspective(107px)
        translateZ(-0.999px);
    -ms-transform: translateY(-1.28125em) scale(0.75);
    width: 133.3333333333%;
    font-size: 23px;
}
.mersham td.mat-cell:last-child {
    border-left: 2px solid #afafff !important;
}
#formTable .cdk-column-MedList .mat-form-field-infix {
    padding: 0px !important;
}
.mat-yello {
    background: #fff3bc;
}
.card-body .form-group {
    margin-bottom: 0;
}
#formTable tr.mat-header-row th {
    font-weight: bold;
    font-size: 16px;
}
#formTable tr.mat-header-row {
    height: 40px;
    background: #d3edff;
    font-weight: bold;
}
#formTable {
    margin: auto;
    background: #eaf1f6;
}
#formTable tbody > tr > td,
#formTable tbody > tr > th,
.mersham table tbody > tr > td,
.mersham table thead > tr > th {
    line-height: 1.42857143;
    border: 1px solid #afafff !important;
}
#formTable,
.mersham table {
    width: 100%;
    border-spacing: 0 6px !important;
    border-collapse: unset;
}
#formTable .example-button-container {
    transform: scale(0.6);
}
.mersham tr.mat-row,
.mersham tr.mat-footer-row,
.mersham table tr.mat-row,
.mersham table tr.mat-footer-row {
    height: auto !important;
}
.fix-select .mat-select-value {
    text-align: left;
}
#formTable .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background: none !important;
}
#_departments .row {
    display: block;
    width: 100%;
    float: left;
}
#_departments .card-header h1 {
    font-size: 14px;
}
#_departments .col-md-8,
#_departments .col-sm-8,
#_departments .col-xs-8 {
    float: right;
    width: 60% !important;
    padding: 0 5px !important;
}
#_departments .col-md-2,
#_departments .col-sm-2,
#_departments .col-xs-2 {
    float: left;
    width: 20% !important;
    padding: 0 5px !important;
}
#formTable td.mat-cell:first-child {
    border-right: 2px solid #afafff !important;
}

#formTable td.mat-cell:last-child {
    border-left: 2px solid #afafff !important;
}
.marg-t-60 .modal-dialog {
    width: 80%;
    box-shadow: 0px 0px 1035px 1px #000;
}
.marg-t-60 {
    padding-top: 60px;
}
#page-toshow {
    padding-bottom: 50px;
    padding-top: 50px;
}
.bg-blue-light {
    background: #eaf1f6;
}
.modal-dialog .page {
    background: #eaf1f6;
}
.redRow {
    background: rgb(243 45 45);
    color: yellow !important;
    display: block;
    padding: 5px 0 0 0;
}
.mt-20 {
    margin-top: 20px;
}
.pd-r-20 {
    padding-right: 20px !important;
}
.mat-yellow {
    background-color: #ffd600 !important;
    color: #fff;
}
.mat-list-item-content.mat-list-item-content-reverse {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}
.mat-green {
    background-color: #43d625 !important;
    color: #fff;
}
.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: auto !important;
}
.success * {
    color: #fff !important;
}
.success {
    color: #fff !important;
    background: #33de67;
}
.error {
    color: #fff !important;
    background: #df3b3bf2;
}
.fix-p {
    padding: 10px 2%;
}
.card.no-bg #pos-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.card.no-bg .card-body {
    flex: 0 0 auto;
}
.w-100100 {
    width: 100% !important;
}
.card.no-bg {
    position: relative;
    height: 1280px;
}
.sars-form-in p {
    display: block;
    float: right;
    width: 100%;
    margin: 0;
}
.sars-form-in .mat-radio-button.mat-radio-disabled .mat-radio-inner-circle,
.sars-form-in
    .mat-radio-button.mat-radio-disabled
    .mat-radio-ripple
    .mat-ripple-element {
    background-color: rgba(0, 0, 0, 1);
}
.sars-form-in
    .mat-radio-button.mat-radio-disabled.mat-radio-checked
    .mat-radio-outer-circle,
.sars-form-in .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, 1);
}
.sars-form-in
    .mat-form-field-appearance-legacy.mat-form-field-disabled
    .mat-form-field-underline {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.42) 0%,
        rgba(0, 0, 0, 0.42) 100%,
        transparent 0%
    );
    background-size: 100%;
    background-repeat: repeat-x;
}
.full-width-30 {
    width: calc(25% - 20px);
    margin: 5px 10px 5px;
    float: right;
}
.full-width-50 {
    width: calc(50% - 20px) !important;
    margin: 5px 10px 5px;
    float: right;
}
.sars-form-in .mat-radio-button {
    display: inline-block;
}
.sars-form-in .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 1.4375em 0;
    height: 57px;
}
.card.no-bg,
.card.no-bg * {
    background: none !important;
}
.full-width {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: auto;
    float: right;
}
#to-print {
    display: none;
}
#to-print1 .form-group {
    margin-bottom: 0;
}
#to-print1 label {
    margin-bottom: 0;
}

#to-print1 .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid;
}
#to-print .form-group {
    margin-bottom: 0;
}
#to-print label {
    margin-bottom: 0;
}

#to-print .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid;
}
#formTablePrint {
    margin-top: 10px;
}
#to-print1 .mat-card-header .mat-card-title,
#to-print .mat-card-header .mat-card-title {
    margin-bottom: 0;
}
@media print {
    .modalOptionsPrint .modal-content .show-on-print{
        display: block !important;
        
    }
    .modalOptionsPrint .modal-content{
        display: block !important;
        width: 100%  !important;
        height: 100%  !important;

    }
    .modalOptionsPrint .modal-dialog{
        display: block !important;
        width: 100%  !important;
        height: 95%  !important;

    }
    .modalOptionsPrint{
        background: none !important;
        display: block !important;
    }
    .hide-on-print{
        display: none !important;
    }
    #to-print {
        display: block;
    }
    .pl-35 {
        padding-left: 35px;
    }
    body {
        padding: 0 !important;
        background: none !important;
    }
    #sendSmsBtn,
    footer,
    #page-toshow,
    .container-fluid.pb-60 {
        display: none !important;
    }
    .d-none-desktop {
        display: block !important;
    }
    #form-html-templet .card-header * {
        padding: 0 !important;
    }
    .card {
        padding: 0 !important;
        border: 0;
    }
    footer[_ngcontent-pxw-c3] {
        display: none !important;
    }

    button {
        display: none !important;
    }
    td label {
        display: none;
    }
}

.height-header {
    height: 0px;
}
body #formTablePrint td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    border: 1px solid #000 !important;
    padding-right: 5px !important;
    text-align: center !important;
}
.mersham table {
    width: 100%;
    border-spacing: 0 6px !important;
    border-collapse: unset;
    background: #eaf1f6;
}
@media print {
    /*@page {size: A4 portrait}*/
    .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 0;
    }
}
.mersham table tr.mat-row,
.mersham table tr.mat-footer-row,
.mersham table tr.mat-row,
tr.mat-footer-row {
    height: auto !important;
    background: #e5f4ff;
}
.cdk-overlay-container {
    position: fixed;
    z-index: 9999999999999!important;
}
.cdk-overlay-connected-position-bounding-box{
    position: fixed;
    z-index: 99999999999999!important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0.1em 0.1em 0 0.1em;
}

.mt-10 {
    margin-bottom: 10px;
}
.custom-class .modal-dialog {
    width: 320px;
    max-width: 320px;
    direction: rtl;
}
.br-b-2 {
    border-bottom: 2px solid #d3d3d3;
}
#rokeiah {
    page-break-before: always;
}

#formTable .cdk-column-finalMenon .mat-form-field-infix,
#formTable .cdk-column-finalMenon {
    width: calc(55px + 10px) !important;
    padding: 0 3px !important;
}
#formTable .cdk-column-Days_Protocol .mat-form-field-infix,
#formTable .cdk-column-Days_Protocol {
    width: calc(100px + 10px) !important;
    padding: 0 3px !important;
}
#demographDataModal .col-8 {
    border: 1px solid #000;
    padding: 0;
}
.min-87 {
    min-height: 60px;
}
.bg-g {
    background: #d3d3d3;
}
.mt-10 {
    margin-top: 10px;
}
.br-1 {
    border: 1px solid #000000;
    border-collapse: collapse;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(0, 0, 0, 1);
}
.mat-form-field-label {
    color: rgba(0, 0, 0, 1);
}
.mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 1);
}
.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after {
    color: rgba(0, 0, 0, 1);
}
.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 1);
}
.mat-header-cell {
    color: rgba(0, 0, 0, 1);
}
.p-0 {
    padding: 0 !important;
}
.br-r-1 {
    border-right: 1px solid #000000;
    line-height: 18px;
    min-height: 17px;
}
.d-none-o {
    opacity: 0 !important;
}
.br-rl-1 {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    line-height: 18px;
    min-height: 17px;
}
.br-l-1 {
    border-left: 1px solid #000000;
    line-height: 18px;
    min-height: 17px;
}

tr,
td {
    page-break-inside: avoid !important;
}
.avoid-break {
    page-break-before: always !important;
    page-break-after: always !important;
}
.mat-tab-body-wrapper {
    min-height: 130vh;
}
@media print {
    tr,
    td {
        page-break-inside: avoid !important;
    }
    .avoid-break {
        page-break-before: always !important;
        page-break-after: always !important;
    }

    table:not(.mat-calendar-table):not(.table) * {
        border-color: #000 !important;
    }
    table:not(.mat-calendar-table):not(.table) {
        width: 100% !important;
    }
    table:not(.mat-calendar-table):not(.table) tbody > tr > td,
    table:not(.mat-calendar-table):not(.table) thead > tr > th {
        border: 1px solid #000 !important;
    }
    mat-row,
    mat-header-row,
    mat-footer-row,
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        border-bottom-color: rgba(0, 0, 0, 1);
    }
    .modal,
    .modal-backdrop {
        display: none !important;
    }
}
.cover-me {
    position: relative;
    display: inline-block;
}
.cover-in {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: 9999999999999999999999999;
    bottom: 0;
}
[aria-disabled="true"] .mat-select-arrow {
    opacity: 0;
}
#formTable .cdk-column-MenonCalc .mat-form-field-infix,
#formTable .cdk-column-MenonCalc,
#formTable .cdk-column-Dosage_Unit .mat-form-field-infix,
#formTable .cdk-column-Dosage_Unit,
#formTable .cdk-column-note .mat-form-field-infix,
#formTable .cdk-column-note,
#formTable .cdk-column-Way_Of_Providing .mat-form-field-infix,
#formTable .cdk-column-Way_Of_Providing,
#formTable .cdk-column-Duration_Of_Delivery .mat-form-field-infix,
#formTable .cdk-column-Duration_Of_Delivery,
#formTable .cdk-column-Dosage_Unit_2_Val .mat-form-field-infix,
#formTable .cdk-column-Dosage_Unit_2_Val,
#formTable .mat-column-Solution_Volume .mat-form-field-infix,
#formTable .mat-column-Solution_Volume {
    width: calc(79px + 10px) !important;
    padding: 0 3px !important;
}
#formTable .cdk-column-Menon .mat-form-field-infix,
#formTable .cdk-column-Menon {
    width: calc(100px + 10px) !important;
    padding: 0 3px !important;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-1em) scale(0.75) perspective(107px)
        translateZ(-0.999px);
    -ms-transform: translateY(-1.28125em) scale(0.75);
    width: 133.3333333333%;
}
#formTable .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 5px;
    display: none;
}
#formTable .mat-form-field-infix {
    border-top: 0 !important;
}
#formTable .mat-form-field-underline {
    bottom: 5px;
}
#formTable .cdk-column-finalMenon {
    width: calc(70px + 10px) !important;
    padding: 0 3px !important;
}
#formTable .cdk-column-MenonCalc .mat-form-field-infix,
#formTable .cdk-column-finalMenon .mat-form-field-infix,
#formTable .cdk-column-Menon .mat-form-field-infix {
    padding-bottom: 0 !important;
}
.form-control:disabled,
.form-control[readonly] {
    background: none !important;
    opacity: 1;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    background: none !important;
}
#formTable .cdk-column-Solution .mat-form-field-infix,
#formTable .cdk-column-Solution {
    width: calc(85px + 10px) !important;
    padding: 0 3px !important;
}
#formTable .form-control {
    height: 28px;
    line-height: 1;
}

#formTable tr.mat-header-row th {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
/*
#formTable tr.mat-header-row{
  /*  height: 30px;*/ /*
}
body #formTable tr.mat-row td{    
    /*padding-top: 5px !important;
    padding-bottom: 5px !important;*/ /*
}*/
body #formTable .mat-form-field-wrapper {
    padding-bottom: 0;
}

[dir="rtl"] td.mat-cell:first-of-type,
[dir="rtl"] td.mat-footer-cell:first-of-type,
[dir="rtl"] td.mat-cell:first-of-type,
[dir="rtl"] td.mat-footer-cell:first-of-type {
    padding: 0 !important;
}
#formTable label {
    position: relative;
    top: 5px;
    left: 0;
    right: 0;
}
#formTable .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    padding: 0 5px;
}
#formTable td.mat-column-MedList {
    padding-right: 5px !important;
}
#formTable {
    margin-bottom: 30px;
}
.mt-32 {
    margin-top: 0 !important;
}
#formTable .form-control {
    height: 28px;
    line-height: 1;
    text-align: center;
}
#formTable .mat-select-value {
    display: table;
    max-width: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
#PrespictionFormID .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0.25em !important;
}
#PrespictionFormID .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
#PrespictionFormID .form-group {
    margin-bottom: 0 !important;
}
#PrespictionFormID .form-control {
    font-weight: bold;
}
#demographDataModal .mat-card {
    padding: 0;
}
#PrespictionFormID .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}
#PrespictionFormID
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label,
#PrespictionFormID
    .mat-form-field-appearance-legacy.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    font-size: 14px;
    transform: scale(1);
    top: 12px;
}
#PrespictionFormID .form-control:focus {
    box-shadow: 0 0 0 0;
    border: 0;
}
#PrespictionFormID
    .mat-checkbox-indeterminate.mat-accent
    .mat-checkbox-background,
#PrespictionFormID .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #fff3bc;
    color: #000;
    box-shadow: 0px 0px 5px 2px #9f9f9f;
}

#PrespictionFormID .mat-checkbox-checkmark {
    fill: #000;
}
#PrespictionFormID .mat-checkbox-checkmark-path {
    stroke: #000 !important;
}
[for="Sensitivity-input"] {
    margin-top: 23px;
}
#to-print label {
    padding-top: 10px;
}
#to-print .form-control {
    font-weight: bold;
    padding-right: 0;
    text-align: center;
}

#PrespictionFormIDRow .mat-select-value-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

#formTable .mat-select-arrow {
    top: 14px;
    position: relative;
}
#formTable [formcontrolname="noteVal"] .mat-select-arrow {
    top: 0;
}
.error-font-gib {
    background: #f02439 !important;
}
.error-font-gib .mat-simple-snackbar {
    text-align: center !important;
    font-size: 22px !important;
    color: #fff;
}
#singleSelect0-panel,
#singleSelect1-panel,
#singleSelect2-panel,
#singleSelect3-panel,
#singleSelect4-panel,
#singleSelect5-panel,
#singleSelect6-panel,
#singleSelect7-panel,
#singleSelect8-panel,
#singleSelect9-panel,
#singleSelect10-panel,
#singleSelect11-panel,
#singleSelect12-panel,
#singleSelect13-panel,
#singleSelect14-panel,
#singleSelect15-panel,
#singleSelect16-panel,
#singleSelect17-panel,
#singleSelect18-panel,
#singleSelect19-panel,
#singleSelect21-panel,
#singleSelect21-panel,
#singleSelect22-panel,
#singleSelect23-panel,
#singleSelect24-panel,
#singleSelect25-panel,
#singleSelect26-panel,
#singleSelect27-panel,
#singleSelect28-panel,
#singleSelect29-panel,
#singleSelect30-panel {
    position: relative;
    padding-top: 50px;
}
#to-print {
    padding: 0 15px;
}
#to-print .col {
    padding: 0 15px 0 0;
}

#to-print * {
    font-size: 98%;
}
.break-page {
    page-break-before: always !important;
    height: 1px;
}
ngx-material-timepicker-container,
.timepicker-backdrop-overlay,
.timepicker-overlay {
    z-index: 99999999999 !important;
}
.mat-datepicker-content
    .time-container.disable-seconds
    .ngx-mat-timepicker
    .table {
    margin-left: 9px;
    direction: ltr;
}
.col-3.text-right button {
    margin-bottom: 10px;
}
.modal-dialog:has(div.parent-modal-100100) {
    width: 100% !important;
    max-width: 100% !important;
}
.width-1010 > .modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1600px) {
    #formTable {
        margin-bottom: 30px;
        transform: scale(0.89);
        position: relative;
        right: -68px;
    }
}
@media screen and (max-width: 798px) {
    .cdk-overlay-pane.mat-datepicker-dialog {
        max-width: 100% !important;
    }
    body {
        padding-bottom: 60px;
        height: auto;
    }
    .row {
        display: block;
    }
    .col-md-12 {
        width: 100%;
        display: block;
        float: left;
    }
    .card-body .form-group {
        margin-bottom: 0;
        display: block;
        width: 100%;
        float: right;
        text-align: right;
    }
    .col-6,
    .col-4,
    .col-3,
    .col-1,
    .col-2,
    .col-5 {
        max-width: 100%;
    }
    .col {
        max-width: 100%;
    }
    #chadNoValByDocWrapper,
    #tkenLoTken {
        width: 100%;
    }
    footer {
        height: 50px !important;
    }
    .google-chart {
        height: 300px !important;
    }
}
.pad-30 {
    padding: 0 30px;
}
.pd-10 {
    padding: 0 10px;
}
.text-up .colr-3 {
    position: relative;
    height: 52px;
}
.text-up .colr-4 {
    position: relative;
    height: 52px;
}
.text-up .colr-6 {
    position: relative;
    height: 52px;
}
.text-up .b-bottom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;

    margin: auto;
    width: 80%;
}


.border-1 {
    border: 1px solid !important;
    padding: 15px !important;
}
.padding-top-0 {
    padding-top: 0 !important;
}
.no-word {
    white-space: normal !important;
    line-height: 25px !important;
}
.greyBg {
    background: #343738 !important;
}
.redBg {
    background: #d6414b !important;
    min-height: 49px;
}
.padding-15 {
    padding: 15px;
}
.text-up label {
    position: absolute;
    width: 80%;
    margin: auto;
    text-align: center;
    border-top: 1px solid #000;
    padding-top: 3px;
    bottom: 0;
}

.trans-80 {
    transform: scale(0.78);
    margin-top: -25px;
    margin-bottom: -50px;
}
.mb-25 {
    margin-bottom: 25px;
}
.fix-h {
    white-space: pre-line;
    height: 86px;
    overflow: auto;
}
.modal-open .modal {
    z-index: 9999;
    padding-bottom: 55px;
}
.mat-card.mat-focus-indicator {
    padding-bottom: 90px;
}
.bg-n-mtb-10 {
    background: none;
    margin: 10px 10px 10px 0;
    padding: 15px 15px;
}
.bord-l {
    border-left: 1px solid #d3d3d3;
}
footer {
    z-index: 999;
}
.bg-blue-light1 {
    padding-bottom: 90px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#PrespictionFormIDRow .mat-form-field .mat-select.has-error,
#PrespictionFormIDRow .mat-form-field .mat-select.mat-select-invalid {
    border: 1px solid red !important;
}
.mat-select {
    overflow: hidden;
}
#addOrEditReportForm .mat-form-field .mat-select.has-error,
#addOrEditReportForm .mat-form-field .mat-select.mat-select-invalid {
    border: 0;
}
.rel {
    position: relative;
}
.border-bottom-t {
    height: 40px;
    border-bottom: 2px solid #000;
}
.red.bolde {
    font-size: 25px;
}
.mat-radio-label {
    font-weight: bold;
}
.red {
    color: rgb(158, 23, 23);
}
.border-bottomIn {
    border-bottom: 3px solid #007bff;
}
.worker-form-in
    .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-persistent-ripple,
.worker-form-in .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
    .mat-radio-ripple
    .mat-ripple-element:not(.mat-radio-persistent-ripple),
.worker-form-in
    .mat-radio-button.mat-accent:active
    .mat-radio-persistent-ripple {
    background-color: #000;
}
.worker-form-in .mat-checkbox-layout span {
    font-weight: bold;
}
.colr-12 p {
    display: block;
    float: right;
    margin-bottom: 0;
}
.fix-label .mat-form-field-label-wrapper {
    top: -30px;
}
.colr-12 textarea {
    resize: none;
}
.brs-1 {
    padding: 3px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    margin-bottom: 5px;
}
.colr-4 {
    width: 33.3%;
    float: right;
}
.colr-6 {
    width: 50%;
    float: right;
}
.colr-12 {
    width: 100%;
    float: left;
}
.colr-3 {
    width: 25%;
    float: right;
}
.stik::after {
    content: "מדבקה";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    font-size: 18px;
    color: #d2d2d2;
    width: 100%;
    text-align: center;
}

.bg-greay * {
    font-weight: bold;
    font-size: 18px;
}
.br-1px {
    border: 1px solid #d3d3d3 !important;
    border-radius: 5px;
}
.bg-greay {
    background: rgb(247 247 247) !important;
}
.w-87 {
    width: 87px !important;
}
.w-191 {
    width: 191px !important;
}
.w-591 {
    width: 691px !important;
}
.table.mb-0 td {
    padding: 0 !important;
    border: 0 !important;
}
.table.mb-0 {
    border: 0 !important;
}
.border-left-1 {
    border-left: 3px solid #000000;
}
.stik {
    position: relative;
    width: 40%;
    height: 175px;
    margin: 10px auto;
    border: 1px solid #d2d2d2;
}

.row-1 .colr-12 {
    display: block;
    float: left;
    width: 100%;
    padding: 3px 17px;
}
.row-1 {
    display: block;
    float: left;
    width: 100%;
}
g text {
    font-size: 12px !important;
}
.mat-tab-body-content .container-fluid {
    overflow: hidden;
}
.worker-form-in .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.worker-form-in .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #000;
}
.fix-label .mat-form-field-label {
    position: relative;
    top: 20px;
}
.min-h-100 {
    min-height: 100vh;
}
.lh-37 .mat-form-field-infix {
    line-height: 15px;
}
.pos-abs-center {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
}
.pos-abs-center-2 {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    width: 100%;
}
.pos-botom-fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#loader {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    z-index: 999999999999999 !important;
}
#loader_2 {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    z-index: 999999999999999 !important;
}
