<form
    class="form text-left"
    [formGroup]="serverForm"
    (ngSubmit)="onSubmit()"
>
    <h2 mat-dialog-title *ngIf="data.element.RowId != '0'">
        Edit HPID: {{ data.element.HPID }}
    </h2>
    
    <h2 mat-dialog-title *ngIf="data.element.RowId == '0'">
        Add HPID
    </h2>
    <mat-dialog-content class="mat-typography">        
        
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="HPID"
                            formControlName="HPID"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Current Room"
                            formControlName="CurrentRoom"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Current Cabinet"
                            formControlName="CurrentCabinet"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Current U"
                            formControlName="CurrentU"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Current Height U"
                            formControlName="CurrentHeightU"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Physical Name"
                            formControlName="PhysicalName"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Device Type"
                            formControlName="DeviceType"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
        
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Serial"
                            formControlName="Serial"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Customer ID"
                            formControlName="CustomerID"
                            
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Power Cabels"
                            formControlName="PowerCabels"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Shelf / Rails / Ears"
                            formControlName="ShelfRailsEars"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Move Phase"
                            formControlName="MovePhase"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Future Room"
                            formControlName="FutureRoom"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Future Cab"
                            formControlName="FutureCab"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Future U"
                            formControlName="FutureU"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Owner"
                            formControlName="Owner"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Device Category"
                            formControlName="DeviceCategory"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="1st"
                            formControlName="F1st"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="2nd"
                            formControlName="F2nd"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="3rd"
                            formControlName="F3rd"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Old Room"
                            formControlName="OldRoom"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Future Index"
                            formControlName="FutureIndex"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Current Index"
                            formControlName="CurrentIndex"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <mat-form-field>
                        <input
                            matInput
                            autocomplete="off"
                            class="form-control"
                            placeholder="Logical Name"
                            formControlName="LogicalName"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <input type="hidden" formControlName="RowId">
        <input type="hidden" formControlName="UserInsert">
        <input type="hidden" formControlName="UserUpdate">
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button color="primary" type="submit" cdkFocusInitial [class.spinner]="loading"
        [disabled]="loading">Save</button>
    </mat-dialog-actions>
</form>
