<h1 class="page-title text-center">נתוני דימות</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div dir="rtl" class="card w-85-p">
                <div dir="rtl" class="card-body">
                    <form class="form">
                        <div class="row d-none">
                            <div class="col">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="חפש"
                                            [(ngModel)]="fliterVal"
                                            name="fliterVal"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="מ תאריך"
                                            required
                                            (focus)="startdate.open()"
                                            [(ngModel)]="startdateVal"
                                            name="startdate"
                                            [matDatepicker]="startdate"
                                        />
                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="startdate"
                                        ></mat-datepicker-toggle>
                                        <mat-datepicker
                                            #startdate
                                        ></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <mat-form-field>
                                        <input
                                            matInput
                                            autocomplete="off"
                                            placeholder="עד תאריך "
                                            (focus)="enddate.open()"
                                            required
                                            [(ngModel)]="enddateVal"
                                            name="enddate"
                                            [matDatepicker]="enddate"
                                        />
                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="enddate"
                                        ></mat-datepicker-toggle>
                                        <mat-datepicker
                                            #enddate
                                        ></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>משמרת</mat-label>
                                        <mat-select [(value)]="Shift" required>
                                            <mat-option value="-1"
                                                >הכל</mat-option
                                            >
                                            <mat-option value="BOKER"
                                                >בוקר</mat-option
                                            >
                                            <mat-option value="3RV"
                                                >ערב</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>דחוף</mat-label>
                                        <mat-select
                                            [(value)]="requestDepartDhof"
                                            required
                                        >
                                            <mat-option value="-1"
                                                >הכל</mat-option
                                            >
                                            <mat-option value="דחוף"
                                                >דחוף</mat-option
                                            >
                                            <mat-option value="רגיל"
                                                >רגיל</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>סוג בדיקה</mat-label>
                                        <mat-select
                                            [(value)]="RequestType"
                                            required
                                        >
                                            <mat-option value="-1"
                                                >הכל</mat-option
                                            >
                                            <mat-option value="IN"
                                                >פנימי</mat-option
                                            >
                                            <mat-option value="OUT"
                                                >אמבולטורי</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col d-none1">
                                <div class="form-group">
                                    <mat-form-field>
                                        <mat-label>מחלקה</mat-label>
                                        <mat-select
                                            multiple
                                            [(value)]="Depart"
                                            required
                                        >
                                            <mat-option value="-1"
                                                >הכל</mat-option
                                            >
                                            <mat-option value="דימ-אול"
                                                >מכון דימות
                                                אולטראסאונד</mat-option
                                            >
                                            <mat-option value="דימ-א-שד"
                                                >מכון דימות-אולטרסאונד
                                                שד</mat-option
                                            >
                                            <mat-option value="דימ-ממ"
                                                >מכון דימות-ממוגרפיה</mat-option
                                            >
                                            <mat-option value="דימ-מרי"
                                                >מכון דימות אמ.אר.אי</mat-option
                                            >
                                            <mat-option value="דימ-ס-ט"
                                                >מכון דימות סי.טי</mat-option
                                            >
                                            <mat-option value="דימ-סטלב"
                                                >מכון דימות סי טי לב</mat-option
                                            >
                                            <mat-option value="דימ-פרצד"
                                                >מכון דימות-פרצדורות</mat-option
                                            >
                                            <mat-option value="דימ-צ-די"
                                                >מכון דימות צריבת
                                                דיסקים</mat-option
                                            >
                                            <mat-option value="דימ-קונ"
                                                >מכון
                                                דימות-קונבנציונאלי</mat-option
                                            >
                                            <mat-option value="דימ-שקוף"
                                                >מכון דימות-שיקוף</mat-option
                                            >
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div dir="rtl" class="col-md-12 text-right">
                                <div class="form-group">
                                    <label class="label-year">בחר שנה</label>
                                    <mat-radio-group
                                        name="years"
                                        class="inline-radio-group"
                                    >
                                        <!-- >[(ngModel)]="_yearToSearch" -->
                                        <mat-radio-button
                                            class="inline-radio-group-in"
                                            *ngFor="
                                                let year of yearsToSelect.list
                                            "
                                            name="year"
                                            [checked]="year.checked"
                                            [value]="year.ID"
                                            (change)="radioChange($event)"
                                        >
                                            {{ year.ID }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <mat-label>רבעון</mat-label>
                            </div>
                            <mat-list class="row-all">
                                <div class="row">
                                    <div class="col-1">
                                        <mat-list-item>
                                            <mat-radio-button
                                                (change)="quart_change($event)"
                                                name="Quart"
                                                [checked]="true"
                                                #all
                                                value="all"
                                                >הכל</mat-radio-button
                                            >
                                        </mat-list-item>
                                    </div>
                                    <div class="col-1">
                                        <mat-list-item>
                                            <mat-radio-button
                                                (change)="quart_change($event)"
                                                name="Quart"
                                                #one
                                                value="1"
                                                >I</mat-radio-button
                                            >
                                        </mat-list-item>
                                    </div>
                                    <div class="col-1">
                                        <mat-list-item>
                                            <mat-radio-button
                                                (change)="quart_change($event)"
                                                name="Quart"
                                                #two
                                                value="2"
                                                >II</mat-radio-button
                                            >
                                        </mat-list-item>
                                    </div>
                                    <div class="col-1">
                                        <mat-list-item>
                                            <mat-radio-button
                                                (change)="quart_change($event)"
                                                name="Quart"
                                                #Three
                                                value="3"
                                                >III
                                            </mat-radio-button>
                                        </mat-list-item>
                                    </div>
                                    <div class="col-1">
                                        <mat-list-item>
                                            <mat-radio-button
                                                (change)="quart_change($event)"
                                                name="Quart"
                                                #four
                                                value="4"
                                                >IV</mat-radio-button
                                            >
                                        </mat-list-item>
                                    </div>
                                </div>
                            </mat-list>
                        </div>

                        <button
                            type="submit"
                            class="btn d-none btn-link none-all btn-raised"
                            (click)="getReportExcel($event)"
                        >
                            <img src="assets/images/excel.png" />
                        </button>
                        <div class="export-container mb-10">
                            <button
                                mat-raised-button
                                class="btn btn-primary btn-raised"
                                [class.spinner]="loading"
                                [disabled]="loading"
                                (click)="exportTable()"
                            >
                                יצוא
                            </button>
                            &nbsp;&nbsp;&nbsp;<button
                                mat-raised-button
                                type="submit"
                                class="btn btn-primary btn-raised"
                                (click)="getReport($event)"
                            >
                                הצג
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<div class="container-fluid text-right">
    <div class="row" style="flex-flow: column-reverse">
        <div class="coil-6" id="DocChart"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-6" id="totalChart"></div>
        <div class="col-6" id="checkTypeChart"></div>
    </div>
    <br />
    <div class="row" style="flex-flow: column-reverse">
        <div class="colde d-nonea" id="LineChart"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-2"></div><div class="col-8" id="docCount"></div><div class="col-2"></div>
        <!-- <div class="col-6" id="techCount"></div> -->
    </div>
    <br />
    <div class="row">
        <div class="col-6" id="servicedocCount"></div>
        <div class="col-6" id="servicetechCount"></div>
    </div>
</div>
<br />
<hr />
<div class="container-fluid pb-60">
    <div class="row">
        <div dir="rtl" class="col">
            <div class="table-responsive">
                <div class="table-spinner-container">
                    <!-- <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חפש">
                        </mat-form-field> -->
                    <table
                        class="table"
                        mat-table
                        [dataSource]="dataSource"
                        id="dimotTable"
                    >
                        <ng-container matColumnDef="D_CASE_NUMBER">
                            <th mat-header-cell *matHeaderCellDef>מס' מקרה</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_CASE_NUMBER }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="D_PATIENT_NUMBER">
                            <th mat-header-cell *matHeaderCellDef>מס' מטופל</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_PATIENT_NUMBER }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="D_SERVICE_NAME">
                            <th mat-header-cell *matHeaderCellDef>שירות</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_SERVICE_NAME }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="D_REQUEST_DATE">
                            <th mat-header-cell *matHeaderCellDef>
                                תאריך ושעת הזמנה
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_REQUEST_DATE }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="D_TECH_DOING_DATE">
                            <th mat-header-cell *matHeaderCellDef>
                                תאריך ושעת ביצוע
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_TECH_DOING_DATE }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="D_DOC_DOING_DATE">
                            <th mat-header-cell *matHeaderCellDef>
                                תאריך ושעת פענוח
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_DOC_DOING_DATE }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="D_REQUEST_DEPARTMENT">
                            <th mat-header-cell *matHeaderCellDef>
                                יחידה מזמינה
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_REQUEST_DEPARTMENT }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="D_DOING_DEPARTMENT">
                            <th mat-header-cell *matHeaderCellDef>
                                יחידה מבצעת
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_DOING_DEPARTMENT }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="D_TECH_NAME">
                            <th mat-header-cell *matHeaderCellDef>שם טכנאי</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_TECH_NAME }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="D_DOC_NAME">
                            <th mat-header-cell *matHeaderCellDef>רופא</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_DOC_NAME }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="D_NEED_TO_CHECK">
                            <th mat-header-cell *matHeaderCellDef>
                                צריך פענוח
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_NEED_TO_CHECK }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="D_TIME_UNTIL_DONIG_IN_DAYS">
                            <th mat-header-cell *matHeaderCellDef>
                                ימים עד הפענוח
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.D_TIME_UNTIL_DONIG_IN_DAYS }}
                            </td>
                        </ng-container>
                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                </div>
                <!-- PAGINATION -->
                <mat-paginator
                    [length]="resultsLength"
                    [pageSizeOptions]="[5, 10, 20, 50, 100]"
                    [pageSize]="10"
                    showFirstLastButtons
                    (page)="getPaginatorData($event)"
                ></mat-paginator>
            </div>
        </div>
    </div>
</div>
